[2015-09-26 02:01] timabbott opened #1 "Update login form to support zulip servers that aren't zulip.com"
The most important feature missing from the Android app right now is that it currently hardcodes talking to zulip.com.  It should be a pretty straightforward change to have the user type in their server on the login page.

[2015-09-26 16:44] bhaskarmurthy opened #2 "Switch to gradle builds"

[2015-09-26 17:04] RX14 commented on #2
:+1:

[2015-09-26 18:26] RX14 commented on #2
I have made preliminary work [here](https://github.com/RX14/zulip-android), but to be honest, I have never developed for android before and I have no idea what i'm doing... It builds though, no idea if it works, or if unit tests work, so I won't PR. Feel free to fork and improve, and PR.

[2015-09-26 19:50] sv244 commented on #2
+1

Wanted to open an issue about this myself. I'll look into it if I have some time.

[2015-09-27 00:20] Macbet2 opened #3 "Can't build app from source"
When i try build app from source i get this errors
     [echo] Handling BuildConfig class...
[buildconfig] Generating BuildConfig class.

-pre-compile:

-compile:
    [javac] Compiling 46 source files to C:\Users\username\Desktop\zulip-android\bi
n\classes
    [javac] warning: [options] source value 1.5 is obsolete and will be removed
in a future release
    [javac] warning: [options] target value

[2015-09-27 09:39] sv244 commented on #3
You're missing a library.

[2015-09-27 10:03] Macbet2 commented on #3
yeah i change google-play-services target to android-20 ant build app

[2015-09-27 21:37] willdeed commented on #1
+1 to this. I'm not sure it's that straight forward as there may be UI changes and other use cases to consider when dealing with a connection to a server that's not controlled by Zulip, but it's definitely an important feature from my perspective as well.

I wish I could help with the coding, but I'm lacking the Android dev skillz.

[2015-09-27 22:01] ibit commented on #2
[here] (https://github.com/ibit/zulip-android) is my take on the gradle migration.
Everything compiles.
* I didn't have the Crashlytics API key, so I've commented it out.
* Play services might not work. I used the latest.

[2015-09-27 22:39] sv244 commented on #2
The Crashlytics API key is in the AndroidManifest?

[2015-09-27 23:06] AndyScherzinger commented on #2
@RX14 with my PR is basically the same thing as @ibit's Android-22, no Crashlytics (due to no key in place) but I bumped the minSdk to 13. So I guess any of the two should be fine.

[2015-09-28 03:54] scar45 commented on #1
I was tinkering with it tonight, and I was able to get the app building via Gradle in Android Studio after fixing Play Services and commenting out Crashlytics.

I was then able to change the URL that the Android app uses to authenticate against in **ZulipApp.java @ L:126**:

[code]

...and when debugging, I see it hit that connection, then (presumably) after my login is validated, it POSTs "v1/fet

[2015-09-28 12:17] leoluk commented on #1
Needs a custom Google API key too: https://github.com/zulip/zulip-android/blob/3f58f50112dc6ec1683570f90ee56a78805809bf/src/com/zulip/android/Notifications.java#L21

[2015-09-28 13:30] dmorrison42 opened #6 "Crash on First Launch"
Zulip crashes on my Nexus 7 when launching immediately after installation.

Reproduction Steps
-------------------------
0. Ensure Zulip is removed
1. Install Zulip via the Google Play store
2. Press Launch
3. Notice app does not launch

Expected Results
----------------------
Zulip login form is displayed.

Actual Results
-------------------
A white pane is briefly displayed and closes.

Work Aro

[2015-09-29 02:27] scar45 commented on #1
Nice find @leoluk -- I will look into registering a Google API Key. I do have a question about the counterpart in zserver though. I setup Zulip on my own VM using the production tarball. It appears that after editing /etc/zulip/settings.py, the file contents get copied to /home/zulip/deployments/current/zproject/local_settings.py, which is the file above that you referenced.

In my copy, there is

[2015-09-29 06:02] leoluk commented on #1
The key is for Google Cloud Messaging, too, which is necessary for push messaging.

[2015-10-04 11:07] wolfen351 commented on #1
+1 me too, i have some basic android skills, will try work on it in the next few days

[2015-10-05 18:05] MarcoPolo opened #7 "License?"
Just to be safe can we add the [same](https://github.com/zulip/zulip/blob/master/LICENSE) Apache V2 License to this? (and while we're at it I think ios needs it too)

Thanks!

[2015-10-05 18:48] #7 closed

[2015-10-09 10:38] pkaske commented on #1
+1

[2015-10-10 04:16] bgilbert opened #8 "Allow sending messages directly from message view"
Allow sending messages from a text box at the bottom of the message view, as in the web app, and eliminate the modal Compose dialog.  This would improve consistency with other Android applications (e.g. Hangouts) and eliminate several problems with the Compose window:

- It covers the discussion being replied to.
- It's not very tall, so long replies are hard to write.
- Accidentally pressing the

[2015-10-19 01:19] bgilbert opened #9 "Muted topics are not hidden"
Incoming messages on muted topics are not hidden, either in the home view or in views of individual streams.

[2015-10-19 01:25] bgilbert opened #10 "Add a way to mute a topic"
There doesn't seem to be any UI for muting a topic.

[2015-10-19 01:36] bgilbert opened #11 "Autocomplete users and emoji during message composition"
Without autocompletion, both user `@mentions` and `:emoji:` are difficult to include in messages.

[2015-10-19 01:49] bgilbert opened #12 "Allow narrowing to individual topics"
It's possible to narrow to a particular stream, but there doesn't seem to be any way to narrow to a particular topic.

[2015-10-19 01:50] timabbott commented on #12
Yep this feature does not exist.

[2015-10-19 01:51] timabbott commented on #9
Yep muted topics are not supported in the Android app.

[2015-10-19 01:53] bgilbert opened #13 "Realm emoji are not displayed"
Realm emoji are completely omitted from rendered messages; neither the icon nor the `:markup:` is shown.  This can be very confusing, since it may not even be clear from context that part of the message is missing.

[2015-10-23 09:54] wolfen351 commented on #1
@scar45 How's this one going?

[2015-10-23 11:06] scar45 commented on #1
@wolfen351 - TBH, life has got really busy for me and I am not sure when (or even if) I'll be able to throw more time at this. I didn't rush into registering a GCM API Key just yet, so that remains, and probably a URL chooser in the form of preferences. I had hardcoded it during testing which of course would need to be changed.

If I do end up getting time, you can bet that I'll clean my code and

[2015-10-26 00:30] phillipm commented on #1
I found another hard-coded client id at https://github.com/zulip/zulip-android/blob/master/src/com/zulip/android/LoginActivity.java#L164

Must still be missing something because after setting that and the instances mentioned above I still wasn't able to login into a self-hosted Zulip instance on the Android app using Google+

[2015-10-26 05:00] wolfen351 commented on #1
@phillipm That's great news! My cert is not self signed, so it could theoretically work for me at this point then?

[2015-10-27 10:57] casimirextreme commented on #1
For the ssl certificate, you can use free ones like those from https://www.startssl.com/

I'm using it on my zulip instance, it works fine. Just FYI.

[2015-11-01 21:52] ff- commented on #1
SSL doesn't work sometimes because of SNI: the Apache Http lib doesn't support it, and in case of virtualhosts the ssl auth fails even if the Certificate is perfectly valid and trusted (such as in case of StartSSL ones).

For this reason trying to make this app work I rewrote the `HTTPRequest` class using the native `HttpURLConnection`, and now SSL works perfectly. @timabbott mind if I open a pull

[2015-11-02 03:07] timabbott commented on #1
Yeah @ff-  a pull request that makes progress but doesn't completely solve things is totally welcome

[2015-11-02 10:29] ff- commented on #1
@timabbott thanks! I just read in the pull request comments that actually there isn't a "mantainer" doing code reviews on the app; any news on that?

[2015-11-02 14:29] ff- commented on #6
Happens to me too. Relevant stack trace:
[code]

[2015-11-02 14:32] ff- opened #14 "Server flooded, returns 500"
When the app connects to the server it starts flooding it with requests - then the server enters in rate limiting mode, and returns `Internal Server Error`, making the app impossible to use (for example it is impossible to send messages).

[2015-11-02 14:38] ff- opened #15 "Integration bots profile image make the app crash"
When there's a bot in the stream, the app tries to fetch its profile image from Gravatar, while its url is a relative path for the server.

[2015-11-02 18:15] lfaraone commented on #15
Can you include the stack trace and the URI its trying to fetch?

[2015-11-02 18:41] ff- commented on #15
@lfaraone in the meanwhile I just fixed this, should I directly open a pull request?

[2015-11-02 18:46] lfaraone commented on #15
sure, thanks! go ahead.​

[2015-11-03 12:06] excieve opened #18 "Support for custom server domains"
Please add custom Zulip server domain configuration for self-hosted setups.

[2015-11-03 12:59] ff- commented on #18
@excieve this is already discussed in #1

[2015-11-03 13:57] excieve commented on #18
@ff- sorry, was searching by "domain" and didn't find anything. Closing this one.

[2015-11-03 13:57] #18 closed

[2015-11-07 00:12] ff- commented on #14
Further investigating on this, it seems that the application polls the APIs (without even a Timeout) in `AsyncGetEvents.run()`.

And maybe this happens because a self hosted server doesn't (always) have a GCM id.
Since we do already have a RabbitMQ instance running, could it be worth to use [RabbitMQ for push notifications](http://stackoverflow.com/questions/24404993/google-cloud-messaging-vs-rabb

[2015-11-08 06:48] bgilbert commented on #12
Turns out it does exist: long press on a message, then tap "Narrow to this topic".

[2015-11-08 06:48] #12 closed

[2015-11-08 06:50] bgilbert commented on #10
This could go in the context menu available by long-pressing a message.

[2015-11-09 18:57] timabbott commented on #14
In theory that function should be using exponential backoff in the event it gets an error:
https://github.com/zulip/zulip-android/blob/master/src/com/zulip/android/AsyncGetEvents.java#L54
So I think the problem is not that we're polling but that there's an error handling case there that isn't working properly.

[2015-11-09 20:00] earplay commented on #6
Replicated
Nexus 6
Android 5.1.1
Kernel 3.10.40-gc16a3c6

[2015-11-15 03:11] zaafar commented on #1
For those android developers seeking to make the android client work for custom server domains. You can bypass the android app login ( username, password or google auth login ) by getting the private API key from settings->show/change your API key (login via web browser) and inserting it manually into the application code. However, custom servers still need to have a valid SSL certificate (i.e. no

[2015-11-15 06:13] wolfen351 commented on #1
@zaafar Is there a way to add this setting (api-key + url) to the settings.xml directly on a rooted phone. I ask because I still want to use the official version if possible?

[2015-11-15 10:07] zaafar commented on #1
@wolfen351 TLDR; url=No, api-key=Yes.
As custom server url is hard coded into the application source code, so you need to modify the APK or change the source-code to accept the "custom server" url form a textbox or xml file.

For api-key, yes you can only do that in a rooted phone by adding/updating the value of "api_key" in "/data/data/com.zulip.android/shared_prefs/HumbugActivity.xml". Note: In

[2015-11-17 08:13] leoluk commented on #1
Someone suggested using SRV records for this: https://github.com/zulip/zulip-desktop/issues/7

I think it's a great idea.

[2015-11-27 10:47] npcode opened #19 "App crashes after login"
I modified and rebuilt the zulip app to connect my own zulip server. Then I installed it and ran it in my phone.

When I put my email address and password and click login button, the app crashes after showing a spinner for a while.

My zulip server seems to log the access from the app successfully.
[code]

ps. My zulip server is configured to use LDAP.

[2015-12-08 02:04] semipermeable commented on #6
Replicatd on Nexus 5x, Android 6.0, kernel 3.10.73-g60cf314

[2015-12-31 14:20] MetalCanine commented on #6
Replicated
Samsung Galaxy Tab E
Android 5.1.1
Kernel 3.10.49-6302417

[2016-01-11 11:39] raicabogdan commented on #19
If you still require help on this, could you include a logcat of the error ?

[2016-01-14 05:50] wolfen351 commented on #1
I agree, think the DNS solution is the most scalable and elegant

[2016-02-04 00:53] MarkCupitt opened #24 "Zulip Android has been Converted to a Gradle Project (Android Studio)"
Check out https://github.com/MarkCupitt/zulip-android-gradle/

Also added server url on login screen to mimick iOS

There is a debug APk in the APK Dir to try

[2016-02-15 19:11] ywecur commented on #6
Me too
Nexus 6P
Android 6.0.1

[2016-02-18 01:20] sujaysudheenda commented on #24
Are you currently working on this issue? will be able to complete this soon? just curious since I was trying to build zulip on android studio and was not able to succeed if this issue will be solved soon then it would greatly help :)

[2016-02-28 22:48] casdr commented on #1
Any update on this? The app is pretty useless for new accounts now.

[2016-03-03 01:34] lfaraone commented on #24
Dup of #2

[2016-03-03 01:34] #24 closed

[2016-03-03 01:36] lfaraone commented on #3
Since this app hasn't (yet) been moved to gradle, and whatever issues here will be hopefully fixed when that lands, closing.

[2016-03-03 01:36] #3 closed

[2016-03-03 01:40] lfaraone commented on #2
Hey folks,

I want to thank @ibit , @ff-, @kosiara, @raicabogdan, and @kunall17 for their PRs, and apologize for the radio silence here :(

I'm going to try to merge something that unbreaks master and incorporates the relevant fixes people contributed this week.

[2016-03-13 20:08] lfaraone commented on #2
Done in ccb8836.

[2016-03-13 20:08] #2 closed

[2016-03-13 20:41] #6 closed

[2016-03-13 21:20] lfaraone commented on #19
Fixed in 6c91ca7d

[2016-03-13 21:20] #19 closed

[2016-03-14 00:35] timabbott commented on #2
Thanks for taking care of this Luke!!!

[2016-03-17 22:18] web-mi opened #28 "Multi platform app (iOS, WinPhone, Android, etc)"
Hi,

i already started working on a AngularJS app with phonegap because i don't think a native app for each platform is needed and brings a huge workload for a open source project.
Because it's my first app i already tried to upload the app to the store and on windows phone (haven't tried if it works currently because i have no phone available) and android its already available. iOS is in progress

[2016-03-20 21:46] kunall17 opened #29 "Best Network Library suited for Android Project"
As I and @timabbott had a conversation for the best network library suited for the project I did some test's for 4 libraries which are HttpURLConnection, Retrofit, Volley and the current Apache Client.

I did these test on a 1.5 Mbps internet connection to fetch from the server having custom headers for authorization and record the time taken in millisecond. Total size to fetch was **487 Kb**

So

[2016-03-21 00:30] timabbott commented on #29
Cool, yeah, that seems like reasonably compelling evidence that Retrofit is faster (at least on your test network) and less code.

[2016-03-23 03:32] ryansnowboarder commented on #29
Hmm... interesting! 487 Kb sounds reasonable for what that app would normally fetch upon startup. The REAL question: is that time difference actually a significant contribution to speeding up the app startup? I'm sure there's some other things going on that might slow things down...

[2016-03-23 03:37] ryansnowboarder commented on #29
Would you happen to have a speed test screen capture for that internet connection? I'm curious as to what the latency of the connection was - not that it's a likely issue we're all being sent through a proxy on a satellite, but might as well cover all the bases.

[2016-03-23 03:41] ryansnowboarder opened #31 "Please put SOMEWHERE easy to find that building requires Gradle 1.5"
For new developers, please give them the heads up that building the project requires Gradle 1.5. We could add a "+" to the gradle.build file so that Gradle versions 1.5 or newer can be used, but that might lead to unpredictable and non-reproducible errors because different builds could use different versions of Gradle.

[2016-03-23 11:14] kunall17 commented on #29
@ryansnowboarder Yeah definitely, I did these tests in night time so i'll send you the latency test's in night as the speeds in my hostel vary significantly in day and night (less number of users in night).

[2016-03-23 21:28] ryansnowboarder commented on #29
@kunall17 - thanks! Another thought (sorry to poke holes in your test, but those results are very strange to me now I think about it and I would be more worried if your test turns out to be solid):

You said: "I did these test on a 1.5 Mbps internet connection to fetch from the server."

 So, clearly we're not downloading at anything close to an average of 1.5 Mbps if it taking 2800+ ms to fetch 4

[2016-03-24 09:10] niftynei commented on #29
This is unsolicited and shouldn't impact your speed.tests and I apologize in advance for the pedantry, but it's worth pointing out that Retrofit itself isn't a.networking library -- it's a wrapper for network call object marshalling.

The networking library that backs Retrofit is OkHttp. Since it appears you're using the speed test as a proxy for picking the best library, it may be worthwhile to m

[2016-03-24 19:48] ryansnowboarder commented on #29
"It occurs to me that one of the explanations for the difference in timings
btw the libraries may be not necessarily the network call but instead your
json to POJO marshalling code. I haven't looked at.your test code so please
disregard this if you've already accounted for that."

Yes, absolutely! There's tons of different things going on and transferring
data over the net is just one of them.

On

[2016-03-25 20:18] niftynei opened #34 "Allow narrowing to stream / thread"
On the web interface, clicking on the stream or thread will narrow the view to just those messages.  The Android app should do the same.

[2016-03-25 22:32] bgilbert commented on #34
It does: just long-press on the message and select the appropriate narrow command.

[2016-03-25 23:05] #34 closed

[2016-03-26 00:56] niftynei commented on #34
Oh cool. That's a hard to discover feature. It's good to know it exists.

It's worth pointing out that that doesn't address the issue highlighted in this ticket -- that the Android app behavior is different than the web client, which is what this issue proposes fixing.

[2016-03-26 01:03] niftynei commented on #34
Hm. I realized that this intent wasn't explicit in the message title, owing to the fact that I was under the mistaken assumption the functionality didn't exist. Thanks for pointing it out!

[2016-03-26 12:04] kunall17 commented on #29
@niftynei thank you for the information you gave. I am aware of the fact that there are many more factors than speed, well it was a starting step for searching the right library, I will test using the OkHttp as well very soon.
Currently I have not done the parsing of the JSON just downloaded the JSON, will test them as well.

@ryansnowboarder "**If someone else on the network suddenly decides to d

[2016-03-26 15:44] niftynei commented on #29
Retrofit lets you pick both your networking library and the JSON / data converter so you could make those decisions independently of whether to use Retrofit or not.

Retrofit has one of the more concise APIs for making network calls & it works well with RxJava, if that's a consideration.

I'm not sure I understand the motivation for testing the library tbh. OkHttp vs Apache is a good test. GSON vs

[2016-03-26 20:42] lfaraone commented on #31
Hm, perhaps I'm missing something. I see we have a requirement:

[code]

… but yet I seem to be using Gradle 2.8 just fine:

[code]

[2016-03-26 23:02] ryansnowboarder commented on #31
I too tried to compile with Gradle 2.8, which was right after I cloned the
repo, and it failed. Then I added Gradle 1.5 so that I have both Gradle 2.8
and Gradle 1.5. Now it compiles just fine. This is weird...

On Sat, Mar 26, 2016 at 4:42 PM, Luke Faraone <notifications@github.com>
wrote:

[2016-03-29 14:29] niftynei opened #39 "Narrow to @ messages"
Is there a way to narrow to @-messages in the app?  Perusing the app, I haven't been able to find one.

[2016-03-29 15:50] timabbott commented on #39
I don't think so.  Would be a great feature certainly, and fairly implementable since whether or not the user has been mentioned is tagged in the `flags` field on the message objects sent from the server.

[2016-04-01 15:46] niftynei opened #43 "Make it possible to see previous message when replying"
Right now when you reply to a message, there's no easy way to see what the previous message was. It'd be nice to change the reply-to message dialog to an interface that allows you to view the previous message more easily.

Here's some examples of how other apps have fixed this:
- Twitter: pull down to view previous tweet
- Slack/Hangouts: response box is inline to the message stream

![screenshot_

[2016-04-08 03:50] #31 closed

[2016-04-08 04:00] ryansnowboarder opened #44 "Have Questions - Profiling App Startup"
I'm attempting to profile the app with Debug.startMethodTracing() and Debug.stopMethodTracing(). I've got some questions about the app:

1) What do I use to login - credentials, run zulip dev server, etc.?
2) Where is a good place to stop method profiling of app startup (I was thinking end of loginActivity)?

I was thinking of separating method and function calls into independent of internet and d

[2016-04-08 04:01] ryansnowboarder commented on #44
@timabbott?

[2016-04-08 17:30] ryansnowboarder opened #46 "Crashlytics Error"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.zulip.android/com.zulip.android.ZulipActivity}: com.crashlytics.android.CrashlyticsMissingDependencyException:
                                                                 This app relies on Crashlytics. Configure your build environment here:
                                                                 https://crashlyti

[2016-04-08 18:03] ryansnowboarder commented on #43
I'm trying to fix some things on the Android app and I'm hitting a wall while logging in. How do I do that (requires a @zulip.com login)?

[2016-04-08 18:04] ryansnowboarder commented on #1
I'm trying to fix some things on the Android app and I'm hitting a wall while logging in. How do I do that (requires a @zulip.com login)?

[2016-04-08 18:05] ryansnowboarder commented on #15
I'm trying to fix some things on the Android app and I'm hitting a wall while logging in. How do I do that (requires a @zulip.com login)?

[2016-04-08 18:06] ryansnowboarder commented on #9
I'm trying to fix some things on the Android app and I'm hitting a wall while logging in. How do I do that (requires a @zulip.com login)?

[2016-04-08 18:54] niftynei commented on #46
Yeah, Crashlytics is out of date.  That error should be fixed in master now tho.  Can you check that you've pulled the latest from master and that you're building the `debug` version of the app?

[2016-04-08 18:55] niftynei commented on #43
duplicate of #8

[2016-04-08 18:55] #43 closed

[2016-04-09 04:21] timabbott commented on #44
The short answer is that you can use this hack:
https://github.com/zulip/zulip-android/blob/dfdf23a7769fa4602735c13dfe95c21f6b913337/app/src/main/java/com/zulip/android/ZulipApp.java#L134
which means that if you try to login as iago@zulip.com, it should connect to a local development environment running on your laptop.

We should both document this mechanism and also provide an improved workflow;

[2016-04-12 06:07] timabbott opened #47 "Support using the app with multiple realms without constantly logging in/out"
It's likely that we'll have an increasing number of users using Zulip in multiple realms (or even servers), and it'd be great for the Android app to support being logged into multiple accounts at the same time.

There's probably a lot of UI details to figure out to make this work...

[2016-04-12 06:10] timabbott opened #48 "Build a slick login experience when DevAuthBackend is enabled on web"
This is probably actually a joint Android/server project, but it'd be great if when you pointed the Android app at a Zulip server that's using DevAuthBackend (which shows the grid of users to login as on the web for development), if we could provide a similar experience on mobile where it just shows a list of users and you can click to login as any of them, so one doesn't need to spend time dealin

[2016-04-12 06:14] timabbott opened #49 "Fetch Google OAUTH public key from the server rather than hardcoding zulip.com's"
This is required to support Google auth with non-zulip.com servers, and thus is a natural follow-up to #1.

See https://github.com/zulip/zulip/issues/102 for details on the backend change that now supports doing this fetching.

[2016-04-12 16:26] niftynei commented on #46
Closing; this issue has been resolved in master.

[2016-04-12 16:26] #46 closed

[2016-04-12 21:58] ryansnowboarder commented on #47
If it's one user with multiple accounts, I think it would be a nuisance to switch back and forth between accounts on a front-end UI. Could we blend multiple accounts into the same UI - that is, show multiple account data blended together so it's one front-end experience with multiple back-ends?

[2016-04-12 22:07] ryansnowboarder commented on #48
I'll work on this after I finish profiling the app startup, which should be sometime today or tomorrow.

[2016-04-12 22:08] ryansnowboarder commented on #49
I could work on this after doing #48...

[2016-04-13 04:40] ryansnowboarder opened #50 "login to local dev server through Android device on WiFi or emulator"
I've tried the following on WiFi with the login (iago@zulip.com):

- fresh pull of zulip dev environment (12:00AM, EST, 4/13/2016)
- Allow inbound to port 9991 in TCP & UDP in firewall and allow connection from Android device (192.168.1.2)

1. Grab the ip address/port of the host PC (192.168.1.6:9991) and connect to that in the app  on device (failed)
2. Grab the ip address of the guest machine/po

[2016-04-13 04:42] ryansnowboarder commented on #44
I've been fussing around with different versions of that hack for a few hours and haven't had any luck. See my latest issue for details.

Once this gets figured out I'll be happy to document it.

[2016-04-13 20:09] niftynei commented on #50
The `iago` hack is intended to work for reaching a local instance of Zulip via the Android _emulator_, number 4 in your list of things that you've tried.  This is unsupported so I'm afraid I can't offer you much advice or help with this; if you're able to get it working, feel free to submit a pull request with the changes you needed to make.

Work is currently being done to allow users to log in t

[2016-04-13 20:09] #50 closed

[2016-04-24 23:19] niftynei commented on #49
There's some limitations with the Google Oauth APIs for android that limits our ability to do this, see this [zulip-devel](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/zulip-devel/i4682LzDUKw/qxYMvkgNAwAJ) thread for context.

Barring a solution from Google, the best alternative is to allow users to auth themselves with Google via a WebView.

[2016-04-24 23:20] niftynei commented on #9
Fixed as of #42.

[2016-04-24 23:20] #9 closed

[2016-04-28 23:53] timabbott opened #57 "Display unread counts and simpify navigating through unread messages"
Currently, unread counts are not displayed very prominently in the Android app; ideally there'd be a nice flow for looking through just the stream/topic pairs that have unread messages in sequence.

[2016-04-29 03:57] timabbott opened #58 "Expand documentation on getting started developing on Zulip Android"
It'd be great if the Zulip Android app had a "getting started" tutorial and had links to general "getting started" guides for Android.

[2016-05-24 20:52] niftynei commented on #1
This has been mostly resolved as of #52 .  There's still a bit to be worked out to allow G+ authentication for non-Zulip domains.  I'll open a new issue to track that last piece of work separately.

This functionality will be released in the next app version. :)

[2016-05-24 20:52] #1 closed

[2016-05-24 20:52] niftynei opened #64 "Allow non-Zulip.com installs to login via Google Auth"
Currently only Zulip.com realms are eligible for Google Auth login via the app.

[2016-05-24 20:53] niftynei commented on #1
Update: see issue #64

[2016-06-21 21:35] #8 closed

[2016-06-21 21:35] niftynei commented on #8
This enhancement will go out in the next full build.

[2016-06-21 21:39] timabbott commented on #8
Yay!

[2016-07-07 00:10] timabbott commented on #58
We should be sure to add notes on how to use DevAuthBackend here.  See https://github.com/zulip/zulip/pull/851#issuecomment-227765373 and following discussion for some notes on how to do this.

[2016-07-07 06:40] kunall17 commented on #58
@timabbott Yeah sure, I'll write documentation!

[2016-07-07 15:32] niftynei opened #80 "Dev Backend button doesn't show errors"
I have two suggestions for improvement with the Dev Backend button.

1) There's no spinner when you click on the "Dev Backend testing server" button to let you know that it's talking to the server.
2) If there's any errors that occur after clicking "Dev Backend testing server", they aren't shown

cc @kunall17  :)

[2016-07-07 15:36] niftynei commented on #80
Another thing: when I logged in as `iago` it spun forever on the client.  The server had this error message:

[code]

[2016-07-07 16:06] niftynei commented on #48
This has been merged! :)

[2016-07-07 16:06] #48 closed

[2016-07-09 05:05] kunall17 commented on #80
@niftynei `{"msg":"You are not authorized to get events from this queue", "result":"error"}` This is weird I never encountered this message? Were you logged in before and then logout and tried this?

[2016-07-09 05:09] kunall17 opened #82 "Display messages even when offline"
Currently we do not display the old stored messages when the application is started in offline!
We could disable the chatBox till the user stays offline or maybe allow them to write and save the messages in outbox and send the message when the user connects to internet!

[2016-07-11 17:24] niftynei commented on #80
@kunall17 Yep!  It's possible something on my backend is configured incorrectly.

[2016-07-11 18:03] kunall17 commented on #80
_2) If there's any errors that occur after clicking "Dev Backend testing server", they aren't shown_
fixed by #69

[2016-07-11 21:59] niftynei commented on #80
@kunall17 I haven't checked, but I verified that errors are shown now, so it's not a high priority.

what are your thoughts on adding a spinner while the dev backend call is run?

[2016-07-12 13:49] niftynei commented on #14
As part of the move to OkHttp #69 , we added a wait to the run loop so that the server doesn't get flooded.

https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/networking/AsyncGetEvents.java#L167

[2016-07-12 13:49] #14 closed

[2016-07-12 13:53] #44 closed

[2016-07-12 13:53] niftynei commented on #29
Converted to OKHttp with #69 . 🎉

[2016-07-12 13:53] #29 closed

[2016-07-12 13:56] niftynei commented on #28
Hey Marc, thanks for the note about the AngularJS project you're working on.  Zulip's got an active (google-group)[https://groups.google.com/forum/#!forum/zulip-devel] that's a great place for this kind of announcement (sorry, I don't know JS!)

[2016-07-12 13:56] #28 closed

[2016-07-13 22:21] timabbott opened #86 "Google auth doesn't allow switching accounts"
On current master, if you login with one Google account, and then log out, and then click the "sign in with Google" button, it doesn't present a picker for which Google account to use -- it just logs you in with the same Google account you used originally.

[2016-07-13 22:23] timabbott opened #87 "Google auth option is obscured by the text box to enter your email address"
The text box that pops open when you arrive on the login page covers over the "Sign in with Google" option, which makes it hard to notice Google signup is available (since you have to hit the back button to see it).

[2016-07-13 22:26] timabbott opened #88 "Remove "Use zulip.com" checkbox and optimize flow for entering server domain"
zulip.com is ceasing to exist at the end of the month (the users will be migrated to a new server, but the new server setup will probably use a different URL per team (https://github.com/zulip/zulip/pull/1154), so I think we probably just want to get rid of the "use zulip.com" checkbox. It might make sense to just move the login flow to have a 2-step process; with first screen that lets you either

[2016-07-13 22:29] timabbott opened #89 "Make it clear that there are no messages when narrowing to a view with no messages"
It'd be great to have a nice clear message indicating that there's never been any messages in a stream/PM thread when you narrow to it via the app rather than just showing a completely empty feed; currently one can be left worrying that maybe there is traffic but the app failed to download it.

[2016-07-13 22:39] timabbott opened #91 ""Reply to Sender" feature doesn't work"
This feature is reached by long-pressing on a message.  Rather than starting to compose a private message to the sender, it instead does the same thing as "Reply to stream".

[2016-07-13 22:50] timabbott opened #92 "Add a way to hide the compose box"
While having the compose box show up inline is useful, it'd be nice to have a way to hide it for when you just want to have more screen real estate for reading messages (especially relevant when using the app in landscape orientation).

[2016-07-13 22:52] timabbott opened #93 "long-pressing on a message's sender bar doesn't do anything"
It appears that you need to long-press on the message body, not the recipient bar, in order to pop up the long-press menu.  Is there a reason we shouldn't have long-pressing on the recipient bar pop up the long-press menu?

[2016-07-13 22:54] timabbott opened #94 "long-pressing and then selecting a narrowing option opens keyboard tray"
When you long-press on a message and then select "Narrow to topic" or "Narrow to stream", it opens up the keyboard tray, filling much of the screen.  Since the user selected a narrow option (rather than one of the "reply" options), probably they just want to narrow and see the messages, not start composing a reply.

[2016-07-13 23:47] rishig opened #95 "Screenshot for app install is broken"
This is what I got; not sure what the underlying problem is.
![screenshot_20160713-163250](https://cloud.githubusercontent.com/assets/890911/16823469/66ff8808-4919-11e6-9155-de0d4e68be12.png)

[2016-07-14 17:11] timabbott opened #96 "Hang starting app after it has been offline for more than 10 minutes"
On @rishig's phone, the app got into a state where when started, it just hangs.  Here's the relevant log output:

[code]

I think the problem is that our event queue code isn't correctly handling the `Bad event queue id` error code; that error isn't a transient error (where one should retry); instead, it indicates the device's event queue has been garbage-collected by the server and the app should

[2016-07-14 17:28] kunall17 commented on #86
New AppAuth for google sign in has it's PR here https://github.com/zulip/zulip-android/pull/70 will check for this bug once new API's get's merged in.

[2016-07-14 17:41] kunall17 commented on #94
Will be fixed in #81, there are some bugs in this PR as well, once they are sorted out we'll get this merged!

[2016-07-14 17:41] kunall17 commented on #93
Will be fixed in #81.

[2016-07-14 17:41] kunall17 commented on #91
Will be fixed in #81,

[2016-07-18 22:18] kunall17 commented on #92
This would really nice to have, I created two ways for this issue one is hiding chatBox and toolbar on scroll and the other one is implementing a FloatingActionButton to show the keyboard on clicking it displays the chatBox and hides it after some seconds (5 secs in the gif), in both these when coming down hide the views and when moving up the list it shows the views.

[Preview of FloatingActionBu

[2016-07-18 23:31] niftynei commented on #89
This is a great suggestion. @kunall17 I wonder if adding a FAB (FloatingActionBar) would be a good  way to hide it?

[2016-07-18 23:32] niftynei commented on #96
This has been merged. I couldn't reproduce the issue after the fix. @timabbott can you verify the fix and close this issue if it's resolved?

[2016-07-18 23:32] niftynei commented on #95
@rishig can you describe the steps you took to arrive in this state?

[2016-07-18 23:33] timabbott commented on #95
I get the same thing -- the process was just installing via the beta link

[2016-07-18 23:35] niftynei commented on #92
@kunall17 the FAB looks great!  Once you have the chat box open, how would you collapse back into the FAB again?

[2016-07-18 23:35] #80 closed

[2016-07-18 23:36] timabbott commented on #96
Seems likely it's fixed -- the mechanism was pretty clear.  We can close as resolved and reopen if we see the issue again (it happened pretty quickly in actual use).

[2016-07-18 23:36] #96 closed

[2016-07-19 00:38] niftynei commented on #95
This will need to be fixed via the Google Dev Console.  See the "Feature Graphic" section [here.](https://support.google.com/googleplay/android-developer/answer/1078870?hl=en)

[2016-07-19 00:40] timabbott commented on #95
@niftynei OK do you want to pick out a set of screenshots that we want to upload there as a replacement?  I think once we have that, it should be easy for Luke to update.

[2016-07-19 00:51] #87 closed

[2016-07-19 06:33] kunall17 commented on #92
When chatbox is displayed after some time [5 seconds in the gif] it would hide the chat box and bring up the FAB, I will add some checks if the user is using the chatbox edittexts it would not hide.
And on scroll if the chatbox is displayed it would hide the chatbox.

[2016-07-20 14:36] kunall17 commented on #92
@niftynei @timabbott need your final suggestions on this one! I have to implement this in #81
I'm with FAB method, looks more clean and no bugs which will occur in hiding chatBox as it will overlap the list!

[2016-07-20 18:22] timabbott commented on #92
That approach sounds reasonable to me!

[2016-07-20 18:24] timabbott commented on #92
(Though I'd consider implementing it as a new PR rather than part of #81, since #81 is already a very large PR, and it can often slow down actually merging changes to keep adding additional new features to an existing PR)

[2016-07-20 20:34] kunall17 commented on #92
Well AFAIK for coordinator layout scroll flags listView is not supported, a recyclerView is needed for the scroll flags so I will have to add the commits in #81!

[2016-07-26 11:56] ragsagar opened #103 "Crash on launching in Nexus 5x"
I installed zulip app from play store in my Nexus 5x with Android version 6.0.1. Whenever I try to launch the app, it is crashing immediately . Attaching the log I caught from Android Monitor in Android Studio.

[zulip_android_crash.txt](https://github.com/zulip/zulip-android/files/383725/zulip_android_crash.txt)

[2016-07-26 18:17] timabbott commented on #103
I think this is a duplicate of #6, the fix to which sadly hasn't made it into the Android play store yet...

[2016-07-26 18:17] #103 closed

[2016-07-26 18:20] brainwane commented on #103
@ragsagar thanks for reporting it!

[2016-07-26 19:45] timabbott opened #104 "Don't auto-open compose box when narrowing to a stream/topic pair"
Users are most likely to want to read messages (and only sometimes will want to compose a reply; and even if they do they probably want to read the messages first), and opening the compose box hides most of the message feed, so I think it'd probably be better to not auto-open the compose box.

[2016-07-26 19:46] timabbott opened #105 "Close stream sidebar when narrowing to a new stream"
When you narrow to a stream in the Android app, it leaves the stream sidebar open.  While this is nice for if they want to now re-narrow to a topic within the stream, I imagine it'd be far more common that they want to see the actual messages in the stream (and one can always pull out the sidebar again to renarrow to a topic).

[2016-07-26 19:48] timabbott opened #106 "Clear topic expansion in streams drawer when unnarrowing/renarrowing"
Currently, after a user narrows to a bunch of streams, the streams drawer leaks all of the topic lists being open, which obscures the list of streams available to narrow to.

[2016-07-27 21:59] brainwane commented on #1
The beta channel app does have this feature. You can join the Zulip app's beta channel at https://play.google.com/apps/testing/com.zulip.android , after which the Play store should auto-update you.

[2016-07-28 06:14] rwbarton opened #109 "Custom zulip server defaults to http"
I see there was a PR specifically changing this (#78), but from an end-user perspective I don't understand the change. Won't real Zulip servers run over https? It wasn't obvious to me that I had to add https:// to my Zulip server name.

[2016-07-28 22:13] timabbott commented on #109
Yes, this should default to HTTP.  I bet the HTTP change was to make it work nicely with a development environment running on localhost, but we should never use HTTP in production.

[2016-07-29 00:10] timabbott opened #111 "Set user-agent properly for requests to the server from the Android app"
Based on server logs, it appears this regressed with the switch to the okhttp library, I think.

[2016-07-29 01:08] timabbott commented on #111
(In theory we probably want the user-agent to be something nice indicating it's the Zulip Android app and what version of the Zulip Android app it is)

[2016-07-29 08:44] kunall17 commented on #109
OkHttp supports redirect from http to https, I'll implement code to save the server url after it redirects when we fetch the `"v1/get_auth_backends"` in #101 branch.

[2016-07-29 15:59] timabbott commented on #109
From a security perspective, we should try HTTPS only by default.  Otherwise, the app might be vulnerable to man-in-the-middle attacks.

[2016-07-31 20:09] kunall17 commented on #109
So should we not allow them to use https or show a message that if you don't use https there can be security issues?

[2016-08-01 03:03] timabbott commented on #109
I think we should require HTTPS, with a special exception for the development environment (can we e.g. check this by IP address or something else that's not doing a fetch over HTTP)?

[2016-08-01 07:31] kunall17 commented on #109
We can check for development server by a new api route, for fetching `settings.PRODUCTION` in the server?

Maybe we can do like this, if they specifically mentioned http in the server url then we use http showing user a message that its not recommended over http and if not specified then we connect over https?

[2016-08-01 08:29] pkaske opened #112 "Notification support"
It seems there is no way to have notifications when new messages arrive. Am I overlooking something?

[2016-08-01 15:13] rwbarton commented on #109
That sounds good to me.

[2016-08-01 16:21] lfaraone commented on #109
So if you incorrectly specify "http://zulipchat.org", an active MITM can force a downgrade.

I'd prefer that using HTTP either require a very onerous opt-in or require running a development build of the app.

[2016-08-01 19:54] timabbott commented on #109
Yeah, I was going to say the same thing.  Let's just default to HTTPS, and if they hand-specify HTTP, show a warning with text like "HTTP is insecure, and we recommend using it only for testing the Zulip Android app against a development environment.  Are you sure you want to use HTTP?".  As a proposal, the button options would be:

"Switch to HTTPS / Use HTTP / Cancel"

("Switch to HTTPS" would j

[2016-08-02 00:11] timabbott commented on #112
The Android app supports push notifications, but I think there may be some tooling complexities with doing this against your own server.  I've been meaning to try to find time to look into how this works.  @kunall17 @niftynei is your understanding that GCM is tied to the Google Auth tangle of issues around having a single app that can talk to multiple servers run by different parties?

[2016-08-02 04:14] kunall17 commented on #112
Yeah the current google ID is also hardcoded https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/gcm/Notifications.java#L25 in the application, well I tried to debug if the dev server is sending GCM messages I never get these logging error or info here  [L185](https://github.com/zulip/zulip/blob/0aae0eab497f7a770fa8f17b32fc471405f6228e/zerver/lib/push_notificatio

[2016-08-02 04:47] kunall17 commented on #112
EDIT: GCM should be used, now got it!

I'll post a PR to fetch the google client ID and register from that ID.

[2016-08-02 15:02] niftynei commented on #112
afaict GCM has been working great, both on dev and prod builds.

[2016-08-02 20:14] niftynei commented on #11
Added via #108 👍

[2016-08-02 20:14] #11 closed

[2016-08-04 19:49] kunall17 commented on #112
@timabbott have you checked if the GCM is sending messages from the server side?

[2016-08-04 19:51] timabbott commented on #112
Well for zulip.tabbott.net we currently get this server error logged, so maybe that server needs some configuration done.
`Attempting to send a GCM push notification, but no API key was configured`

@kunall17 what does one need to do to enable GCM on the server side with our current setup?  (We should add how to do that to our documentation, possibly for both the server and the app, but I guess we

[2016-08-04 19:58] pkaske commented on #112
Doc on that would be awesome!

[2016-08-04 20:07] kunall17 commented on #112
@timabbott I changed the ID in the android project and tried to register a GCM in the server, can you check?

I'll add docs once we get this working!

[2016-08-04 22:09] timabbott commented on #112
There's exactly one such GCM warning in the logs from today; :
`2016-08-04 15:51:32,528 ERROR    Attempting to send a GCM push notification, but no API key was configured`
The current time in that log file is `18:07:18,351` (aka US Eastern time), and your comment @kunall17 was thus at `16:07` in that timezone, which means it's possible that comes from your testing and possibly not... we can probab

[2016-08-06 21:02] kunall17 commented on #112
@timabbott sorry for the late reply!

So I used #114 for doing this,
I registered a GCM ID in your server
[code]

This time is according to IST (Indian Standard TIme) so according to EST it should be 5:01 PM, Saturday, 6 August 2016

[2016-08-08 22:38] timabbott commented on #112
I didn't get such a logged error around that time (there's just one new one on 8/5).  However, on reading the error message, it's clear the problem here is that zulip.tabbott.net doesn't have a registered GCM API key in the `ANDROID_GCM_API_KEY` setting.  @kunall17 are there any special instructions for registering that?

[2016-08-08 22:51] timabbott commented on #112
OK I created a GCM key for zulip.tabbott.net.  Now the the GCM-related error message I see in the logs is this:

`GCM: Delivery to <giant key ID> failed: MismatchSenderId`

I think the problem now is that the app is configured with the SENDER_ID for zulip.com hardcoded:
[code]

which is exactly what #114 fixes; so we should test again once with that version.

[2016-08-08 23:09] timabbott commented on #112
(So it's possible that your branch will work now @kunall17)

[2016-08-10 17:56] kunall17 commented on #112
@timabbott
`registered again 08-10 23:20:12.990 12626-12626/com.zulip.android.dev I/GCM: Already registered for GCM: `

Can you please verify if messages are being sent?

[2016-08-10 22:00] timabbott commented on #111
Fixed in #113.  @kunall17 FYI if you put `Fixes: #113` in one of the commits in a pull request, the issue will be automatically closed when the PR is merged.

[2016-08-10 22:00] #111 closed

[2016-08-10 22:01] timabbott commented on #109
It'd be good to get this resolved quickly, since it is a security-relevant issue (and I hope should be fairly quick?).

[2016-08-10 22:03] timabbott commented on #112
Just to update this thread, I think we've determined that GCM does not support having multiple Google accounts associated with the same Android app in the Play Store.  We're actively discussing options with some folks at Google, but it's very possible we'll end up needing to do something like https://github.com/mattermost/push-proxy to make GCM work with more than one server:

[2016-08-10 23:12] timabbott commented on #1
Just a quick update, this feature is now available in the Play Store Android app.

Note that https://github.com/zulip/zulip-android/issues/64 is still open (i.e. Google auth and GCM still don't work with non-zulip.com servers, due to technical issues with how GCM/Google Auth for Android work).

[2016-08-11 05:48] kunall17 commented on #105
Well if we press the name of the stream it will close the drawer as well, but if the user clicks the stream in the right it expands and the drawer remains open!
Would you like to change the behavior to close the drawer?

[2016-08-11 14:02] kunall17 commented on #88
Fixed by #101 and #99 , can be closed now!

[2016-08-12 05:45] kunall17 opened #121 "Disconnected handler for queue"
I'm not sure if this is an error in the server side or the android client and no other mobiles/web was connected to the server at this time!
I encountered this after exiting App 2-3 times and starting again then i start recieving these logs

**Disconnected handler for queue 1470980116:0**

Log of the server -
[code]

@timabbott is this normal, or if error how to address this issue?

[2016-08-12 06:04] timabbott commented on #121
The server is (I think) behaving normally -- the `Disconnected handler` notices are just part of the normal logging for a get_events call where there's an event to return (though it's a little spammy).

Every response from the server has exactly 1 event being returned, so I suspect the problem is that the client is not correctly acknowledging the events that it is receiving from the server in the

[2016-08-12 06:18] kunall17 commented on #121
I was trying to reproduce the issue but could not!
Anyways, so the client should re register another queue ID when this is disconnected to solve this issue?

[2016-08-12 06:19] timabbott commented on #121
No, registering another queue would make the problem much worse.

The bug here is that the client is incorrectly failing the pass the correct `last_event_id` when connecting to the server -- we should review the logic for how the client updates `last_event_id` and make sure that it always increases it to the maximum of the event IDs it has received from the server.  My guess is we have a code path

[2016-08-12 06:22] timabbott commented on #121
Looking at the code, one likely way for that sort of error to happen would be for `processEvents` to throw an exception -- that would skip the code that updates `last_event_id`.

[2016-08-12 16:11] niftynei opened #124 "Crash attempting to narrow to private message"
Scrolling around using the beta version of the app, I was getting a crash when I attempted to narrow to a private message.

cc @kunall17  :)

Here's the crash log:

[code]

[2016-08-12 20:24] niftynei commented on #109
This has been merged and will be fixed in the next release.

[2016-08-12 20:24] #109 closed

[2016-08-12 20:26] niftynei commented on #93
@timabbott is this still an issue?  I'm not sure I'm clear on what the "recipient bar" is.

[2016-08-12 20:31] timabbott commented on #93
The recipient bar is the thing that says who received the message (i.e. the stream+topic or other people in a PM conversation you're having)

[2016-08-12 22:40] #88 closed

[2016-08-14 17:12] munyari opened #126 "Star message with a long press"
This a feature request: it would be awesome if I could star a message on the android client with a long press. Thank you all for the awesome work!

[2016-08-14 17:48] matthewalbani opened #127 "Google login covered over when you deselect use zulip.com"
The Google login button disappears when you try and use the new domains after the migration

[2016-08-14 17:50] timabbott commented on #127
@matthewalbani were you confused because the keyboard tray covers over the google auth button?

I think we should probably fix the fact that it's easy to miss with the current app.

[2016-08-14 17:52] matthewalbani commented on #127
On Sun, Aug 14, 2016, 10:50 AM Tim Abbott <notifications@github.com> wrote:

 Hey Tim fairly sure I have the newest version I reinstall to make sure

[2016-08-14 17:53] matthewalbani commented on #127
Wow reply IMG to issues Des not work well

[2016-08-14 17:55] matthewalbani commented on #127
![screenshot_20160814-105111](https://cloud.githubusercontent.com/assets/7443459/17650870/9f0b8f6e-620d-11e6-88ce-b03cc09b3ca6.png)
![screenshot_20160814-105107](https://cloud.githubusercontent.com/assets/7443459/17650872/a2712ba0-620d-11e6-90c8-212862302e90.png)

[2016-08-14 17:56] timabbott commented on #127
I think that issue may be fixed in the beta app; can you try https://play.google.com/apps/testing/com.zulip.android?

[2016-08-14 18:02] matthewalbani commented on #127
Hey Tim, yup the beta app fixes the issue. Thanks!

[2016-08-14 18:07] matthewalbani commented on #127
Also like the direction the UI is going in the beta app

[2016-08-17 01:04] niftynei commented on #93
I don't think this was fixed per-se but since the recipient bar is much smaller, is this still an issue?

[2016-08-17 01:13] timabbott commented on #93
Haven't tested in the new version.  I do think it's nice if something good happens anywhere you press on the UI, since it can be kinda confusing trying to figure out how to reply if it feels like it only sometimes works..

[2016-08-17 15:07] niftynei opened #131 "Messages are out of order"
I've noticed that since the new look and feel update, messages are often times getting inserted in the wrong order. For example when narrowed to a private chat, 10 or so older messages are appearing at the bottom of the list, below newer messages.  The timestamps on these messages are correct, but how they're ordered is not.

[2016-08-17 15:07] #124 closed

[2016-08-17 15:11] timabbott commented on #131
I imagine it should be fairly easy to ensure ordering is correct -- messages should always appear sorted by message ID.

[2016-08-17 16:17] timabbott opened #132 "Replying to messages that you sent to yourself doesn't work"
(1) Send yourself a message
(2) Press it in the Android app to try to reply -- it doesn't fill in the recipient bar.

[2016-08-17 16:22] timabbott opened #133 "Register Zulip app as a way to share files"
When you're in your gallery type app and click share, it shows you a ton of apps that you can use to share files with.  We should add file upload support to the Zulip Android app and register it as a share files provider.

[2016-08-17 16:22] timabbott opened #134 "No way to close compose box (and can obscure last message in feed)"
Even though the compose box isn't always open, once you open it, there's no way to close it, and it obscures the bottom message in the few.  We might want to add an "x" to close.

[2016-08-17 16:24] timabbott opened #135 "Enhance compose box with buttons for emoji/mentions/uploads"
We should think about adding buttons to pop up emoji/mention autocomplete (and file upload when we add that).  I would investigate whether there's an open source library that we can borrow that would make it easy to put this into a custom keyboard or something.

[2016-08-17 16:30] timabbott commented on #93
Just tested this in the new version, and I think actually I'd mis-described the problem.

The problem is that the typical 1-line message to a new recipient has 3 lines: a first line recipient bar, a second line with the sender/timestamp/etc. and a third line with the message content.  Currently, clicking the first line narrows, which is great.  The third line replies to the message.  The second li

[2016-08-17 16:31] timabbott opened #136 "Narrowing by touching a stream in message view doesn't work"
In the main message view, if you touch a topic, it nicely narrows to the stream+topic pair for the message.  However, if you touch a stream, it (incorrectly) reports that there are no messages in that narrow.

[2016-08-17 16:32] timabbott commented on #136
Also, and perhaps relatedly, touching a PM sender to narrow to messages with that person crashes the app.

[2016-08-17 16:57] kunall17 commented on #134
The UI would get very much filled up if we add that, already there are many buttons!
We can just swipe up to hide the chatBox!

[2016-08-17 17:03] timabbott commented on #134
Yeah, that's a nice idea.  Might need to advertise it in an onboarding flow eventually to make it discoverable, but sounds good!

[2016-08-17 23:42] timabbott commented on #134
Oh, I see, you can close it by scrolling up/down.  hmm.  Yeah, probably adding removal via swipe away is good enough,

[2016-08-17 23:47] timabbott opened #137 "Scrollbar is can be covered over by heading/menu dropdowns"
When you scroll up to very close to the top, the scrollbar pointer passes under the top menu, which is slightly confusing.

[2016-08-18 00:59] timabbott opened #138 "Add loading spinner when at top of message feed and waiting for messages to load"
I feel like it'd be nice to have something that indicates that it is fetching more messages when the app stops at the top of the page while loading more messages.

[2016-08-18 17:56] kunall17 commented on #89
Fixed by #102, issue can be closed now!

[2016-08-18 18:02] timabbott commented on #89
Agreed, thanks @kunall17!

[2016-08-18 18:02] #89 closed

[2016-08-19 22:41] #136 closed

[2016-08-19 23:24] timabbott commented on #131
I think this message ordering issue is kinda a blocker for releasing RecyclerView to production...

[2016-08-20 10:22] kunall17 commented on #121
I haven't got any `"Disconnected handler for queue"` message after this fix, this can be closed now!
If any one still get these logs please let me know!

[2016-08-20 10:24] kunall17 commented on #137
I think this would be hard to fix as the toolbar will overlap the recyclerView and the scrollbar will show up on scrolling above!
Any suggestions for this @niftynei?

[2016-08-20 10:25] kunall17 commented on #127
@matthewalbani thankyou!
If the issue is solved please close the issue.

[2016-08-20 10:30] kunall17 commented on #106
@timabbott If this issue is fixed please close this one.
Commit c88df64 allows only 1 stream to be expanded at a time previous one is collapsed on opening a new one.
I hope this fixes the issue.

Btw I didn't know writing `"Fixes #123" ` in the commit messages auto closes the issues, I have started writing them now, will have to post messages in the issue's which have been solved but are still ope

[2016-08-20 10:32] kunall17 commented on #134
@timabbott should we implement a swipe right/left to close the chatBox?
I think the current swipe up to close that is fine!

[2016-08-20 10:33] kunall17 commented on #105
@timabbott what about this one?

[2016-08-20 10:34] kunall17 commented on #104
@timabbott can be closed if #118 servers the purpose?

[2016-08-20 12:34] matthewalbani commented on #127
Fixed in beta app

[2016-08-20 12:34] #127 closed

[2016-08-21 15:05] kunall17 commented on #58
@timabbott I was writing documentation for this today, i have written javadocs for many functions in the app + I have to write getting started as well, so should I create a folder docs/ in this repository root like https://github.com/zulip/zulip/tree/master/docs and then those will be rendered at http://zulip.readthedocs.io/en/latest/ ?

[2016-08-21 16:54] timabbott commented on #58
That won't happen by default, but it would be easy to set up zulip-android.readthedocs.io to work that way.  You could also just put some markdown files in the root of the repo and link to them from the README.md; Github can render markdown just fine and that might be easier while we don't have a lot of content...

[2016-08-22 18:25] niftynei commented on #121
Closing as fixed, we should reopen if the problem resurfaces.

[2016-08-22 18:25] #121 closed

[2016-08-22 18:31] #131 closed

[2016-08-22 19:06] niftynei opened #145 "On Narrow, Keep Narrowed Conversation in View"
Branching from a suggestion on #139.

When narrowing, we should ensure the narrowing is done in a way where the message that you touched to initiate the narrow on stays in view (rather than jolting around). See for notes on how this works in the webapp.

http://zulip.readthedocs.io/en/latest/pointer.html

[2016-08-22 19:32] #134 closed

[2016-08-22 19:41] niftynei commented on #137
As far as I know, there is no easy fix for this, as the scrollbar element is an attribute of the RecyclerView, which is separate from the AppBarLayout.

I'd have to look more closely at how you're doing it now @kunall17 , but it's possible that the CoordinatorLayout may help solve this.

[2016-08-22 19:43] niftynei opened #146 "Pushing the Back Button after Narrowing should return to previous conversation location"
When narrowing via clicking on a user's name (PR #100 ), pushing the back button doesn't take me back to the message that I clicked from, but resets it all the way back to the default ZulipActivity view. I'd expect to return to the place that I clicked into the user messages from.

[2016-08-22 20:04] koziodigitalinc opened #147 "Orientation change state is lost on Login screen"
Upon entering a server url and rotating your device you will lose your state at the login, you will be kicked back to setting your login url. Seems like an unintended behavior.

[2016-08-22 20:25] timabbott commented on #147
Yeah that seems like a bug.

[2016-08-22 20:28] koziodigitalinc commented on #147
I will fix this later tonight.

[2016-08-22 21:12] timabbott commented on #104
yeah this was resolved by #118 I think.

[2016-08-22 21:12] #104 closed

[2016-08-22 21:14] timabbott commented on #106
Agreed, I think that is a fix for this bug.  And yeah, the `Fixes: #123` syntax is super useful for this sort of thing :)

[2016-08-22 21:14] #106 closed

[2016-08-23 03:06] timabbott opened #148 "Uploaded images not displayed properly by the Android app"
I've gotten a few reports that the Android app doesn't display images which were uploaded via the file uploads feature.  I suspect the problem is that the way uploaded image files work in Zulip on web is that the URL in the message is a special URL on the Zulip server that serves a redirect to a temporary URL containing the image.  The intent is the browser then loads that image and caches it.

I

[2016-08-23 05:16] koziodigitalinc commented on #148
Working on this.

[2016-08-23 09:52] koziodigitalinc opened #151 "Login Screen - Google OAUTH button + resizing jarring on landscape"
Noticed this while fixing orientation saving state, we should probably stop such a jarring experience having edit text being measured causing a downward shift in elements + the google o-auth button is super squished (at least on my devices)

[2016-08-23 11:37] koziodigitalinc commented on #138
Working on this.

[2016-08-24 18:39] kunall17 opened #153 "Implement a way to notify when a new message is recieved"
This is very important for the app, as currently no notifications is given to the user if a new message is recieved when the user scrolls to bottom then only he knows if a new message is recieved.

Suggestion: When in homeList (not narrowed to a topic or stream currently) then we can change the title to Zulip (2) which shows 2 new messages received, and the stream drawer will show which stream/top

[2016-08-24 18:40] kunall17 opened #154 "Extend show unread counts to the people drawer"
Extend #120 to the people drawer to show unread counts in the drawer in the right side.

Will be fairly easy to implement this.

[2016-08-24 18:43] kunall17 opened #155 "Implement a way to use the NarrowFilter in the widget"
[This NarrowFilter](https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/filters/NarrowFilter.java) interface file is used currently to narrow down in the app, it would be great if the widget can also filter through this file rather than using the database Where clauses here https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/wid

[2016-08-24 18:58] kunall17 opened #156 "Implement a better mechanism for fetching events"
As stated in the comment here https://github.com/zulip/zulip-android/pull/69/files#r73219217 we should have a better backoff mechanism, currently we just put the AsyncGetEvents thread in a sleep state for 1 second after every fetch from the server https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/networking/AsyncGetEvents.java#L192

[2016-08-25 18:20] #147 closed

[2016-08-25 18:30] timabbott commented on #145
Yeah this would be super cool.  I'd recommend implementing it in the way the webapp says it would like to be implemented, not the way it currently works.  That may involve some Zulip backend changes -- I'm happy to help make those :)

[2016-08-26 02:39] timabbott commented on #105
I see, the current behavior is that you decide whether to press the name or the whitespace to the right, and that determines whether it closes the drawer.  That makes sense (though would perhaps be nice to teach somehow).  I'm content with the current functionality here, so closing.

[2016-08-26 02:39] #105 closed

[2016-08-26 15:31] kunall17 opened #161 "Highlight and show how to use some features of the app which are not easily visible"
A showcase Viewer as shown in this
<img src="https://camo.githubusercontent.com/0d29b7fb974a5e018a4d627c91d349fbbeadd57b/687474703a2f2f692e696d6775722e636f6d2f724648454e677a2e676966" />

Taken from this library https://github.com/deano2390/MaterialShowcaseView
or as shown in this library https://github.com/amlcurran/ShowcaseView

To be shown when first time logged in, or a menuItem ("Help") in the

[2016-08-26 18:19] timabbott commented on #161
Yeah this sounds great!  I actually do think this sort of feature is really important in an app, because a feature is only valuable if the users can find it, and we already have several great features that are not super easy to discover (but super useful once you know about them)

[2016-08-26 19:54] niftynei commented on #161
More ideas for features to highlight:

- left and right pull out drawers (streams & private convos)
- long press for more options (?)

[2016-08-28 07:16] saket14 commented on #161
Do assign me to this issue , if no one is working on it.

[2016-08-31 12:41] saket14 opened #164 "No Splash Screen in the App"

[2016-08-31 14:14] lfaraone commented on #164
Why is this a bug?

[2016-08-31 14:14] #164 closed

[2016-09-01 19:03] GurpreetSK95 commented on #161
Hi. I would like to start contributing by implementing this feature. Can someone help me get started?

[2016-09-02 18:21] niftynei commented on #161
hi @GurpreetSK95 .  @kunall17 listed a few libraries that implement this type of feature in the issue definition.  one way to start on this might be to incorporate the library and add a single call out for one of the listed features. One callout to start with might be to highlight the pull out drawer for streams, after you've logged in.

[2016-09-05 07:45] GurpreetSK95 commented on #161
Can anyone help me setting up the server? The app demands a server URL on startup, and none of the methods described in docs are working. Also, please provide an official slack/gitter link in the docs so that such issues can be raised there.

[2016-09-05 08:14] kunall17 commented on #161
Nice point I'll post a PR for these links!

The official Google group for zulip server https://groups.google.com/forum/#!forum/zulip-devel

And Google group for the Zulip Android
https://groups.google.com/forum/m/#!forum/zulip-android

So what issues are you facing in setting up the server?
Suggestion: if you have linux try that installing in vagrant!

[2016-09-05 09:20] GurpreetSK95 commented on #161
@kunall17 I have mac OSX 10.11.6, and I don't know how to set up server to test my changes in the app.

[2016-09-05 09:38] kunall17 commented on #161
As stated here https://zulip.readthedocs.io/en/latest/dev-env-first-time-contributors.html#requirements

OS X: OS X (El Capitan recommended, untested on previous versions), Git, VirtualBox, Vagrant.

Using these softwares you can setup a vagrant server!

You could read these info here as well for getting started https://github.com/zulip/zulip-android/blob/master/README.rst#getting-started

[2016-09-06 19:42] niftynei opened #166 "Usability Improvements"
Here's a bunch of small usability improvements the app could use:

[ ] When I scroll to the end of a stream of messages, there's no buffer between the last message and the bottom. If the response textbox is open, it'll cover up the last portion of the screen.
[ ] When a large message is received, the screen bounces around, making it hard to scroll past. It seems like it's re-loading from the serve

[2016-09-06 19:43] niftynei opened #167 "App Not Marking My Place"
The app seems to lose track of how far down I've read.  If I close the app and come back to it, it starts me off at the same place that I was on last open, not at the newest unread messages.

[2016-09-06 19:45] niftynei opened #168 "Can't click on links"
Clicking on HTTP links in messages is broken.

[2016-09-09 11:53] kenodoggy commented on #168
in progress

[2016-09-09 14:46] niftynei commented on #64
fixed via a backend fix by @timabbott .

[2016-09-09 14:46] #64 closed

[2016-09-09 18:40] kenodoggy commented on #146
in progress

[2016-09-09 19:04] kenodoggy commented on #146
[PR #100](https://github.com/zulip/zulip-android/pull/100) is not yet merged

[2016-09-09 19:16] kenodoggy commented on #167
in progress

[2016-09-10 04:37] niftynei commented on #168
fixed #169

[2016-09-10 04:37] #168 closed

[2016-09-10 04:41] niftynei commented on #146
Could not reproduce.

[2016-09-10 04:41] #146 closed

[2016-09-10 04:42] niftynei commented on #94
confirmed fixed.

[2016-09-10 04:42] #94 closed

[2016-09-10 04:42] niftynei commented on #92
As of #81 can now swipe to dismiss the box.

[2016-09-10 04:42] #92 closed

[2016-09-10 04:49] timabbott opened #170 "Tracking of unread counts seems to have caching issues"
I just tried logging into the Android app against zulip.tabbott.net, and I noticed that it seems to have a bunch of messages across a variety of streams and topics that are marked as not read in the Android app but are correctly marked as read in the webapp (I did in fact read them).

So, something is wrong with how unread message state is fetched and/or maintained in the Android app.

(As a siden

[2016-09-10 17:32] timabbott commented on #95
I guess we've updated the main screenshots, but still need to make a new "Feature graphic" screenshot...

[2016-09-10 17:34] timabbott commented on #86
@kunall17 I think this bug is still open.

[2016-09-10 17:34] timabbott commented on #112
This is primarily a server-side issue, we need to do: https://github.com/zulip/zulip/issues/1767

[2016-09-10 17:42] timabbott commented on #91
#81 is merged, but this appears to still be broken.

[2016-09-10 17:42] timabbott commented on #132
This seems to be still broken as well.

[2016-09-12 16:22] timabbott commented on #49
This is solved now, right?

[2016-09-12 16:23] timabbott commented on #57
This is now implemented, right?  (though currently disabled for being broken, but that's tracked on #170, so we should probably still close this?)

[2016-09-12 16:24] timabbott commented on #58
Do we think this is resolved by the new README.md?

[2016-09-12 18:15] timabbott opened #171 "Improve handling of compose box being at the bottom obscuring last message"
I've gotten a few complaints that the current compose box + bottom whitespace behavior can be quite annoying when you're at the bottom of the feed (i.e. fully caught up in whatever view you're looking at).  The problems are described as:

(1) An open compose box covers over the last message.
(2) Compose box is too annoying to close with swipe - maybe we should back the "back" button close it (rath

[2016-09-12 18:19] timabbott opened #172 "Incoming messages do not reliably show up at bottom of home view feed"
I have a user report of multiple times new messages being sent (even sometimes sent by the current user) and not being correctly added at the bottom of the message feed (the message just never appears, even though other ones before and after do).

This probably a priority bug to track down.

[2016-09-12 18:25] timabbott opened #173 "Avatars sometimes shown on green dots inconsistently"
It seems some users' avatars aren't being loaded properly in the Android app, and are displayed as a green presence dot, rather than the person's actual avatar, in the actual message feed.

E.g. for me, on zulip.tabbott.net, Sumana's avatar and my avatar don't show up, nor does Rishi's or GitHub Bot's, but everyone else has their avatar shown properly.

If I had to guess, we had a network error wh

[2016-09-12 18:29] timabbott opened #174 "Visual spacing glitch for newly arrived messages"
If a new message arrives that was to a different recipient from the previous last message (so that a new recipient bar is drawn below what's currently visible), and you scroll down to see it, the white space between that message and the previous message is like 2x larger than it is normally.  The glitch goes away if you scroll up and then down a bit so that the new message is refreshed.

[2016-09-12 18:31] timabbott opened #175 "App sometimes hanging for me on "loading messages..." on startup"
Sometimes when I open the app, it just hangs on "loading messages" and I can't access anything.  One needs to logout and login again to fix the issue.

I bet this shows up in crashlytics, but I can collect a manual log trace if need be.  I bet the issue has to do with `get_events` not working properly after the event queue has timed out.

[2016-09-12 18:35] timabbott commented on #172
(I received a screenshot from a user showing the issue, and I can confirm that a message that we clearly sent was missed in his feed)

[2016-09-12 18:36] timabbott opened #176 "Add "Rubber banding" indication when dragging at the bottom of the feed"
It'd be great to use a standard mobile UI approach for indicating whether the user is at the bottom of the feed when dragging down.

[2016-09-12 18:38] timabbott opened #177 "Consider shrinking font size in compose box"
I got some feedback on the new Android app that the main message feed is very pretty, but the font size in the compose box feels large.  I wonder if we could shrink that font size while still preserving the ability of users to easily edit what they are composing (or do something else to make it look nicer visually).

[2016-09-12 18:41] timabbott opened #178 "Improve behavior around compose box closing when scrolling"
Apparently, if you open the compose box via touching a message, and then scroll around, it doesn't close, but if you open it with the pencil icon and scroll around, it does.

I think we probably want the scrolling behavior of closing the compose box to be consistent across different ways of opening it, BUT we want to have the compose box stay open in the event that the user has actually hand-writt

[2016-09-12 18:44] timabbott opened #179 "Decrease frequency of accidentally sending messages to the wrong recipient"
Based on the third item in #166, we do have issues with messages accidentally going to the wrong sender.

We may want to consider using the message fading approach we use in the zulip webapp to partially obscure all the messages that are to recipients that the message being composed would not go to.  E.g. if you're composing a stream message to a particular topic, all messages not to that stream/t

[2016-09-12 18:46] timabbott opened #180 "Fix bouncing when a new large message arrives"
When a large message is received, the screen bounces around, making it hard to scroll past very long messages. It seems like it's re-loading from the server, rerendering them from the cache, or something similar.

[2016-09-12 18:46] timabbott commented on #166
We should probably split this into issues for the individual problems here :)

* https://github.com/zulip/zulip-android/issues/171 I think covers the first of your 3 issues.
* Opened https://github.com/zulip/zulip-android/issues/180 for your second issue.
* I opened https://github.com/zulip/zulip-android/issues/179 for a concrete take on resolving the third issue; we might also want to turn the pr

[2016-09-12 18:46] timabbott commented on #180
(split out of #166)

[2016-09-13 16:18] kenodoggy commented on #167
Relates to [#170](https://github.com/zulip/zulip-android/issues/170)

[2016-09-13 16:29] niftynei commented on #49
Yep. 👍

[2016-09-13 16:29] #49 closed

[2016-09-13 16:29] #57 closed

[2016-09-13 16:30] niftynei commented on #58
I think so. I'll close this for now, we can re-open if need be.

[2016-09-13 16:30] #58 closed

[2016-09-13 16:30] #166 closed

[2016-09-14 12:00] kunall17 commented on #86
So you mean once we log in using one ID, it doesn't show the account picker anymore right?

[2016-09-14 12:13] kunall17 commented on #170
Nope, currently it doesn't have any sync with the server! :(

[2016-09-14 18:10] timabbott opened #181 "Update read flags and pointer when reading messages"
Logically:
- any message the user sees the entirety of should be being marked as read via the `POST messages/flags` endpoint.
- If the user scrolls down in the home view, the latest message they saw in the home view, if newer than the user's pointer, should be submitted to the server as an update to the pointer via `PUT users/me/pointer`.

[2016-09-14 18:10] timabbott commented on #170
OK.  Opened https://github.com/zulip/zulip-android/issues/181 for the syncing problem.

[2016-09-14 18:45] timabbott commented on #86
right

[2016-09-16 17:14] reached-ankita commented on #178
Hi! I would like to work on this bug.

[2016-09-17 16:12] timabbott commented on #178
Go for it!

[2016-09-20 22:02] niftynei commented on #148
hey @koziodigitalinc I tried this out but wasn't able to see the image that i pasted up.

Here's the expected (from web client):
![image](https://cloud.githubusercontent.com/assets/1097769/18690483/4e842ac6-7f5c-11e6-8729-1acd3bb5040b.png)

Here's the actual (from mobile client):
![screenshot_20160920-175847](https://cloud.githubusercontent.com/assets/1097769/18690516/658bada2-7f5c-11e6-8afb-95d5f

[2016-09-20 22:05] timabbott commented on #148
From server logs, I think the problem is that the user_uploads URLs incorrectly have the `api/` in the path.

[2016-09-25 07:31] kunall17 opened #185 "Cannot login through EmailBackend"
After the RetroFit library in the app, the login through E-Mail is not successful.
I tried with the zulip.tabbott.net

The full Logcat
[code]

@koziodigitalinc

[2016-09-25 08:14] koziodigitalinc commented on #185
@kunall17 Looks good to me here.

[code]

[2016-09-25 10:57] kunall17 commented on #185
This is weird, the login did not work for Ankita Narvekar as well, as the conversation in the end going here https://zulip.tabbott.net/#narrow/stream/android/subject/trouble.20connecting.20device.20to.20development.20server

[2016-09-26 17:21] reachme-ankita commented on #185
@kunall17 Is it possible for you to check using the Postman chrome app or other such tool to see what exactly is being returned? Or if you could tell me the exact URL structure, I can check on Postman and see must be going wrong.

[2016-09-26 17:23] reachme-ankita commented on #185
Also, I am on a version which that does not have the retrofit update, and I am sure of this because I can't see the retrofit dependencies in build.gradle of the app.

[2016-09-30 17:21] timabbott commented on #185
@kunall17  can you review #186?

[2016-09-30 19:25] #185 closed

[2016-09-30 19:27] kunall17 opened #187 "Default HTTP Scheme used in non prod builds is http"
Sometimes (like connecting to zulip.tabbott.net) the app currently uses default scheme as http if not specified which is wrong, it ask the developer to which scheme to use!

[2016-09-30 21:00] Sam1301 opened #189 "Cannot login though Zulip Dev Login"
After setting up the local server, and connecting to the to it, the app crashes when someone tries to login.

![logindevedited-2016-10-01-015147 1](https://cloud.githubusercontent.com/assets/14239866/19006854/7605bdc8-877f-11e6-89f2-e96d284f9f39.png)
![logindevedited-2016-10-01-015223 1](https://cloud.githubusercontent.com/assets/14239866/19006984/13e31586-8780-11e6-959e-908229284a6b.png)
![logind

[2016-10-02 19:05] kunall17 commented on #189
@Sam1301 thanks for the PR it has been merged! Can you please close this issue now?

[2016-10-02 19:31] minervapanda commented on #177
#191

[2016-10-03 03:54] minervapanda opened #192 "Cannot close the chatbox"
Once chatbox is opened then , we need to close and re-open the app to close the chatbox.

[2016-10-03 03:59] timabbott commented on #192
Thanks for the report @minervapanda!  You can close it by swiping it to the side, but I agree that the current situation is super annoying.

See https://github.com/zulip/zulip-android/issues/178 and https://github.com/zulip/zulip-android/issues/171 for some concrete proposals for how to improve this (I'm closing this issue as a duplicate of those two issues).

[2016-10-03 03:59] #192 closed

[2016-10-03 04:06] minervapanda commented on #171
I want to work for chat box improvisation.

[2016-10-03 13:42] Swati4star opened #194 "App crashes on clicking on person's mention in message"
After selecting a channel. If we click on some person's mention in the message, app crashes.

[2016-10-03 13:56] Sam1301 commented on #189
Sure, happy that the issue is now resolved in the app.

[2016-10-03 13:56] #189 closed

[2016-10-05 04:34] Sam1301 commented on #148
Hi, I'd like to work on this issue.

[2016-10-05 04:37] patrykpoborca commented on #148
@Sam1301 This is an issue related to: https://github.com/zulip/zulip-android/pull/149

It's completed yet not merged

[2016-10-05 16:03] brainwane commented on #148
Hi, @Sam1301 - do you need any help finding another issue to work on? Maybe you could join us in https://zulip.tabbott.net/ to chat about it!

[2016-10-05 20:08] brainwane commented on #173
@timabbott Would it be ok to break out the "better 'couldn't fetch avatar' icon" feature as its own issue?

[2016-10-05 20:17] brainwane commented on #194
Hi @Swati4star - thanks for reporting this. I'm sorry this is happening! Does this happen *every* time you tap on a message that @-mentions someone? And does it only happen with one person, or no matter who is being mentioned?

[2016-10-05 20:19] brainwane commented on #178
Looking forward to your pull request, @reached-ankita! Please come visit us in https://zulip.tabbott.net/#narrow/stream/android if you're having any trouble submitting it. :)

[2016-10-05 20:23] brainwane commented on #161
@GurpreetSK95 how is this work going? Do you need any help?

[2016-10-05 20:23] brainwane commented on #171
@minervapanda how is your progress going?

[2016-10-05 20:48] timabbott commented on #173
yes, that'd be totally reasonable.

[2016-10-05 21:14] brainwane opened #196 "create new square fallback avatar for "couldn't fetch user's avatar" case"
As @timabbott said in #173:

[2016-10-05 22:26] Sam1301 commented on #196
Hi, I'd like to work on this issue :)

[2016-10-06 03:04] brainwane commented on #196
Great! Do you need any help to proceed, @Sam1301, or do you know what your next step is?

[2016-10-06 04:18] Sam1301 commented on #196
I don't know my next step yet, but I'd like to give it a try :D

[2016-10-06 11:29] brainwane commented on #196
OK, @Sam1301 - I infer from what you've just said that you'd like some help. If I were you, I would use `git grep` to find places where the code mentions "Avatar" or "avatar", and use that to figure out what image is currently being shipped as the default avatar.

[2016-10-06 14:58] Sam1301 commented on #196
Thanks @brainwane :)

[2016-10-06 21:03] Sam1301 commented on #196
Hi, can I use this as the default image ?
![default-image](https://cloud.githubusercontent.com/assets/14239866/19170347/a581db44-8c35-11e6-9aa7-033c42b051a2.png)
I created a new email account and obtained its hash to generate its unique gravator `identicon`.
https://en.gravatar.com/site/implement/images/

[2016-10-08 06:06] reached-ankita commented on #178
Hi! I made a pull request here ! https://github.com/zulip/zulip-android/pull/198

[2016-10-08 09:30] Sam1301 commented on #181
Hi, I'd like to work on this issue.

[2016-10-08 12:10] brainwane commented on #181
Cool! @Sam1301 Go ahead. If you need any help, please speak up -- https://blogs.akamai.com/2013/10/you-must-try-and-then-you-must-ask.html might be a good guide. :)

[2016-10-09 08:14] kunall17 commented on #181
@timabbott
File https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/networking/AsyncUnreadMessagesUpdate.java  uses the `messages/flags` endpoint and

https://github.com/zulip/zulip-android/search?utf8=%E2%9C%93&q=updatePointer&type=Code uses the end point `users/me/pointer`

They are being updated I think, is there any problem?

[2016-10-09 17:48] #177 closed

[2016-10-09 18:21] #178 closed

[2016-10-09 19:29] minervapanda opened #200 "Copy message"
Add a toast message to show that the message is copied

[2016-10-09 23:25] timabbott commented on #181
I've heard reports of there being a problem with this, but I think maybe the problem is that users who are not reading anything in the home view (and instead just look at narrows) don't end up updating the pointer on the server properly.  There's a server-side solution we need to do for that, so we can close this.

[2016-10-10 14:50] reached-ankita commented on #153
Hey! I would like to work on this issue.

[2016-10-10 15:03] brainwane commented on #153
@reached-ankita Go ahead, and -- [after you give it a try](https://blogs.akamai.com/2013/10/you-must-try-and-then-you-must-ask.html) -- please let us know if you need some guidance.

[2016-10-10 15:08] reached-ankita commented on #153
Sure! :)

[2016-10-10 22:18] Sam1301 commented on #173
Working on it :+1:

[2016-10-11 00:55] timabbott commented on #196
yeah, that's probably a reasonable way to handle missing avatars.

[2016-10-11 11:02] reached-ankita commented on #126
Hi! I can take this up if you tell me what exactly needs to be done. Is it something like adding a star right next to the msg ?

[2016-10-11 11:14] kunall17 commented on #126
@reached-ankita Well the star can be implemented at the bottom or in the left of timestamp, on pressing the star button it would star/unstar the message, store the boolean if the message is starred in a separate column of the messages model just like read/unread boolean in the message model.
This would be the first step and send a PR for this!
Another step in another PR would be syncing from the s

[2016-10-11 11:46] reached-ankita commented on #126
Alright I will perform the first step and send a PR to begin with.

[2016-10-11 15:04] sashafierce opened #206 "Absence of action bar experienced on device with Android version 4.4.2 in current app"
**Expected**

![expected](https://cloud.githubusercontent.com/assets/18103181/19275562/cdea57ae-8ff1-11e6-8dfd-dcb94a655cac.jpg)

**Action bar was missing on my device**

![missing action bar](https://cloud.githubusercontent.com/assets/18103181/19275730/18ca0c74-8ff2-11e6-9488-ca8385602592.jpg)

[2016-10-11 16:34] Swati4star commented on #194
@brainwane Yes, on @-mentions someone
Not on every person's name.
I saw app crashing on Tim Abbot's name.
Apart from him, I am checking for other persons.

[2016-10-11 16:55] niftynei commented on #206
hi @sashafierce at times the bar disappears upward on scroll, can you verify for me that you never see the bar, even on app start?

[2016-10-11 18:14] niftynei commented on #200
Fixed in #204.

[2016-10-11 18:14] #200 closed

[2016-10-11 18:46] sashafierce commented on #206
Yeah it never appeared , not even once

[2016-10-11 23:15] niftynei commented on #206
good to know. thanks for the report!

[2016-10-11 23:15] niftynei commented on #196
fixed in #199

[2016-10-11 23:15] #196 closed

[2016-10-11 23:16] niftynei commented on #173
The bug with avatars not showing up is a data model problem -- for some messages the sender details are not properly filled in. I'm investigating.

[2016-10-11 23:18] niftynei opened #208 "Clicking on a Notification doesn't take me to the correct message"
Expected: I click on a notification, the app opens to the message in the notification.

Actual: I click on a notification, the app opens to the last place I read to.

[2016-10-11 23:19] niftynei opened #209 "Reading a Notification should dismiss the notification"
If I read a message that I received a notification about, the notification should be dismissed.

[2016-10-12 09:52] sashafierce commented on #206
I checked on another device that was Android version 4.4.4 and the same issue was there right from the beginning

[2016-10-12 17:46] niftynei commented on #91
in progress.

[2016-10-12 17:53] niftynei commented on #132
in progress.

[2016-10-12 17:56] niftynei commented on #15
fixed in #211

[2016-10-12 17:56] #15 closed

[2016-10-12 17:56] #173 closed

[2016-10-12 18:00] niftynei commented on #93
in progress

[2016-10-12 18:23] #91 closed

[2016-10-12 18:23] #93 closed

[2016-10-12 18:23] #132 closed

[2016-10-12 18:26] niftynei commented on #194
@Swati4star can you get a stack trace from logcat for this bug?  If you can get the app to crash, then run this command (you'll need to have the Android command line tools in your path for it to work):

`adb logcat -v time | grep AndroidRuntime`

[2016-10-12 18:27] niftynei commented on #172
in progress

[2016-10-12 20:48] #172 closed

[2016-10-12 20:48] niftynei commented on #175
in progress

[2016-10-12 21:03] niftynei commented on #171
in progress

[2016-10-13 18:06] niftynei commented on #167
Duplicate of #181

[2016-10-13 18:06] #167 closed

[2016-10-13 20:11] #175 closed

[2016-10-13 20:44] #171 closed

[2016-10-13 20:51] niftynei commented on #138
as best i can tell this has been resolved.  @timabbott can you reopen if not?

[2016-10-13 20:51] #138 closed

[2016-10-13 20:54] niftynei commented on #176
I added some padding to the bottom of the feed which seems to make the distinction between the bottom and more messages a lot clearer. Now you can see a 'loading more' indicator pop up when you drag, which is cool.  If this seems to fix the 'end of feed' issue, we can close this.

[2016-10-13 20:55] #86 closed

[2016-10-14 06:12] kunall17 commented on #153
@reached-ankita are you working on this?

[2016-10-14 06:26] reached-ankita commented on #153
Yes I am! I had exams this week in college so couldn't do it by now. But I am working on this!

[2016-10-14 13:21] reached-ankita commented on #126
@kunall17 Hey! I am having a doubt regarding the implementation of star button. Where should I put the code for starring and unstarring in the codebase? I am not understanding where exactly message_tile.xml is inflated and updated.

[2016-10-14 13:46] kunall17 commented on #126
Add the click listener here https://github.com/zulip/zulip-android/blob/5301d960d65f05589fc49749d52fd62a8f672487/app/src/main/java/com/zulip/android/activities/RecyclerMessageAdapter.java#L118

message_tile.xml is the layout used for items in the recylcerView.
You could search the usages in for this file in studio, and you could easily find where it was being used!

Inflated here - https://github.

[2016-10-15 13:58] Sam1301 commented on #133
I'd like to work on this

[2016-10-15 15:44] brainwane commented on #133
Hi @Sam1301! Go ahead. (And, in the future, it's fine for you to say "I'm going to work on this issue" -- you don't need to ask for permission.)

[2016-10-15 19:55] Swati4star commented on #10
@kunall17 This enhancement is there in the app. Shouldn't we close this one now?

[2016-10-15 20:16] Swati4star commented on #194
@niftynei I tested the issue again.
It is not crashing on anyone's name right now.
It must have been fixed by some further commits :+1:

[2016-10-15 20:16] #194 closed

[2016-10-15 20:35] Swati4star commented on #82
I'm going to work on this.

[2016-10-17 03:30] kunall17 commented on #10
@Swati4star Nope, its not there the code is there, I had implemented this working but there was no sync with the server at the time so it was temporarily removed If you can work on the server for the API it would be great!

@timabbott Do we have endpoint API for muting topic/stream/private message?

[2016-10-17 03:36] timabbott commented on #10
Hmm, we don't have an API endpoint for muting right now, but it'd be easy to add one; we'd basically just need to move `set_muted_topics` from a legacy non-API URL to an API URL.

[2016-10-17 04:02] timabbott commented on #10
(I can help with this if someone is interested in using that feature)

[2016-10-17 06:36] Sam1301 commented on #135
I'm going to work on this issue.

[2016-10-18 22:04] niftynei opened #218 "Private conversations need a lock icon"
Private conversations should be demarcated with a lock icon, same as on web.

[2016-10-19 21:10] #148 closed

[2016-10-19 21:23] niftynei commented on #174
in progress

[2016-10-19 22:06] niftynei commented on #95
@kunall17 do you have any interest in making up a new Feature Graphic for the Zulip app?  Our current one is pretty bad.

[2016-10-19 22:08] #174 closed

[2016-10-20 16:00] #133 closed

[2016-10-20 16:01] niftynei commented on #180
in progress

[2016-10-20 17:02] #180 closed

[2016-10-24 09:57] rauladorean opened #223 "Menu is not readable in Day Theme"
The menu is not readable in Day Theme since the text is almost identical to the background
![p_20161024_123155_nt](https://cloud.githubusercontent.com/assets/15893975/19641442/5a6b2d1a-99e9-11e6-9a20-90e69a4b09e8.jpg)

[2016-10-24 10:00] kunall17 opened #224 "Stream name background color should be dark Grey in night mode"
The background color should be same as private messages header background color ![screenshot_20161024-152643](https://cloud.githubusercontent.com/assets/12700799/19641517/a6ebefca-99fe-11e6-99bf-b2baaf380882.png)

[2016-10-25 10:32] kunall17 commented on #223
Can you tell us which android version are you using?

[2016-10-25 10:43] rauladorean commented on #223
Hi,

My device is running on 4.4.2

[2016-11-16 00:21] niftynei opened #226 "App not updating with latest messages"
A few users have reported that the newest messages are failing to load.  Killing the app and restarting seems to fix.

[2016-11-16 12:34] Sam1301 commented on #226
@niftynei  I tested this in the beta and release candidate and it seemed to work. The newest messages are added at the bottom of homeView, though the users have to scroll down to them (without refreshing).

[2016-11-16 15:12] niftynei commented on #226
yes, it seems to work in most cases, but there appears to be a hard to replicate state where messages are no longer refreshed.  i managed to get my app into this state, but i don't know how to reproduce reliably.

[2016-11-16 17:52] jmandel opened #227 ""Failed to fetch Backends""
On the beta channel, when I try to enter a Zulip server URL (e.g. https://zulip.tabbott.net or https://chat.fhir.org) the value "/api/" is automatically appended, and then I get the error:

"Failed to fetch Backends"

Is this a known issue?

[2016-11-16 18:07] timabbott commented on #227
No; are you by any chance typing `http://` rather than `https://`?

[2016-11-16 18:11] jmandel commented on #227
No, though I did try that for fun, and I get a security popup asking whether I really wanted to use HTTP (and saying "yes" led to the same error).

[2016-11-16 18:14] timabbott commented on #227
Interesting.  @niftynei any idea what in the beta could have caused this?  It's not a big diff from the production release...

[2016-11-16 18:18] jmandel commented on #227
BTW is there an easy way for me to test the production release (move off the beta channel)? Alternatively, can anyone report whether they can reproduce this behavior (in beta or prod)?

[2016-11-16 18:22] timabbott commented on #227
I can't reproduce with 1.1.1 (the beta)

[2016-11-16 18:24] kunall17 commented on #227
Production release is at this branch https://github.com/zulip/zulip-android/tree/release-candidate
I also use the beta app and it works fine!

[2016-11-17 08:00] jmandel commented on #227
It appears that the android client relies on `/api/v1/get_auth_backends` (introduced [here](https://github.com/zulip/zulip/commit/a36e5d4987d9ac8128c57dab4e5c42ded175f304)), and https://chat.fhir.org is running a version of Zulip old enough not to have one.

But that's not the whole issue, because I get the same error message for https://zulip.tabbott.net, which *does* have one.

[2016-11-17 17:28] niftynei commented on #227
thanks for the report. fwiw the error message you're receiving isn't very precise.  a failure to get backends may happen for a variety of reasons, including a network failure.  can you verify that you're able to reach the website on a different app?

[2016-11-20 21:02] jmandel commented on #227
To confirm, yes, I can reach these sites through the browser just fine. Is that what you mean,  @niftynei?

[2016-11-20 21:04] timabbott commented on #227
Does https://chat.zulip.org work for you as an Android auth point?  I wonder if the old zulip.tabbott.net name is what's busted.

[2016-11-20 21:07] jmandel commented on #227
No, https://chat.zulip.org/ also fails, with the same error. For what it's
worth, everything was working just fine until I signed out and tried to
sign back in to demonstrate the process for a colleague..

On Nov 20, 2016 16:05, "Tim Abbott" <notifications@github.com> wrote:

[2016-11-20 21:17] timabbott commented on #227
Oh, that detail is interesting.  I wonder if it's some sort of caching bug...

[2016-11-20 21:33] jmandel commented on #227
Progress: this problem persisted across uninstalling and reinstalling (both beta and default channel). But creating a new user account on my Android device and installing within that account... there, everything works (even talking to chat.fhir.org, which puzzles me, given that the `get_auth_backends` endpoint does not exist there).

[2016-11-20 21:50] jmandel commented on #227
Back on mystery original account: using Android app settings to clear data + cache for Zulip had no effect. Repeating that process a second time did have an effect, but now I see:

1. Select chat.fhir.org
2. Choose Google as my identity provider
3. Complete the sign-in flow
4. I'm signed into chat.zulip.org instead of chat.fhir.org (!!)

If I choose the username+password login flow, I  get a "Your

[2016-11-27 01:21] timabbott commented on #227
Thanks for doing all that debugging @jmandel!  It sounds like we have something interesting going on here that is causing it to try connecting to chat.zulip.org regardless of what server you specify.

As a sidenote, I don't think we need the `/api`  in the URI to be user-facing; it can be appended in the code when it makes the requests.  Since the old api.zulip.com doesn't exist anymore, the app c

[2016-11-27 06:53] Sam1301 commented on #227
Sure, working on this :+1:

[2016-11-27 14:50] Sam1301 commented on #227
Submitted a pr for the same :+1:

[2016-11-29 14:21] saketkumar95 commented on #224
Can i work on this?

[2016-11-29 14:22] saketkumar95 commented on #208
Can i work on this??

[2016-11-29 14:26] saketkumar95 opened #230 "Hardcoding the strings in string.xml file."
There are many values / string which are hardcoded in the .xml file. It should be stored in the single file so that it can be accessed to the same text from anywhere in the app.
I would send the PR soon when i get assigned.

Can i work on this?? @timabbott @kunall17

[2016-11-30 00:58] timabbott commented on #208
Sure!

[2016-11-30 00:59] timabbott commented on #224
Sure!

[2016-11-30 10:48] kunall17 commented on #230
Yeah sure, but there were many only as placeholders and changed at runtime!

[2016-11-30 16:20] saketkumar95 commented on #230
So what should i do now?

[2016-11-30 17:46] kunall17 commented on #230
Mainly there are placeholders in the layout files of the widget_row and message_tile AFAIR.
Other than that rest i think they must be user displayed messages, you could cross check if that is being changed in runtime, it wouldn't take much time.
Maybe add the placeholders also in strings.xml and add a _placeholder to the string name!

[2016-12-01 09:37] saketkumar95 opened #231 "Scrolling issue"
**Actual Behaviour**

As of now when someone opens app in landscape mode some info(Legal Information) is not visible on screen due to lack of scroll.

**Expected Behaviour**

It should scroll, so user can see whole info.

**Steps to reproduce it**

Add ScrollView as parent in login.xml

**Screenshots of the issue**

![whatsapp image 2016-12-01 at 3 05 11 pm](https://cloud.githubusercontent.com/ass

[2016-12-01 09:40] kunall17 commented on #231
Sure, do checkout this similar (or rather same open issue) https://github.com/zulip/zulip-android/issues/151

[2016-12-02 18:54] derAnfaenger opened #233 "Quality Assurance: App crashes when pinging users with '@'"
The Android app crashes when I try to ping a user in a message with '@'. More specifically, it crashes when typing the first letter after the '@'.

[2016-12-02 18:59] timabbott commented on #233
@Sam1301 this seems likely to be a bug one can fix relatively quickly...

[2016-12-02 20:16] Sam1301 commented on #233
@derAnfaenger thanks for reporting this! I couldn't reproduce this error. Can you provide with more details as to when this error occurs? When I tried to click on a user, the app didn't crash.

[2016-12-02 20:28] derAnfaenger commented on #233
@Sam1301
This happens for the production build on my phone, version 1.1.0
1. Open the app.
2. Tap the pen icon in the lower left corner.
3. Tap the message box (where it says "Tap on a message to compose reply").
4. Enter '@', followed by some letter.
5. The app should crash.

[2016-12-03 08:10] saketkumar95 commented on #151
okay. I will be sending the PR soon on scrolling issue.

[2016-12-03 08:10] saketkumar95 commented on #231
okay. i will be sending the PR soon on scrolling issue.

[2016-12-03 08:16] saketkumar95 commented on #161
@kunall17 Can i work on it? i see some conflicts in the PR.

[2016-12-03 15:12] Sam1301 commented on #233
Thanks @derAnfaenger  for reporting this bug. Submitted a pr for the same :+1:

[2016-12-03 15:25] kunall17 commented on #161
Go ahead!

[2016-12-04 11:45] saketkumar95 opened #236 "Double backpress to exit."
In most of the apps if the user presses back button to exit, a toast message appears which prompts the user to press back button again to exit. I want to implement the same in the app.

@kunall17 @timabbott  can i work on this?

[2016-12-06 17:04] kunall17 commented on #236
Sure!

[2016-12-07 08:52] vishwesh3 opened #237 "New Feature: Add search option in stream and people list"
**Current**
If Stream and people list is large enough, then it is difficult to get desired item (scroll so much to go down).

**Better option**
Add `EditText` in the `drawer` and on text change filter the `listview`.

I would like to work on this.

[2016-12-08 11:52] saketkumar95 opened #239 "Add Splash Screen in the app"
Currently there is no splash screen in the app. I would like to implement this feature in the app.

@kunall17 @timabbott Can i work on this?

[2016-12-08 11:58] vishwesh3 commented on #237
@kunall17 @timabbott . Please review it.

[2016-12-09 17:48] brainwane commented on #237
Hi @vishwesh3 - could you help us understand what you're asking them to review? Have you made a pull request already, or are you asking us to review your request for permission to work on this issue?

[2016-12-09 17:55] vishwesh3 commented on #237
@brainwane I was asking for permission to work on this. After the discussion with @kunall17 I have started working on this. Will be creating PR soon. Thanks

[2016-12-11 13:57] FleetAdmiral commented on #218
Hey! I'm new to the community so for reference, do we mention if we're taking up a bug or do we just go ahead with it and submit a PR?
I'd like to take this up, btw.

[2016-12-11 16:41] kunall17 commented on #218
@FleetAdmiral well mostly if nobody has recently commented on a issue that they are working on, we consider no one is working on that one!
So whenever you start working on an issue just post a comment that you're gonna work on that one!

[2016-12-11 16:43] kunall17 commented on #239
There is no need of splash screen as initially we need to enter the server URL and that loginActivity loads pretty fast!
This issue was posted previously as well https://github.com/zulip/zulip-android/issues/164

[2016-12-14 12:54] saketkumar95 commented on #239
Cool. Closing then. :)

[2016-12-15 21:09] maxlinux2000 opened #242 "Can't login from the app"
Hi

I have finally installed my server in a VPS on digitalocean, and I can login from the web UI.

Now I have downloaded the android app from playstore and inserted the the fields:

My server name (FQDN over https)
my user admin name
my passwd

...but the app tell me that the passwd is wrong
So I tried with another user, without success again.

Witch log can I look, in order to understand the prob

[2016-12-15 22:39] Sam1301 commented on #242
Hi @maxlinux2000. Did you try to kill the app by opening recent apps menu and then starting again? There is an ongoing issue #227 which might have caused some incorrect caching of server url.

[2016-12-15 22:43] #227 closed

[2016-12-15 22:45] #233 closed

[2016-12-15 23:17] timabbott opened #243 "Clicking on an uploaded image causes it to open in a browser"
We should probably instead open it in a lightbox in-app, similar to how we handle this on web.

[2016-12-15 23:18] timabbott opened #244 "Crash when trying to narrow to a private message thread with the Zulip Notification Bot"
[edited -- this wasn't a group PM thread]

I got this crash in the simulator trying to narrow to a private message thread with the Zulip Notification Bot.
[code]

My guess is that we expect all the users that one might exchange messages with to be included in the data we receive from the server on realm users, but that isn't a correct assumption; Zulip has limited support for cross-organization me

[2016-12-15 23:23] timabbott opened #245 "Upgrade to Firebase Cloud Messaging"
Since it appears we can upgrade the client without changing the server, we might as well take care of the client-side upgrade early (since we can't really migrate the server until all clients in use are upgraded).

[2016-12-15 23:53] timabbott commented on #242
We just pushed a new release (1.1.2) with the fix to #227 in it; @maxlinux2000 once you upgrade, can you let us know if you still see this problem?

[2016-12-15 23:53] #242 closed

[2016-12-15 23:55] timabbott commented on #170
@Sam1301 @saketkumar95 this caching bug is why we currently have the unread counts disabled in the production Android app (I merged the commit disabling it to development so it's easier to manage the Git flow).  It'd be great if we can fix this.  You may want to study how we track unread counts in the Zulip webapp as part of working on this -- `static/js/unread.js` is the main place for that code.

[2016-12-15 23:56] timabbott opened #246 "Don't open the keyboard immediately on email/password login page"
Since on Android, Google auth is usually going to be what folks want, we should probably not open the keyboard immediately (since it sorta obscures the Google auth button) and require users to click into the text boxes to start typing.  What do you think @kunall17?

[2016-12-16 02:16] saketkumar95 commented on #243
Can i work upon this?

[2016-12-16 02:29] saketkumar95 commented on #170
@timabbott  Sure. I will be giving you the update on this soon.

[2016-12-16 02:48] saketkumar95 commented on #246
@timabbott we can do so just by implementing callback methods from the KeyEvent.Callback interface, such as onKeyDown() and onKeyMultiple().

[2016-12-16 03:58] kunall17 commented on #151
This can be closed now!
@saketkumar95 FYI, if you put Fixes: #151 in any of the commits of the PR, then issue would be automatically closed, so please include this if your PR fixes any existing issues!

[2016-12-16 10:22] anirudhjain75 opened #247 "Quality Assurance"
## Steps to verify the bug ##
* Choose any **stream**.
* Scroll down to till you reach the **end**.
* Tap the screen to invoke the write option.
* It does not get invoked.
* For getting it invoked you'll have to scroll bit up.

[2016-12-16 10:23] anirudhjain75 commented on #247
![screenshot_20161215-234841](https://cloud.githubusercontent.com/assets/14249589/21259497/b51e6a0a-c3a7-11e6-8542-35bf3fea8c65.png)

[2016-12-16 10:27] maxlinux2000 commented on #242
sorry but I'm just arrive to zulip....
The server is the version 1.4.2
the app from playstore il the 0.0.3

I tried to compile the zulip-android without android-studio, using ./gradlew, but it fail with the following error:

`* What went wrong:
A problem occurred evaluating project ':app'.

`
Following the readme I see that the files:
app/src/main/java/com/zulip/android/ZLog.java
and
app/src/main/

[2016-12-16 10:39] Sam1301 commented on #242
Hi @maxlinux2000  you can remove the fabricKey error by following these steps:
 1)  Create a file named gradle.properties in the app directory of the project.
 2) Add a line fabricKey=blah in it.
 3)  Sync project with gradle files.
Also, the server version and app playstore version need not match. You can still download the latest version of the app from playstore and try running it to see if the

[2016-12-16 11:30] maxlinux2000 commented on #242
finally the app is compiled and running in my phone... but the error #227 still occurs

![photo759931202910136345](https://cloud.githubusercontent.com/assets/5683921/21261399/6c63f92c-c38b-11e6-821d-8fd98234a02f.jpg)

[2016-12-16 11:33] Sam1301 commented on #242
@maxlinux2000 Did you update the app?

[2016-12-16 11:39] maxlinux2000 commented on #227
HI, I'm trying with my own zulip server (1.4.2) and I just build the last version of the android client, but as you can see below the error still here

![photo759931202910136346](https://cloud.githubusercontent.com/assets/5683921/21261573/a315ee84-c38c-11e6-8082-0b63f33217b5.jpg)

[2016-12-16 11:43] maxlinux2000 commented on #242
ok.... I understand the  my error... I need to insert the email address instead the username.

sorry for the trouble

[2016-12-16 15:25] kunall17 commented on #246
Yeah, we should do that!
@saketkumar95 can you test this and send a PR for this one?
 The manifest edit is the better approach!

[2016-12-16 16:23] sonali0901 commented on #247
@anirudhjain75  I invested this bug report. If you go till the end of any stream and tap anywhere on the whitespace area (below the message feed that is not a part of the scroll bar area as you reported earlier, but is intentionally left as said by Tim) then yes, the write option is not invoked. But if you tap on the message feed area(even when you are at the end of a stream) the write option is i

[2016-12-16 16:25] maxlinux2000 opened #248 "...emoticons?"
Hi,
It would be better if zulip-android had emoticons, like emojione for example.
http://emojione.com/

...or other like that.

[2016-12-16 16:28] maxlinux2000 opened #249 "Register new account"
It would be nice if the user can create a new account from zulip-android

[2016-12-16 17:27] timabbott commented on #242
@Sam1301 it may be worth giving a special error message for users who don't include an `@` in their email?

Since with things like LDAP support, we may allow users to just type a username (without domain) in the future, I'd probably just modify the error message on login failure in the case that (1) there's no @ in the email and (2) that LDAP feature is not enabled.

Since this error message comes

[2016-12-16 17:37] timabbott commented on #249
Agreed.  It's kinda expensive to maintain 2 copies of the registration flow; we might just want to provide a nicely integrated way to get to that flow from the Android app; I guess this would need to be a link from the page after you choose your server.

[2016-12-16 17:40] timabbott commented on #248
It has emoji support already; you can autocomplete them by starting typing e.g. `:octupus:`, but it doesn't have an emoji picker.  I think we can rebrand this issue to be "add emoji picker".  Since we're using the Android (Noto) emoji set in Zulip, it seems like there should be existing code we can use to add this to our keyboard.

[2016-12-16 17:50] timabbott commented on #243
Sure!  There's probably at least 2 cases to test:
* image uploaded
* link to image with inline preview

[2016-12-16 17:56] maxlinux2000 commented on #242
We need to modify the message in the string.xml too, from:
"Your username or password is incorrect" -> " Your email or password is incorrect"

[2016-12-16 17:59] timabbott commented on #242
Is that string actually in string.xml?  I had been assuming we were just displaying an error message coming from the server.

[2016-12-16 18:11] Sam1301 commented on #242
The error comes from the server, will open an issue in zulip/zulip for it :+1:

[2016-12-16 18:30] kunall17 commented on #249
@timabbott for this one, we could just add a link after entering the server and open the browser in a chrome custom tabs?
Now after registration, user can manually enter credentials.
A better (but far more complex) would be deeplinking the android project which would send an API key to the android client after registration, and use this key to login?

[2016-12-16 18:32] timabbott commented on #249
Yep.  Let's do the v1 with the browser and then we can try to figure out how to deeplink as a potential followup.

[2016-12-16 18:41] vishwesh3 commented on #249
I would like to work on this.

[2016-12-16 18:55] saketkumar95 commented on #246
Yes. Sure . i will send the PR by morning today.

[2016-12-16 18:58] saketkumar95 commented on #151
@kunall17 Yes i will take care of this now.
@koziodigitalinc You can close this issue now.

[2016-12-16 18:59] #151 closed

[2016-12-16 19:01] saketkumar95 commented on #231
closed by [#235](https://github.com/zulip/zulip-android/pull/235)

[2016-12-16 19:01] #231 closed

[2016-12-16 19:01] kunall17 commented on #249
@vishwesh3 sure go ahead, with the first step!

[2016-12-16 21:25] Sam1301 commented on #242
Submitted :+1:

[2016-12-16 21:55] Sam1301 commented on #170
Thanks for `static/js/unread.js` reference, I'll work on this... @saketkumar95 keep me updated if you have any theory on this.

[2016-12-18 06:31] #247 closed

[2016-12-20 03:28] saketkumar95 commented on #82
@Swati4star Any updates on this??

[2016-12-20 09:58] AmoliShah commented on #209
I would like to work on this issue. @niftynei

[2016-12-20 18:11] rafidaslam opened #255 "[Quality Assurance] Zulip app doesn't alerts user about stream name is invalid when user input a "similar" stream name"
When inputting a "similar" but invalid stream name, Zulip doesn't warn user about that stream name is invalid.

How to reproduce this issue:

1. Go to Zulip and login to a server.
2. Then see at the "Stream" list and note the stream name that has space, like "GCI general"
![3](https://cloud.githubusercontent.com/assets/20320125/21361951/d3aa4588-c718-11e6-904a-60cb13a7ac44.png)

3. Write the first

[2016-12-20 18:40] rafidaslam opened #256 "[Quality Assurance] Zulip App let user send message to the stream that they're not subscribed"
When using Zulip, and fill the "Stream" textbox with the stream name that's we're not subscribed. Zulip let user sends the message to that stream.

How to reproduce:

1. Go to Zulip and login to a server.
2. Then type the stream name that's exist but we're not subscribed yet in the "Stream" textbox. Here my Zulip account isn't subscribed to "test" stream.
3. Type the topic and message.
4. Then sen

[2016-12-20 18:57] timabbott commented on #209
Go for it @AmoliShah!

[2016-12-21 09:11] AmoliShah commented on #209
@timabbott Changes are to be made in RecyclerMessageAdapter.java activity. Right?

[2016-12-21 11:55] kunall17 commented on #256
Thanks for reporting this! :)

[2016-12-21 12:10] vishwesh3 commented on #256
@kunall17 if this issue is not assigned to anyone then assign this to me, I would love to work on this.

[2016-12-21 12:14] kunall17 commented on #256
@vishwesh3 :+1:

[2016-12-21 19:00] saketkumar95 commented on #209
@AmoliShah No. it is for gsm. [Check it out here](https://github.com/zulip/zulip-android/tree/master/app/src/main/java/com/zulip/android/gcm)

[2016-12-21 19:15] timabbott commented on #237
Closing this since it was just merged; @vishwesh3 in the future you can put `Fixes: #237` in the last commit message in the PR to have it be closed when the PR is merged.

[2016-12-21 19:15] #237 closed

[2016-12-21 19:22] vishwesh3 commented on #237
@timabbott thanks. Will keep in mind about commit message next time.

[2016-12-22 08:32] AmoliShah commented on #209
ok thanks. @saketkumar95

[2016-12-22 17:28] IffatTix opened #258 "Server connection Error message should provide more context"
On trying to connect to the server through the app, error message should provide more context instead of just saying "Failed to fetch backends"

[2016-12-22 17:29] timabbott commented on #258
I think we should make this say something like "Unable to connect to server %s; did you spell it correctly?", filling in the server name they typed.

[2016-12-22 17:33] IffatTix commented on #258
In case of typos in the name yes! Do we have a different message just in case actual server is unreachable?

[2016-12-23 17:12] kunall17 commented on #258
We can show custom messages when
- Not connected to internet
- Server doesn't exists on that URL
- Text written there is not a valid URL

[2016-12-24 00:01] saketkumar95 commented on #258
@timabbott @kunall17 Can i fix this issue?

[2016-12-24 01:49] saketkumar95 opened #261 "New Feature : Add more options in overflow menu."
Currently in overflow menu there are :
`Refresh`
`Switch Day /Night Theme`
 `Logout`
 `Legal Information`

It will be better to add some more features along with a setting option same as on web.
More features like:

- Message Formatting

- Desktop & mobile apps

- Integrations

-  Setting
Setting includes options like :

- Enter as send

- Day/night theme(From overflow menu to setting activity)

A

[2016-12-24 09:48] 540KJ opened #262 "User list discrepancies between Android and Web Zulip"
Differences in who's online, inactive or disconnected between android app and web zulip. This may be an issue for large teams. Also posted [here](https://github.com/zulip/zulip/issues/2877) on the main Zulip issues list:
<img src="https://cloud.githubusercontent.com/assets/23611943/21445534/757977d4-c90e-11e6-9b73-7d13feca6093.png" width="225" height="400" />
<img src="https://cloud.githubusercont

[2016-12-24 09:56] vishwesh3 commented on #262
I think we should do it via GCM and android service. On app launch start a service which will mark user status as online on the server and stops service as soon as app is closed. And through GCM we can update the list of status in local database.

[2016-12-25 00:30] saketkumar95 commented on #248
@timabbott Can i add the emoji picker just like zulip web?

[2016-12-25 05:16] Sam1301 commented on #248
@saketkumar95 It would be great to implement this feature. You could start with using an open source library like this one https://github.com/rockerhieu/emojicon. Good luck :)

[2016-12-25 14:03] saketkumar95 commented on #248
@Sam1301 Yeah i too thought of that only. Just waiting for @timabbott or @kunall17 to assignee me this issue. :)

[2016-12-25 18:26] vishwesh3 commented on #255
Hi if this issue is not assigned to anyone I would like to work on this.

[2016-12-26 03:09] saketkumar95 opened #263 "Switch between hide and view password in LoginActivity"
Currently there is no option to view the password whenever it is entered. There should be an option to view the password which is entered.

@timabbott @kunall17 Can i work on this? This is a very small issue. Will send the PR soon.

[2016-12-26 05:09] kunall17 commented on #248
Sure go ahead, how will you stuff the emoji button in the chatBox, it would be really filled up!

[2016-12-26 05:24] kunall17 commented on #258
@saketkumar95 :+1:

[2016-12-26 05:31] kunall17 commented on #263
@saketkumar95 :+1:

[2016-12-26 05:36] saketkumar95 commented on #248
Yeah it will. I thought of adding it in message tile, In the left corner.

[2016-12-26 19:42] vishwesh3 opened #264 ""Today" option in menu"
"Today" option in menu is not required if **Today Message** page is already opened. We can either remove that or add other filter options like **Yestarday** etc .

![videotogif_2016 12 27_00 58 57](https://cloud.githubusercontent.com/assets/18511177/21485927/5d013dd4-cbd1-11e6-9d56-50f6ddd4fdb9.gif)

@timabbott @kunall17 @Sam1301 Can I work on this?

[2016-12-27 00:33] saketkumar95 commented on #239
@kunall17 If user is logged in and  closes the app for some time and reopens it then on HomeView he/she gets to see that loading messages progress bar. We can have a splash screen and use this time for displaying messages. What do you think about this??

[2016-12-27 01:22] timabbott commented on #262
@vishwesh3 first you should look at how we do this already; I think much of that implementation idea is already present, with the exception of the GCM piece (which I think is unnecessary; our API endpoint for status returns the status of everyone else in the response to submitting one's own status).

[2016-12-27 01:22] timabbott commented on #262
But I think there is probably a bug here in the Android app's implementation that is it showing laggy data (or something).

[2016-12-27 02:15] #249 closed

[2016-12-27 02:24] saketkumar95 commented on #209
@AmoliShah Are you working on this?

[2016-12-27 05:48] kunall17 commented on #264
Maybe a option like One day before, and let it go in a loop like if we go Today -> One day before -> One day before -> One day before
It would be an easy task, you need to tinker with the NarrowToday filter!

[2016-12-27 05:50] kunall17 commented on #239
Na, its fine with the loading messages, how about working with showing cached messages while loading?

[2016-12-27 06:16] vishwesh3 commented on #264
Thanks @kunall17 I will send PR soon.

[2016-12-27 06:18] vishwesh3 commented on #262
I would like to work on this.

[2016-12-27 23:14] nitish1211 opened #267 "Text in searchView not cleared on BackPressed"
Once a search is performed on the chat screen and we press back to get back to the chat screen from the search results, the text in the searchView is still there and is not cleared and replaced by the action bar.

![g_20161228_0406314](https://cloud.githubusercontent.com/assets/13676490/21510216/e198d1e8-ccb6-11e6-84e2-538d06180815.gif)

I think the searchView should clear and the Action bar shoul

[2016-12-27 23:33] nitish1211 commented on #267
So should I create a PR for this ?

[2016-12-28 05:03] kunall17 commented on #267
@nitish1211 Yeah, go ahead..:+1:

[2016-12-28 18:38] kunall17 commented on #112
@Sam1301 @vishwesh3 @saketkumar95 It would be awesome if any of you guys could work on this issue?
I'll explain it once again, so the problem with GCM push notifications, the GCM library doesn't support multiple

[2016-12-28 18:43] saketkumar95 commented on #112
@kunall17 I will work on this. :)

[2016-12-28 18:43] kunall17 commented on #112
@Sam1301 @vishwesh3 @saketkumar95 It would be awesome if any of you guys could work on this issue?
The app feels incomplete without providing notifications!
I'll explain it once again, so the problem is we cannot have multiple servers with different ANDROID_GCM_API_KEY linked to our Android project!
So to support this as timabbott stated in the comment above we need to modify the python server to

[2016-12-28 19:12] nitish1211 opened #270 "Storing Day/Night Mode Theme Preference in Shared Preferences"
When a user changes the theme of the app to night and then exits the app, then upon reopening the app the theme of the app is back to the default theme(day theme).

I think we should store the theme of the app that the user had set the last time he quit the app in SharedPreferences.

@kunall17 @timabbott   Can I work on this?

[2016-12-28 19:48] vishwesh3 commented on #112
@kunall17 I would like to work on this

[2016-12-28 20:14] saketkumar95 commented on #112
@vishwesh3 Working on this.

[2016-12-28 23:40] Sam1301 commented on #112
@saketkumar95 feel free to reach me out in case of any help or discussion on this issue.

[2016-12-28 23:41] timabbott commented on #112
I'm also happy to help provide advice on how to get this server-side backend implementation finished.

[2016-12-29 01:07] timabbott opened #271 "Setup Travis CI at least running linters and ideally running tests too"
Since this project now have a lot of PRs coming in, it'd be really good to have CI setup.

[2016-12-29 01:17] Sam1301 commented on #271
I'd like to work this :)

[2016-12-29 01:20] timabbott commented on #271
Cool!  You should be able to sign your personal repo up for Travis CI and develop your build there; once it works happily, we can merge the .travis.yml file and enable Travis CI on the main repo.

[2016-12-29 01:22] Sam1301 commented on #271
Thanks, i'll start by reading docs and work on it from today 👍

[2016-12-29 01:25] saketkumar95 commented on #271
@Sam1301 If you need any kind of help then do tell me. I have setup Travis CI earlier in some of my projects so i know what exactly we have to do. :)

[2016-12-29 01:27] Sam1301 commented on #271
@saketkumar95 Thanks :)

[2016-12-29 01:31] saketkumar95 commented on #112
@timabbott @Sam1301 I would really love to take help from you all. A big task for me to do. :)

[2016-12-29 18:18] saketkumar95 commented on #112
I will be working on this from first week of january. Currently completing all my pending assigned issues. :)

[2016-12-30 19:58] 540KJ opened #272 "Markdown not displaying."
Markdown for strikethroughs, code and tables aren't displaying in app. Also some language scripts aren't displaying that well. Any way to fix this in Android?
Markdown Code:
<img src="https://cloud.githubusercontent.com/assets/23611943/21571727/148a1722-ce76-11e6-8cdc-ea9dd3494bac.png" width="225" height="400" />
Markdown Tables:
<img src="https://cloud.githubusercontent.com/assets/23611943/215717

[2016-12-30 20:38] timabbott commented on #272
It'd be awesome to fix these issues.

[2016-12-31 04:48] Sam1301 commented on #272
I would like to work on this :)

[2016-12-31 05:58] Sam1301 commented on #145
I'd like to work on this issue :)

[2017-01-02 15:55] kunall17 commented on #270
Either we can use the AppCompat day night theme behaviour?

**MODE_NIGHT_AUTO. Changes between day/night based on the time of day.**
MODE_NIGHT_FOLLOW_SYSTEM (default). This setting follows the system’s setting

[2017-01-02 19:26] nitish1211 commented on #270
I believe that is a great idea as its been implemented in Google Maps. But I think we should let the user  pick whichever theme he prefers at whatever time of the day. I personally prefer the Night theme at all times.

Or Should there be an option to keep the theme on Auto?

[2017-01-02 23:58] timabbott opened #277 "Add support for emoji reactions"
We recently merged into master support for emoji reactions to messages in Zulip.  We need to do a few things:
- [ ] Display existing emoji reactions after loading message history
- [ ] Handle real-time sync of new emoji reactions being added by other users
- [ ] Add a long-press menu item to add an emoji reaction

The web frontend implementation (in master but not quite yet on chat.zulip.org) is a

[2017-01-03 00:30] saketkumar95 commented on #277
@timabbott I'm currently done with 70% of work in this issue https://github.com/zulip/zulip-android/issues/248
What else do i need to do more??

[2017-01-03 01:18] Sam1301 commented on #277
This seems to be an interesting task :) I'd like to work on it if no one else is assigned yet.

[2017-01-03 05:10] timabbott commented on #277
Let me deploy the new feature to chat.zulip.org; that will make it easier to work with.

[2017-01-03 10:55] sashafierce commented on #206
I would like to work on it myself if I may , Its been there for a while.  @niftynei

[2017-01-03 19:30] timabbott commented on #206
@sashafierce go for it!

[2017-01-03 23:17] #246 closed

[2017-01-04 02:59] #258 closed

[2017-01-04 05:22] timabbott commented on #112
See https://github.com/zulip/zulip/pull/3092 for the current partial implementation (I just rebased @niftynei's work to be usable on top of master).

[2017-01-05 20:45] saketkumar95 commented on #263
Closed https://github.com/zulip/zulip-android/pull/266

[2017-01-05 20:45] #263 closed

[2017-01-07 18:07] sashafierce commented on #206
made a PR #284

[2017-01-07 20:52] kunall17 commented on #112
@saketkumar95 any progress in the notification support?

[2017-01-08 04:20] saketkumar95 commented on #112
@kunall17 Yes. Currently trying to understand the backend. Reference https://github.com/zulip/zulip/pull/3124

[2017-01-08 13:36] anuradhagupta345 commented on #272
@Sam1301 Are you done with this issue?

[2017-01-08 13:45] anuradhagupta345 commented on #262
@timabbott I would like to resolve this issue(if not done yet)

[2017-01-08 14:02] anuradhagupta345 commented on #224
@saketkumar95 It's been long since you have taken this issue! Are you done with it?

[2017-01-08 14:08] saketkumar95 commented on #224
@anuradhagupta345 If you want then you can work on this. I totally forgot about this issue and i'm currently working on some other issues. :)

[2017-01-08 14:09] vishwesh3 commented on #262
@anuradhagupta345 I am working on this. Thanks for your interest :)

[2017-01-08 14:11] yadav-rahul commented on #161
@kunall17 Can I work on this issue?

[2017-01-08 14:15] saketkumar95 commented on #161
@yadav-rahul I'm currently working on this issue. There is some design related errors which i'm fixing. Thanks for your interest. You can check some issues which are not assigned to anyone. :)

[2017-01-08 14:26] yadav-rahul commented on #126
@kunall17 I would like to work on this issue. Shall I proceed?

[2017-01-08 14:30] yadav-rahul commented on #161
@saketkumar95 I just asked this because you had shown no progess on this since long. Between continue your work :)

[2017-01-08 14:35] saketkumar95 commented on #161
@yadav-rahul No problem. I'm done with all the code works. Just some design related issue i'm facing. And this is not actually we are following. We are implementing like tutorial slides on first run and show this same tutorial whenever user wants to take help from overflow menu.

@kunall17 I guess the issue should be updated. :)

[2017-01-08 16:24] yadav-rahul opened #287 "Small UI bug in textColor of EditText"
**Actual Behaviour**
While searching for people in night theme, `textColor` of EditText is white by default:

![giphy 1](https://cloud.githubusercontent.com/assets/15157620/21751354/d22fcb9c-d5eb-11e6-86e3-3e606e6ef0e5.gif)

**Expected Behaviour**

![giphy](https://cloud.githubusercontent.com/assets/15157620/21751389/5b2756fe-d5ec-11e6-9b8e-8574c52e66fe.gif)

@timabbott @kunall17 Shall I make PR f

[2017-01-08 16:47] yadav-rahul opened #288 "DrawerLayout is not auto closing"
Currently drawer is not closing itself by clicking an item of `ExpandableListView`:

![giphy 2](https://cloud.githubusercontent.com/assets/15157620/21751602/d8bf1400-d5ef-11e6-81dd-2bb4868c8cf6.gif)

Whereas it should hide as soon as click is made on an item.

@kunall17 @timabbott What are your views on it?

[2017-01-08 17:21] yadav-rahul commented on #223
@kunall17 I am facing similar issue in Android Version `4.1.2`

![device-2017-01-08-224850](https://cloud.githubusercontent.com/assets/15157620/21751889/c0542090-d5f4-11e6-8aeb-2272a2daf286.png)

`textColor` of menu items is not readable in day mode.

[2017-01-08 17:42] yadav-rahul opened #289 "Extending 'Today' feature to particular stream"
**Observed Behaviour**
When we click on `Today` item present in `ActionBar` without selecting any particular stream, app shows  messages from all stream which is fine but when we click on `Today` from some particular stream (lets say _android_) then also app is showing messages from all stream.

![giphy 3](https://cloud.githubusercontent.com/assets/15157620/21752036/329a7d6e-d5f7-11e6-9d93-85f2432

[2017-01-08 18:50] anuradhagupta345 opened #290 "Add message editing feature"
Once a message is sent there is no way one can change it. What about adding a delete feature in app which will delete a message sent?

[2017-01-09 00:32] timabbott commented on #288
Sounds like a regression to me.

[2017-01-09 01:03] timabbott commented on #290
@anuradhagupta345 Zulip doesn't support deleting messages, and we don't really intend to for various UI reasons (it's confusing, gives a false sense of security, and encourages people to build loggers to record the messages anyway).  I think it would be reasonable to add a message editing UI to the Android app; that feature has been present on web for years.

[2017-01-09 01:08] timabbott commented on #126
@yadav-rahul go for it!

[2017-01-09 02:03] timabbott commented on #287
Sure!

[2017-01-09 07:00] ShailyTyagi commented on #290
Hi! I am new to contributing to open source and i would love to start off by working on this issue.@timabbott

[2017-01-09 10:30] anirudhjain75 opened #291 "Settings option"
Zulip android app does not have an settings option as the other chat tools have

[2017-01-09 10:33] anirudhjain75 opened #292 "Streams are not greyed out"
Streams in Zulip web are greyed out but in the app they are not

[2017-01-09 10:33] anirudhjain75 commented on #292
![screen shot 2017-01-09 at 4 03 10 pm](https://cloud.githubusercontent.com/assets/14249589/21763694/29076b02-d685-11e6-90a9-de05be57b134.png)Desktop Version

[2017-01-09 10:36] anirudhjain75 commented on #292
![screenshot_20170109-160358](https://cloud.githubusercontent.com/assets/14249589/21763762/88e0ab6a-d685-11e6-9978-4e8eed3f2fa9.png)
Android version

[2017-01-09 10:45] rafidaslam commented on #223
I am facing this issue also on Android 4.4.2
![4](https://cloud.githubusercontent.com/assets/20320125/21763928/101d7e70-d693-11e6-8737-7f3c1892760f.png)

and yeah, like @yadav-rahul said, the menu items is not readable in day theme, it just readable in dark theme.
![z](https://cloud.githubusercontent.com/assets/20320125/21763980/5b687cea-d693-11e6-89ab-adaadfb496c7.png)

[2017-01-09 10:56] Sam1301 commented on #272
Hi @anuradhagupta345, I am currently working on other issues. Till such time if you can work on this issue, it'd be great :)

[2017-01-09 11:10] yadav-rahul commented on #291
@kunall17 @timabbott I want to work on this.

[2017-01-09 11:18] saketkumar95 commented on #291
@anirudhjain75 @yadav-rahul Same as https://github.com/zulip/zulip-android/issues/261 issue. I'm Currently working on some other issue. I'll do it in 2-3 days. Kindly work on some other issues which are not assigned to anyone. :)

[2017-01-09 11:25] yadav-rahul commented on #290
@timabbott I would like to work on this.

[2017-01-09 11:27] yadav-rahul commented on #291
@saketkumar95 that was 16 days ago and also no-one assigned that to you.
Plus #261 is much diverse than this one. This issue is only for adding `Setting` option. It's ok if you have already implemented it. Continue with your work :).

[2017-01-09 11:27] TomaszKolek commented on #292
@Sam1301 tried to reproduce it on newest version of the app - and she cannot reproduce it.

@anirudhjain75 Could you update the app and try once again?

[2017-01-09 11:30] saketkumar95 commented on #291
@yadav-rahul I discussed this with @timabbott in private chat and have done half part and waiting for adding more options in setting. Till now there is only two things i have added.

1. Switch day/night mode

2. Enter as send.

Thinking of adding more options that's why i didn't created the PR. :)

[2017-01-09 11:32] saketkumar95 commented on #291
@yadav-rahul What do you think we can add more apart from this in setting options?

[2017-01-09 11:34] yadav-rahul commented on #291
@saketkumar95 We can atleast have settings menu for now. We will add more options to it as we go.

[2017-01-09 11:37] saketkumar95 commented on #291
@yadav-rahul Something is better than nothing. An app with setting option but no options inside doesn't give much user interaction. I've implement the above options. and I guess i need to send the PR now. Will add more options in future. :)

[2017-01-09 11:39] yadav-rahul commented on #291
@saketkumar95 Ok. You send PR fro work you had completed.

[2017-01-09 11:53] anirudhjain75 commented on #292
@TomaszKolek I have the latest version on android

[2017-01-09 11:58] TomaszKolek commented on #292
So could you please try once again?
@anirudhjain75

[2017-01-09 12:03] anirudhjain75 commented on #292
[screenrecorder.20170109172943.mp4.zip](https://github.com/zulip/zulip-android/files/693364/screenrecorder.20170109172943.mp4.zip)
@Sam1301 @TomaszKolek

[2017-01-09 12:31] Sam1301 commented on #292
Hey @anirudhjain75 , as we just found here https://chat.zulip.org/#narrow/near/120578/stream/android/topic/bug.20hunt, this greying is not related to streams being muted :)

[2017-01-09 12:33] anirudhjain75 commented on #292
What is the other reason streams get muted

[2017-01-09 12:46] anirudhjain75 commented on #292
The other reason they are greyed out is `not being used for long` as mentioned by @trueskawka

[2017-01-09 12:51] saketkumar95 commented on #288
StreamDrawer is a expandable listView and this should remain expanded so that user can select the topics. It's already fixed https://github.com/zulip/zulip-android/pull/195 here and extended issue is fixed here https://github.com/zulip/zulip-android/pull/254

Kindly go through all the PRs and issues before creating one.And Correct me if i'm missing something or wrong. :)

[2017-01-09 14:01] yadav-rahul commented on #288
@saketkumar95 I went through all issues and pulls before contributing. What I thought was, till StreamDrawer bug is fixed auto closing ExpandableListView would be a better option because it was looking kind of weird (since ExpandableListView was not expanding).

Also soon after this, I was planning to make a new PR which would eventually fix `StreamDrawer` issue and will auto-close drawer layout t

[2017-01-09 14:19] saketkumar95 commented on #288
@yadav-rahul It's been fixed here https://github.com/zulip/zulip-android/pull/195 and https://github.com/zulip/zulip-android/pull/254 here. I don't know why it's not merged.

@kunall17 Is there something more left ??

[2017-01-09 14:31] kunall17 commented on #290
@yadav-rahul go ahead
Suggestion: Add an option in the long press menu of the contentView and on this option press opens up a dialog to edit the text!
And this editing feature is only allowed within 30 mins (or 10 mins not sure, check on the web UI) when the message is sent!

[2017-01-09 14:32] kunall17 commented on #289
Correct, go ahead and fix this one! 👍

[2017-01-09 14:33] kunall17 commented on #288
Yup, well this might seem confusing but when the expandableListView bug is fixed it wouldn't be confusing!
Btw if you click directly on the textView of the stream name the drawer will close!

[2017-01-09 14:37] kunall17 commented on #270
@nitish1211 it depends on the user itself, and a lot of times the user wouldn't want to save the theme state!
Maybe they are using at the night and next morning they wouldn't prefer the night mode!
If we had a settings menu then we could ask the user what do they want and as you know we don't have one I think it would not be a good option to create a settings menu for only this option?

Any other

[2017-01-09 14:38] kunall17 commented on #262
How about we display the online users and after that the users which we have previously chatted with and after that alphabetically order them?

[2017-01-09 14:40] kunall17 commented on #161
@saketkumar95 what to update for this issue?

[2017-01-09 14:40] saketkumar95 commented on #261
@kunall17 I did the complete work on setting menu as discussed with @timabbott along with the options of switch day/night theme and enter as send. Should i make the PR. I was waiting for someone to tell me if i can add some more options?

[2017-01-09 14:43] saketkumar95 commented on #161
@kunall17 I meant this issue refer that we need to add showcase. But as i discussed with you we are now adding intro slides on the first run. So just to update this. :)

[2017-01-09 14:47] yadav-rahul commented on #262
@kunall17 It will be nice but I have one query. How will preciously chatted users be shown? I mean whether they will be shown alphabetically or in decreasing order of chat messages shared between them or the most recent ones on the top.

[2017-01-09 18:16] showell commented on #292
Is it possible that the stream is grayed out due to being inactive for a long time?

[2017-01-09 18:32] Sam1301 commented on #292
I agree, @anirudhjain75 and I had a chat in android stream, and found out that this graying is due to streams not active for long which is currently not accounted for in the app.

[2017-01-09 19:26] brainwane commented on #161
@saketkumar95 I presume you've got a WIP pull request, or a public branch in your GitHub repo, with your current in-progress work on this issue -- would you mind linking it here? Thanks!

[2017-01-09 19:43] yadav-rahul commented on #126
@kunall17 I am done with this part

This would be the first step and send a PR for this!

Now I am on

[2017-01-09 22:35] vishwesh3 commented on #262
Yes It will be nice and will increase user private messaging experience. We can get user recent PM from messages table and sort the list according (online <-> recent chats <-> other in alphabetically ascending).
Will create a PR soon . :)

[2017-01-10 04:48] kunall17 commented on #262
@yadav-rahul most recent chatted with order!

[2017-01-10 04:50] kunall17 commented on #261
Move the refresh to the settings as well, rename it as reset!
These three should be fine for now!

[2017-01-10 04:51] kunall17 commented on #126
@yadav-rahul send a pr for the first step till the reviewing process you can work with syncing!

[2017-01-10 06:10] saketkumar95 commented on #261
I was thinking of adding message formatting in overflow menu too. We have this on web but not in app. What do you think?

[2017-01-10 06:18] yadav-rahul commented on #261
@saketkumar95 It's already there. See #290. I am already working on this.

[2017-01-10 06:25] saketkumar95 commented on #261
@yadav-rahul https://github.com/zulip/zulip-android/issues/290 this issue is for editing the message. I'm talking about the message formatting.

See this.

![screenshot from 2017-01-10 11-52-05](https://cloud.githubusercontent.com/assets/21558765/21796005/ad46edb0-d72b-11e6-826a-fc955306ec3e.jpg)

[2017-01-10 06:36] yadav-rahul commented on #261
OK. I just got it wrong.

[2017-01-10 09:37] yadav-rahul commented on #126
OK. I am sending PR for first step.

[2017-01-10 14:08] vishwesh3 commented on #262
Done now list is sorted like this

Recent chat was done with Zoe so it is above lago.
![zulip people sort](https://cloud.githubusercontent.com/assets/18511177/21808982/baf17d46-d76b-11e6-95e2-c60ed4b21fd1.png)

I was thinking adding a small text heading above each group (Online, Recent, Others) in the above list.
@kunall17 What you you think?

[2017-01-10 18:46] saketkumar95 commented on #261
@kunall17

These three should be fine for now!

Reset is just same as the refresh or you want something more?

[2017-01-10 18:53] saketkumar95 commented on #270
@kunall17 i'm done with this issue in https://github.com/zulip/zulip-android/issues/261
But now i think we should do same as in google maps. MODE_NIGHT_AUTO To change between day/night based on the time of day.

[2017-01-11 06:48] kunall17 commented on #261
Reset is the right word this thing does! therefore nothing more!

[2017-01-11 06:49] kunall17 commented on #270
@saketkumar95 that's totally dependent on the preference of user, so an option would for this would be nice!

[2017-01-11 06:55] kunall17 commented on #288
Also i forgot to mention in the comment above, this is not a bug and can be closed, this is how the streamsDrawer is supposed to work!

[2017-01-11 07:25] saketkumar95 commented on #270
@kunall17 Cool . Will send the PR for this then. :)

[2017-01-11 07:28] #264 closed

[2017-01-11 11:05] yadav-rahul commented on #288
Thanks @kunall17 for clearing this out. I am closing this issue then.

[2017-01-11 11:05] #288 closed

[2017-01-11 17:20] vishwesh3 commented on #262
While working on this I encounter one more issue
**Steps to reproduce**
Open people drawer -> Select **All Private messages** -> Wait until messages are loaded -> Again open People Drawer -> List of people is reduced -> Again come to home -> List is still reduced

**Expected Behavior**
List should not be reduced.

In my case List does not contain that person to whom I have done some private messag

[2017-01-12 17:18] sashafierce commented on #245
I would like to work on this ,I have worked with firebase though I'd need some guiding.

[2017-01-12 23:48] #206 closed

[2017-01-13 00:39] timabbott commented on #290
Just a quick note: the 30m window is a realm configuration setting; for some realms, edited is allowed forever.

[2017-01-13 01:11] #255 closed

[2017-01-13 03:09] brainwane opened #299 "Android emoji input leads to display problem"
I have just downloaded the Android app from the Google Play store to a phone running Android 7.0.

When I use the `:name-of-emoji:` syntax when composing a message in the Android app, the emoji displays properly in the app; when I use the autocomplete my OS gives me to choose an emoji, the emoji does not display. See the screenshots here, demonstrating the different Android and desktop displays of

[2017-01-13 03:15] Sam1301 commented on #299
@brainwane Thanks for reporting this error. I guess the paths are not being processed correctly. I have tried to solve this bug using #285 . Can you please try this and let me know if this solves the issue? Thanks :)

[2017-01-13 03:52] yadav-rahul commented on #290
Thanks @timabbott for notifying about this. Between I am done with this issue and will send a PR soon :)

[2017-01-14 20:20] #287 closed

[2017-01-15 08:00] 540KJ opened #301 "Clicking on a stream link doesn't redirect to most recent message or last unread message."
After pressing on a stream link, through the stream list or through the stream link on a message, I am taken
to a message significantly older than the most recent, I would of expected it to take me to the last unread message or the most recent message.

## Example from electron stream:
**Where it takes me:**
<img src="https://cloud.githubusercontent.com/assets/23611943/21961085/b36acdec-db54-11e6-

[2017-01-15 08:10] 540KJ opened #302 "Hard to see text because of color in night mode."
@-mentions and at times `code` text are hard to see, because of dark blue and red in dark background. This may not be readily apparent in the image below, but it is for a phone with fixed dimensions.
<img src="https://cloud.githubusercontent.com/assets/23611943/21961145/08868d9c-db56-11e6-9d6e-36fd5b9e5184.png" width="225" height="400" />

[2017-01-15 08:14] vishwesh3 commented on #301
I think this is due to read unread attribute of messages. Will look into this and create PR soon. If there are many unread messages and user opens app it will be better to show dialog like this
![screenshot_20170115-133725_1](https://cloud.githubusercontent.com/assets/18511177/21961172/91b6f4fe-db28-11e6-9cec-63f5354ae9d0.jpg)

[2017-01-15 08:26] Sam1301 commented on #301
Hi @vishwesh3, I think I have already worked on this https://github.com/zulip/zulip-android/pull/279/commits/f4ce5f26fa57780293d036a078de36207ff4b13d.

[2017-01-15 09:31] yadav-rahul commented on #302
@540KJ It's looking fine in my device. @Sam1301 @kunall17 What do you think about this?

[2017-01-15 09:35] Sam1301 commented on #302
hmm... I would agree with @540KJ , the text is kinda hard to see.

[2017-01-15 10:27] anuradhagupta345 commented on #302
@Sam1301 @kunall17 Shall I work on this!

[2017-01-15 10:28] anuradhagupta345 commented on #301
@Sam1301 Shall I give it a try?

[2017-01-15 10:29] anuradhagupta345 commented on #291
@saketkumar95 What is your progress on this issue?

[2017-01-15 10:30] anuradhagupta345 commented on #289
@yadav-rahul What is your progress on this issue?

[2017-01-15 10:32] anuradhagupta345 commented on #290
@kunall17 @timabbott Shall I work on this?

[2017-01-15 10:33] anuradhagupta345 commented on #272
@Sam1301 I will be sending PR soon for this issue!

[2017-01-15 10:35] anuradhagupta345 commented on #270
@saketkumar95 Do update your progress on this!

[2017-01-15 10:36] anuradhagupta345 commented on #261
@kunall17 Can I work on this?

[2017-01-15 10:38] saketkumar95 commented on #261
@anuradhagupta345 Already working on this. Please see other open issues. :)

[2017-01-15 10:44] yadav-rahul commented on #289
I am already working on this and will send a PR soon. You can try any other issue which is not assigned to anyone.

[2017-01-15 10:49] yadav-rahul commented on #290
@anuradhagupta345 I've already sent a PR for this. Please see #300.

[2017-01-15 15:40] anuradhagupta345 opened #303 "Enter Date feature is not working"
When one select certain date from `Enter Date` menu then it is showing **Sorry, no messages here.** but when I scroll manually to that certain date then I find certain messages there.
I tried it many times but every time it is giving the same message. I think there is a bug in _Enter Date_ feature!

@Sam1301 @kunall17 @timabbott Can I work on this?

[2017-01-15 18:38] kunall17 commented on #303
@vishwesh3

[2017-01-15 18:39] kunall17 commented on #302
@anuradhagupta345 👍

[2017-01-15 18:40] kunall17 commented on #301
@anuradhagupta345 sam1301 has already built this one https://github.com/zulip/zulip-android/pull/279

[2017-01-15 18:42] kunall17 commented on #112
@saketkumar95 Any updates?

[2017-01-15 19:25] saketkumar95 commented on #112
@kunall17 I was little bit busy from 1 week in travelling. Didn't gave much time on this. Currently i'm learning about this server side backends only. I really need some experts help to resolve this.

[2017-01-16 15:42] vishwesh3 commented on #303
Thanks @anuradhagupta345 for reporting this.
The problem is not in **Enter Date** Implementation. I tried to figure out this and found that problem also persists in **Today** , in general problem is in Narrowing to date (whether it is today's date or previous date). So can we change title to Bug in Narrowing to any date.
![videotogif_2017 01 16_19 52 54](https://cloud.githubusercontent.com/assets/

[2017-01-16 17:57] anuradhagupta345 commented on #82
@kunall17 I am working on this issue.

[2017-01-16 19:29] sashafierce commented on #154
@kunall17 Can I take this task up ?

[2017-01-16 19:51] kunall17 commented on #154
@sashafierce 👍

[2017-01-16 23:03] #299 closed

[2017-01-16 23:04] #153 closed

[2017-01-17 17:17] nitish1211 opened #304 "Navigation Drawer doesnt close automatically on click"
The Navigation drawer does not close when a channel is selected. I think the UX would be much better if it did.

![1](https://cloud.githubusercontent.com/assets/13676490/22031212/04c1f032-dd06-11e6-81f5-70f48fbdde2c.gif)

It has been implemented in the private chat list.

![2](https://cloud.githubusercontent.com/assets/13676490/22031391/867a36fc-dd06-11e6-973e-7f634d063d50.gif)

Also when the Nav

[2017-01-17 17:29] saketkumar95 commented on #304
Kindly check https://github.com/zulip/zulip-android/issues/288

[2017-01-17 17:32] vishwesh3 commented on #304
Thanks @nitish1211 for reporting.
Actually on selecting stream it should expand and show list of topic of that stream (like in web). PR have been created for that and are under review.
https://github.com/zulip/zulip-android/issues/288
PR https://github.com/zulip/zulip-android/pull/283

[2017-01-17 17:38] nitish1211 commented on #304
Thanks for the references @saketkumar95 @vishwesh3  I'll close this then.

[2017-01-17 17:38] #304 closed

[2017-01-17 20:44] sashafierce opened #305 "Scrolling after reaching end of message list still displays 'Loading Messages' progress bar."
Recycler view shows 'Loading Messages' progress bar even after reaching the last message of a given stream every time list is scrolled which gives the feeling that some messages are yet to be loaded.

<img src=https://cloud.githubusercontent.com/assets/18103181/22038295/944661ce-dd20-11e6-8e11-8dc6bb0079e7.png width=300 height=500 />

<img src=https://cloud.githubusercontent.com/assets/18103181/22

[2017-01-17 21:14] sashafierce opened #306 "Camera app crashing after choosing to upload the image clicked."
This occurred while testing image upload via phone's default camera app ( phone having API level 19) , after pressing the 'tick' OK button the camera app crashes.

<img src=https://cloud.githubusercontent.com/assets/18103181/22039162/33ab1702-dd24-11e6-9db1-58c353bd6dca.png width=300 height=500 />

Secondly , choosing to cancel upload of the image clicked or pressing back button in camera app does

[2017-01-17 21:20] sashafierce opened #307 "Implement switching between Day/Night mode without restarting activity for better UX"

[2017-01-17 21:20] timabbott commented on #306
@sashafierce can you get the traceback?

@Sam1301 any idea what the issue is here?

[2017-01-17 21:41] Sam1301 commented on #306
@sashafierce this seems to be an issue only on lower api levels. I just tested it on api level 23 but couldn't reproduce the error... Investigating more

[2017-01-17 21:54] timabbott commented on #306
Cool.  In general we want to support down to api level 16.

[2017-01-18 00:23] Sam1301 commented on #306
Thanks a lot @sashafierce for reporting this bug :+1:  I have solved this issue using  #308. I could only test it on an emulator. Can you please try this solution on your device and let me know if this works?

[2017-01-18 05:50] vishwesh3 opened #309 "Small issues in UI"
1. On narrowing to our self title is not set.
![videotogif_2017 01 18_09 11 04](https://cloud.githubusercontent.com/assets/18511177/22051649/bdd613c8-dd6a-11e6-9400-52a066e9fb00.gif)

2. On narrowing to PM it will be better to automatically set Person field.
And on narrowing to stream set stream field in message dialog, on narrowing to specific topic of stream set stream name and topic.
![videotog

[2017-01-18 05:52] vishwesh3 commented on #256
This is fixes in PR  https://github.com/zulip/zulip-android/pull/259 and can be closed.

[2017-01-18 14:27] sashafierce commented on #306
Okay now its not crashing but still I am unable to upload the image , the captured image is not shown in the ImageView and when I choose the 'tick' OK button it returns back to camera intent instead of uploading.

[2017-01-18 17:31] Sam1301 commented on #306
hmm... I didn't get this error in emulator running on api 19, the image was shown in imageview, weird :/ Can you give me a stacktrace (if there was one, after choosing 'tick')? Thanks!

[2017-01-18 17:40] Sam1301 commented on #309
@vishwesh3 nice. From the gifs I am guessing you found these issues on your branch `sort-people-drawer`. Can you please switch to a branch which is up-to-date with zulip-android/master? Thanks!

[2017-01-18 21:38] Sam1301 opened #310 "Narrow to a particular date doesn't show the messages posted on that day exclusively."
When I narrow to a particular date using enter date, sometimes I see messages from previous day as well.

![screenshot_20170119-021640](https://cloud.githubusercontent.com/assets/14239866/22083967/314f7cfc-ddf4-11e6-9a80-e35e3357ea43.png)

[2017-01-18 22:12] Sam1301 commented on #309
Thanks @vishwesh3 for finding these bugs :+1:
I would agree with the 1), 4), 5), 6) and 8).
About 2), 3) and 7) I am not sure if we can consider them as issues ( cc: @kunall17).

[2017-01-19 04:15] kunall17 commented on #307
How will you achieve this?
This is how the AppCompat library works?

Changing every colors manually isn't the best option!

[2017-01-19 04:18] kunall17 commented on #305
Hmm, correct but the loading messages goes away also right?
So displaying a toast message should be a right option?

[2017-01-19 04:28] kunall17 commented on #112
@saketkumar95 Yeah, so please work on this PR only, and do ask anything at the zulip.tabbott.net will be happy to help! :)

[2017-01-19 04:42] yadav-rahul commented on #305
@kunall17 Yes. I agree with you but shouldn't we show loading messages only when new messages are there?

[2017-01-19 04:46] kunall17 commented on #305
While loading new messages here https://github.com/zulip/zulip-android/blob/a4374c12240d3714710f2dac4376dbecc692a49c/app/src/main/java/com/zulip/android/activities/MessageListFragment.java#L134
We initiate the process of **trying** to load new messages so then loading messages appear!

[2017-01-19 04:48] yadav-rahul commented on #310
Yes @Sam1301. I agree with you. Actually there are many bugs in the PR made by @vishwesh3.

@kunall17 I think we should revert `Enter Date`  PR till all issues related to it are resolved?

[2017-01-19 04:53] vishwesh3 commented on #310
Thanks @sam1301 for reporting. I will look into this and update soon.

[2017-01-19 07:47] vishwesh3 commented on #310
I have solved this issue using #311. Can you please try this solution on your device and let me know if this issue still persists?

[2017-01-19 07:51] shreyasnbhat commented on #309
Hey!
New here. Could i work on this?

[2017-01-19 07:59] saketkumar95 commented on #309
@vishwesh3 Thanks for reporting. The toast part was done by me so i will fix that and update this soon. :)

[2017-01-19 08:01] vishwesh3 commented on #309
Hi @shreyasnbhat Welcome to zulip.
Thanks for your interest in this. I am almost done with this, just waiting for review on some points before creating PR.

[2017-01-19 08:41] Sam1301 commented on #310
tried the changes :+1:

[2017-01-19 12:42] kunall17 commented on #309
@vishwesh3 I agree in all of them, 7th can be neglected its not a big issue!
Send a PR fixing these issues, and separate each issue in its own commit!

Suggestion: Deal with 5th and 8th at the last, AFAIR the code base they aren't that easy to be solved!

[2017-01-19 12:44] kunall17 commented on #310
@yadav-rahul what other issues are you facing?

[2017-01-19 12:46] kunall17 commented on #303
I think the server doesn't handle this!
@timabbott Is there a parameter for the v1/messages path to get messages from a particular date?

[2017-01-19 12:47] kunall17 commented on #239
This issue can be closed!

[2017-01-19 12:47] kunall17 commented on #82
@anuradhagupta345 Any progress for this one?

[2017-01-19 16:06] sashafierce commented on #307
Right , that won't be a better trade-off definitely.

[2017-01-19 16:41] kunall17 commented on #307
So this can be closed?

[2017-01-19 16:51] sashafierce commented on #307
Yes closing it

[2017-01-19 16:51] #307 closed

[2017-01-19 17:16] yadav-rahul commented on #310
@kunall17 As @anuradhagupta345 mentioned in #303, `Enter Date` feature was not working in my app too.
Also when I go to particular date and then press `One Day Before` then also it was showing no messages.

[2017-01-19 19:14] kunall17 commented on #310
@vishwesh3

[2017-01-19 19:21] vishwesh3 commented on #310
Working on this and update soon.

[2017-01-19 20:54] #239 closed

[2017-01-19 20:55] timabbott commented on #303
Nope.  That's a feature that isn't that interesting on web, so we haven't done it before.  I think we actually don't have a database index on the date, even, though that's something we could change.

Maybe open an issue on the Zulip server project for adding support for such a narrow?

[2017-01-20 10:02] nitish1211 opened #312 "Display Snackbar when device is offline"
The user is not notified that the device is offline, currently there is nothing that notifies the user of the offline status.

![g_20170120_1335533](https://cloud.githubusercontent.com/assets/13676490/22144978/8768dade-df25-11e6-8f59-f39085fc28e7.gif)

and even if the user looses connectivity sometime while using the app then also there should be a lost connectivity message. This I plan on impleme

[2017-01-20 14:09] kunall17 commented on #312
Cool, It would be awesome if you would implement https://github.com/zulip/zulip-android/issues/82 and after this issue you posted, when the application loads and the internet is not there we can the messages previous messages cached and display the snackbar you showed!

I'd be happy to help if you need some! :)

[2017-01-20 18:26] vishwesh3 commented on #310
I have solved and updated PR https://github.com/zulip/zulip-android/pull/311. Now date filtration from local DB is successfully working.Let me know if this still persists.
Once https://github.com/zulip/zulip/issues/3406 is solved we will able to fetch messages of a specific date and will no longer be dependent on only local DB.

[2017-01-20 18:44] vishwesh3 opened #313 "Adding templates for issues and Pull Requests"
https://github.com/blog/2111-issue-and-pull-request-templates

This will make sure that important information is not missed in issue.
**Points in issue template**
- Actual Behaviour
- Expected Behaviour
- Steps to reproduce it
- LogCat for the issue
- Screenshots of the issue
- Would you like to work on the issue?

**Check box in Pull Request template**

- [ ]  Code is formatted Mac: `Option + Com

[2017-01-20 18:46] vishwesh3 commented on #313
@timabbott @kunall17 @Sam1301 your views on this?

[2017-01-20 18:48] kunall17 commented on #313
Hmm, interesting
Also a check if the PR is related to UI then it works, shows well for the black theme that part misses frequently!

[2017-01-20 18:50] vishwesh3 commented on #313
Working on this and create PR soon :)

[2017-01-20 23:52] vishwesh3 opened #315 "Regarding snackbar notification"
1. When snackbar is shown and on clicking **Show** button user id narrowed, and then again coming to home user can not find that new message at the end of the list. On the other hand if snackbar is auto hidden new message is added to list.
![videotogif_2017 01 21_05 10 45](https://cloud.githubusercontent.com/assets/18511177/22169284/f19c8428-df98-11e6-821f-71d5506cb865.gif)

2. On clicking **Show*

[2017-01-21 05:33] kunall17 commented on #315
If the 1st one is the bug it should be not specific to the snackbar, as I used doNarrow only

For the second one its based on the pointer and is a user dependent as clicking on show would skip unread messages and display the latest one!
If this one is too be done there can be added a callback here
https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/activities/Mes

[2017-01-21 05:39] Sam1301 commented on #315
the first one might be related to #226.

[2017-01-21 07:52] vishwesh3 commented on #315
I will be happy to fix it. I am starting work on this and in the meanwhile try to find the cause of real cause 1.
Thanks @kunall17 @Sam1301

[2017-01-21 12:22] kunall17 commented on #315
Go ahead for the fixing part, and cover the animation also (if possible)

[2017-01-22 03:37] #267 closed

[2017-01-22 03:43] #256 closed

[2017-01-22 03:43] timabbott commented on #256
Thanks @vishwesh3, closing :)

[2017-01-22 08:08] ShailyTyagi opened #318 "The filter option disappeared"
A series of events lead to disappearing of the filter option.It reappeared when i restarted the app after closing it.And it disappears  whenever I follow the same steps I did earlier.
![2017_01_22_13_09_28](https://cloud.githubusercontent.com/assets/18248854/22181007/f065dd9c-e0a7-11e6-8c43-053b0587d9a7.gif)

[2017-01-23 13:16] anuradhagupta345 commented on #318
@Sam1301 @timabbott @kunall17 What do you think about it?

[2017-01-23 13:18] anuradhagupta345 commented on #277
@saketkumar95 What is your progress with this issue?

[2017-01-23 13:27] Sam1301 commented on #277
Hey @anuradhagupta345, I'll be working on issue.

[2017-01-23 13:31] Sam1301 commented on #318
@ShailyTyagi Can you please list the steps which lead to disappearing of filter option? Also, be sure to check the options menu for it.

[2017-01-23 18:26] harshitagupta30 opened #320 "EditText's text disappearing on changing the screen orinentation in Login Activity"
**Actual Behaviour**

![videotogif_2017 01 23_23 40 58](https://cloud.githubusercontent.com/assets/12701036/22216992/4cb52196-e1c7-11e6-80ed-da4ace55d9b5.gif)

**Expected Behaviour**
The EditText should retain its text on changing the screen orientation.

@Sam1301 @timabbott @kunall17 Hi, I would like to work on this. Can I send the PR for the same?

[2017-01-23 19:33] Sam1301 commented on #320
@harshitagupta30 go for it :+1:

[2017-01-24 06:59] sampritipanda opened #322 "App Closes on pressing Back with Compose box open"
If the compose box is open, and I press the back button, the app closes.

The expected behavior in this case should be that only the  compose box closes.

[2017-01-24 07:49] ShailyTyagi commented on #318
No,the filter option is not in the option's menu.
i brought the app in landscape mode.I clicked the search button,typed random text and clicked the search button.Then i pressed the back button to close the keypad.I pressed the options menu icon.It had a filter option.Tapped on the screen to close the menu.Then i brought the app back to portrait mode.I pressed the cross which cleared the text.I aga

[2017-01-24 13:56] harshitagupta30 opened #323 "NavigationDrawer not working smoothly on clicking some stream."
**Actual Behaviour**

![videotogif_2017 01 24_19 19 27](https://cloud.githubusercontent.com/assets/12701036/22249857/b969d6da-e26a-11e6-9571-b45c4763aeb8.gif)

**Expected Behaviour**
Along with message list getting refreshed the navigation drawer should also get closed on clicking any stream.

@Sam1301 @kunall17 @timabbott Can I send the PR for the same?

[2017-01-24 14:13] saketkumar95 commented on #323
@harshitagupta30 Please refer  https://github.com/zulip/zulip-android/pull/195 and https://github.com/zulip/zulip-android/issues/288 :)

[2017-01-24 14:24] kunall17 commented on #322
It depends on the UX preference, I would not prefer this to happen as I would rather scroll or swipe this **chatBox** to close this!

[2017-01-24 14:24] saketkumar95 commented on #322
@sampritipanda Thanks for reporting this. Are you working on this or should i fix?

[2017-01-24 14:28] kunall17 commented on #323
Can be closed, when the expandableListView will be working this confusion will go away, sam1301 is working on it currently!

[2017-01-24 14:34] harshitagupta30 commented on #323
Alright! Thanks! @saketkumar95 @kunall17

[2017-01-24 14:34] #323 closed

[2017-01-24 14:49] harshitagupta30 opened #324 "Making stream un-editable in chatbox when redirected from a particular stream."
**Actual Behavior**
![screenshot_2017-01-24-18-40-05](https://cloud.githubusercontent.com/assets/12701036/22251779/03bccc36-e272-11e6-8df6-61315bcbfe58.png)

**Expected Behavior**
![screenshot_2017-01-24-18-39-47](https://cloud.githubusercontent.com/assets/12701036/22251756/f42e6af4-e271-11e6-86df-f156c4d468f6.png)
The user should not able to change the stream when he is redirected from the clicki

[2017-01-24 14:55] kunall17 commented on #324
We mostly follow the UX from the web UI this is like blocking the user from sending messages (Its not necessary if I am narrowed to android then i would not send messages in ios stream) ,
I would not recommend this type of blockage, it would be better notify the user if they are **narrowed** to a stream and they enter another stream then they would be notified that this is of other stream like in

[2017-01-24 15:04] harshitagupta30 commented on #324
I totally understand your point but I made it because if a user is entering into a particular session then he should able to send it to only stream, in case if he want to switch he can change the stream from the drawer.
Thanks for clarifying! @kunall17  :)

[2017-01-24 19:52] harshitagupta30 commented on #302
@anuradhagupta345 What is your progress on this issue? :)

[2017-01-24 20:07] harshitagupta30 commented on #289
@anuradhagupta345 What is your progress on this issue? :)

[2017-01-24 21:04] nitish1211 opened #325 "Keyboard keeps popping up when Theme is changed after typing a message"
The keyboard does not hide after there is a change in theme when the user is typing the message. Then this keeps up in a cycle as and when i keep changing the theme.

![g_20170125_0222423](https://cloud.githubusercontent.com/assets/13676490/22266619/b62f99dc-e2a6-11e6-8598-a59547be0ce2.gif)

@kunall17 @timabbott . I'd like to work on this.

[2017-01-25 12:54] yadav-rahul commented on #325
Yes. If keyboard is open and we change the theme then keyboard remains there and we have to press back button to cancel it.
Instead keyboard should auto-hide itself as soon as new theme is selected.
@Sam1301 @kunall17 What do you think about this?

[2017-01-25 13:08] yadav-rahul commented on #270
@saketkumar95 What is your progress on this issue?

[2017-01-25 13:21] Sam1301 commented on #325
I think the chatbox can be made visible(and fab hidden) in this case. That would reflect a seamless transition between the two themes. @kunall17 what are your thoughts on this issue?

[2017-01-25 14:11] saketkumar95 commented on #270
@yadav-rahul Done with this. Working on setting options , this is included in that issue only. :)

[2017-01-25 16:12] kunall17 commented on #325
@Sam1301 yeah we can go with that ..! :)

[2017-01-26 00:15] timabbott opened #326 "Offer "declare bankruptcy" in Android app"
If you're like 1000 messages behind on your Zulip history and try to use Zulip on mobile, you end up having to scroll through a ton of messages to get past them to more current things (effectively means you end up needing to catching up on the web).

We should have an option (maybe in the hamburger menu) to "declare bankruptcy" on unread messages and go to the end.  It can work similarly to how it

[2017-01-26 00:22] saketkumar95 commented on #326
@timabbott We can have a icon like this
![ic_scroll_to_end_fab](https://cloud.githubusercontent.com/assets/21558765/22315222/6f709d76-e38b-11e6-8f3a-2fc22ecf3f2f.png)

on the home screen only. On clicking on it , it will scroll down to current messages. What say?

[2017-01-26 00:32] timabbott commented on #326
Well, doing that will mark all the messages as read, which is a fairly disruptive action; I guess maybe we can have it ask in a confirmation modal if there are a large number of messages being skipped over?

[2017-01-26 01:43] Sam1301 commented on #326
Very interesting and useful feature.. will work on it.

[2017-01-26 04:23] nitish1211 commented on #325
I'll send a PR for this soon

[2017-01-26 06:34] yadav-rahul commented on #326
Yes. This feature will be very useful. @Sam1301 I am also interested to be the part of this issue.

[2017-01-26 09:50] Sam1301 commented on #326
@yadav-rahul cool, we could work together on this issue.

[2017-01-26 09:52] yadav-rahul commented on #326
@Sam1301 OK.

[2017-01-26 19:31] timabbott opened #328 "Swiping away the compose box should also close the keyboard (if open)"
If you have the keyboard open and swipe the compose box closed, the keyboard stays open confusingly.

[2017-01-26 19:33] vishwesh3 commented on #328
I would lik to work on this and will send PR soon.

[2017-01-26 19:41] timabbott opened #329 "Open keyboard when starting composing a reply"
When you touch a message body to reply, we should probably open the keyboard in order to save 1 click in starting a reply (one of the most common things folks will be doing).

[2017-01-26 19:41] timabbott opened #330 "When starting a new message in a stream/topic narrow via the pencil, auto-fill stream/topic and open keyboard for content"
This should make this common workflow for starting a reply involve a lot fewer touches.

[2017-01-26 19:43] vishwesh3 commented on #329
Will send a PR soon.

[2017-01-26 19:46] timabbott opened #331 "Add a nicer indication when at the bottom/top of the feed"
On web and iOS, we've been experimenting with showing a black Zulip logo at the top/bottom of the feed (you can see it on chat.zulip.org easily; we also use this as the place to show loading indicators if new messages are being fetched on either end.  We should probably do the same on Android to replace the whitespace at the bottom (and put it at the top as well).

[2017-01-26 19:47] vishwesh3 commented on #330
Auto fill part done in PR https://github.com/zulip/zulip-android/pull/317 addressing https://github.com/zulip/zulip-android/issues/309 (2 one). Will update and include Keyboard part in that. :)

[2017-01-26 19:56] nitish1211 commented on #331
@timabbott  I'd like to work on this. So basically we'll be using a custom progressbar at the bottom and on top when loading messages.

[2017-01-26 22:02] timabbott commented on #331
I think that's right.

[2017-01-27 05:32] #322 closed

[2017-01-27 18:32] #328 closed

[2017-01-27 18:40] #320 closed

[2017-01-27 22:46] #329 closed

[2017-01-28 03:09] OliverEvans96 commented on #112
I wonder if, in the mean time, we could implement push notifications via the web app. I noticed the other day that after I signed into Facebook on my android from Chrome, I started getting push notifications, even though I don't have the facebook so installed. Here's the Google developer page : https://developers.google.com/web/fundamentals/engage-and-retain/push-notifications/

[2017-01-28 03:10] OliverEvans96 commented on #112
It seems like web notifications could be a way to circumvent the one server per app restriction.

[2017-01-28 04:02] kunall17 commented on #306
@sashafierce can you post the stacktrace for this one?

[2017-01-28 06:38] yadav-rahul commented on #306
@kunall17 I am also facing similar issue in Android version `4.1.2`.

![rsz_screenshot_2017-01-28-11-56-55](https://cloud.githubusercontent.com/assets/15157620/22394866/08762fbe-e552-11e6-8448-2f938e414efc.png)

Here is the stack trace for this:

`01-28 11:56:34.952 24364-24364/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   java.lang.SecurityException:

[2017-01-28 06:40] Sam1301 commented on #306
@yadav-rahul yes, the crash I think is fixed in #308 pr. Can you please try that pr's solution and let me know in case its fixed? Thanks :)

[2017-01-28 07:04] yadav-rahul commented on #306
@Sam1301 OK. I am testing #308.

[2017-01-28 18:01] #306 closed

[2017-01-29 14:34] anuradhagupta345 commented on #325
@nitish1211 Have you started working on this? If not, I would love to fix it!

[2017-01-29 14:35] anuradhagupta345 commented on #318
@kunall17 What are your views on this ?

[2017-01-29 14:38] anuradhagupta345 commented on #289
@harshitagupta30 I am waiting for this one https://github.com/zulip/zulip-android/issues/303. Once #303 is solved I would fix it!

[2017-01-29 14:39] kunall17 opened #342 "Espresso test's are flaky"
The current espresso test's are flaky (sometimes they run fine and sometimes don't)
These test's are very important to be used in the travis CI!

[2017-01-29 14:39] anuradhagupta345 commented on #243
@saketkumar95 What is your progress on this one?

[2017-01-29 14:40] kunall17 opened #343 "Save the server URL after logout"
On logging out the first enter server appear's it would be nice to put the server url back there!

[2017-01-29 14:41] harshitagupta30 commented on #343
@kunall17 Can I work on this issue? :)

[2017-01-29 14:45] yadav-rahul commented on #342
@kunall17 I would like to work on this.

[2017-01-29 14:46] yadav-rahul commented on #223
@Sam1301 @kunall17 I would like to solve this issue.

[2017-01-29 14:59] anuradhagupta345 commented on #161
@saketkumar95 Have you submitted Pull Request for this issue?

[2017-01-29 15:08] harshitagupta30 opened #344 "Adding a message at the end of all message list for user awareness."
Just a suggestion can we add a message like "No new messages" at the end of the message list when the user is trying to update the list to make user aware that list has been updated instead of the present scenario shown in gif.

![videotogif_2017 01 29_20 24 52](https://cloud.githubusercontent.com/assets/12701036/22405034/2a54e128-e662-11e6-93b1-a5723d4a75c7.gif)

@timabbott @kunall17 @Sam1301 Hi,

[2017-01-29 15:22] yadav-rahul commented on #344
@harshitagupta30 I don't think that adding "No new messages" at the end of list(while updating) would be a good option because How can one predict that whether new messages are there or not while updating the list?

[2017-01-29 15:29] harshitagupta30 commented on #344
Since we're fetching the messages from API and if all messages have been loaded and after that user tries to fetch by scrolling then a message should pop out that all messages has been fetched.

[2017-01-29 15:59] kunall17 commented on #344
I thought of implementing a snack bar or toast
while writing the recycler view but the problem is it can be spammy as well! And may not look good.

What are the other options for notifying?

[2017-01-29 16:00] kunall17 commented on #343
Sure go ahead!

[2017-01-29 16:00] kunall17 commented on #342
@yadav-rahul go for it!

[2017-01-29 16:31] vishwesh3 opened #345 "HTTPS in capital showing error"
1) When HTTPS in capital is entered it is showing error.
![videotogif_2017 01 26_20 44 19](https://cloud.githubusercontent.com/assets/18511177/22405702/9a7e3eae-e66c-11e6-93d4-d731db48a237.gif)

Whereas in browser
![videotogif_2017 01 26_20 41 58](https://cloud.githubusercontent.com/assets/18511177/22405703/9aee4762-e66c-11e6-9937-528aaa0f06b7.gif)

2) If it is then changed to "https" then url edi

[2017-01-29 19:26] timabbott commented on #345
I wouldn't have thought anyone would have typed `HTTPS`, but seems reasonable to force-lower-case the server URL when they enter it; it's a quick change and not likely to cause problems.

[2017-01-29 19:36] timabbott commented on #243
@anuradhagupta345 if you'd like to help with this, it looks like https://github.com/zulip/zulip-android/pull/286 is open and waiting for feedback; can you give that a test and post feedback?

[2017-01-30 08:20] anuradhagupta345 commented on #291
@saketkumar95 What is your progress on this issue?

[2017-01-30 10:30] kunall17 commented on #318
@anuradhagupta345 yeah this a bug and i have no clue why is this happening, but this is rare issue to be worked on (seeing the series of events to be performed) we have other much more important issues to be worked on!

[2017-01-30 10:31] kunall17 commented on #223
@yadav-rahul go ahead! whats the update of the 3rd step of the star/unstar PR?

[2017-01-30 13:25] harshitagupta30 commented on #344
Hi @kunall17!
In my opinion, it doesn't look spammy. Assuming one has low internet connection and he is trying to load new messages which is taking time and if they are not loaded he'll think the internet is not working properly while the case is all the messages has been loaded. So if we can provide a message it will let user know that all messages have been fetched.
In fact I tried to implement

[2017-01-30 13:55] kunall17 commented on #344
@harshitagupta30 Yeah i can connect very well, and understand the problem!
I also asked what can be other options rather than snackbar, if no other good suggestions we'll have to go with snackbar!

Can you upload the code (maybe a .patch file) or a commit, I wanted to test?

[2017-01-30 14:01] yadav-rahul commented on #223
@kunall17 I am on it.

[2017-01-30 14:02] harshitagupta30 commented on #344
I tested with toast and alert dialog box as well but this the best possible way and very clean, in my opinion.
Yeah! I will upload the .patch file for the testing.

[2017-01-30 20:34] vishwesh3 opened #351 "Narrow to @-mentions."
Like in web.
![25230226-6880-11e6-84eb-955ce0c1d6f8](https://cloud.githubusercontent.com/assets/18511177/22440288/d984515a-e758-11e6-944d-68a6176ff31f.png)

I would love to work on this. We can include this option below **Private messages** in **People Drawer**.

@timabbott @kunall17 @Sam1301 Your thoughts on this.

[2017-01-31 00:42] timabbott commented on #351
Sounds like a great feature to me.

[2017-01-31 05:47] kunall17 commented on #351
Issue was already there btw https://github.com/zulip/zulip-android/issues/39

[2017-01-31 14:15] Sam1301 opened #353 "Scroll position not maintained when messages are loaded ABOVE"
I noticed the scroll position in recyclerview is not maintained whenever messages are loaded with `LoadPosition.ABOVE` i.e. above the list of visible messages.

Scenarios when this occurs

- scroll to top in any view (home or narrowed)
- narrow to a stream/topic/pm

![g_20170131_1930253](https://cloud.githubusercontent.com/assets/14239866/22468158/5d173002-e7ed-11e6-8dce-195eb6eed3cd.gif)

[2017-01-31 17:59] harshitagupta30 commented on #353
Hi @Sam1301! Will you be working on this issue? In case you're not then I would love to do that :)

[2017-01-31 18:12] Sam1301 commented on #353
Hi @harshitagupta30, already did #279 :)

[2017-01-31 18:20] #310 closed

[2017-01-31 18:44] #345 closed

[2017-01-31 18:48] #330 closed

[2017-01-31 18:49] timabbott commented on #330
@vishwesh3 was 8449ec513516985b66b7993a20dc540d7fe8e921 meant to close this, or only part of it?

[2017-01-31 18:51] timabbott commented on #309
Which parts of this are still open?

[2017-01-31 18:52] harshitagupta30 commented on #353
@Sam1301 No problem! :+1:  :)

[2017-01-31 18:55] Sam1301 commented on #309
3) and 8) are open in #339

[2017-01-31 19:01] vishwesh3 commented on #330
Yes this issue is solved now.

[2017-01-31 19:04] #325 closed

[2017-01-31 19:18] kunall17 opened #355 "While scrolling display a scroll to latest message button!"
While scrolling display a scroll to latest message button left bottom side maybe!

[2017-01-31 19:19] vishwesh3 commented on #355
I would like to work on this awesome feature :)

[2017-01-31 19:20] kunall17 commented on #355
@vishwesh3 go ahead! :)

[2017-01-31 19:25] kunall17 commented on #355
@vishwesh3 Already there is #326 which is same please stop the work as its already being worked on!

[2017-01-31 19:25] #355 closed

[2017-01-31 19:33] vishwesh3 commented on #355
Ok, I will be happy to help there :)

[2017-01-31 20:17] #145 closed

[2017-01-31 20:17] #353 closed

[2017-01-31 20:20] #290 closed

[2017-01-31 20:25] nitish1211 opened #357 "Upgrade gradle version to 2.2.3 for faster build with instant run"
I think changing the gradle version to 2.2.3 to the current 2.2.0 makes instant run much faster. So it would be easier to test the code.

[2017-01-31 20:30] yadav-rahul commented on #357
Yes. It will be useful because we have to manually increase it while testing app in order to enable _Instant Run_.

[2017-02-04 06:28] kunall17 opened #365 "LoginActivity window has been leaked"
[code]

On the branch https://github.com/sam1301/zulip-android/tree/use-server-ids

[2017-02-04 06:49] kunall17 commented on #357
Yeah ok, send a PR
Btw for these small changes you can directly send a PR if its not needed then it will be closed!

[2017-02-04 16:44] harshitagupta30 commented on #365
@kunall17 Can I work on this issue?

[2017-02-04 17:28] harshitagupta30 opened #366 "No check on internet connectivity while loading the messages on cold start."
On opening the application if there is no internet connectivity and someone is already logged in then the message loading will continue for indefinite period. Neither the messages will be loaded nor the toast will be displayed regarding no internet connection.

![videotogif_2017 02 04_22 44 03](https://cloud.githubusercontent.com/assets/12701036/22620247/750b26e4-eb2d-11e6-9418-de430116bc98.gif)

[2017-02-04 17:33] vishwesh3 commented on #366
Thanks @harshitagupta30 for reporting. After this merge https://github.com/zulip/zulip-android/pull/316#issuecomment-275897250 messages will be shown in offline mode.

[2017-02-04 17:35] harshitagupta30 commented on #366
@vishwesh3 Thanks for letting know! I am closing this issue! :+1:

[2017-02-04 17:35] #366 closed

[2017-02-04 20:05] yadav-rahul commented on #342
@kunall17 I run all tests and found that some are failing quite frequently. One of the main reason which I found for this is the execution of code i.e. even if the last method is not completed yet, next method will be called.

There are other small issues as well due to which tests are breaking. I will fix them and will send a PR soon. :)

[2017-02-05 19:11] Sam1301 opened #368 "All images are not displayed in a message tile."
For messages with multiple images, all image thumbnails are not shown in the inline preview. Only the first image is shown in the preview.

**Current behaviour**

![screenshot feb 6 2017 00_24_35](https://cloud.githubusercontent.com/assets/14239866/22628987/eb18cffe-ec03-11e6-8e79-9134ce5ca3bc.png)

**Expected behaviour**

![selection_007](https://cloud.githubusercontent.com/assets/14239866/226290

[2017-02-05 20:42] timabbott commented on #368
This might be a backend thing -- I think we may only render previews for the first image if there are more than N images linked to in a message...

[2017-02-05 20:43] timabbott commented on #368
Just read the code; I guess the backend logic limits us to showing <5 images; so it's probably not that?  Maybe worth testing on web though just to be sure.

[2017-02-05 21:00] Sam1301 commented on #368
Just tested on the web, <5 images are being shown. But in the app, only the first img tag src is being extracted.

[2017-02-05 23:08] timabbott commented on #368
OK, makes sense, yeah we should fix that.

[2017-02-06 06:02] #243 closed

[2017-02-06 06:03] #244 closed

[2017-02-06 06:53] #309 closed

[2017-02-06 19:25] vishwesh3 opened #369 "Add progress dialog"
While connecting to the server after selecting `http` or `https` from dialog, app is connecting to server in background, it will be better to add progress dialog to let user know that background process is going on and no need to press  **Enter** button again. It will even help when internet connectivity is slow. Same for the **Refresh** and **Logout**. As it takes some time to drop current databa

[2017-02-07 05:06] kunall17 commented on #369
Yeah, so when your making the ProgressDialog make this in util class and the reuse the dialog, maybe in the later point of time we'll implement some custom loading animations like in the web!

[2017-02-07 23:12] #313 closed

[2017-02-08 02:47] bgilbert opened #373 "Allow editing sent messages"
Once a message is sent, there seems to be no way to modify it without switching to the web interface.  This compounds the damage after #179 strikes.  Perhaps an edit command could be added to the message long-press menu.

[2017-02-08 02:55] timabbott commented on #373
Thanks for the feedback @bgilbert!  This is already done in master, so this feature will be in the next release (probably in a couple days)!  See #290.

[2017-02-08 02:55] #373 closed

[2017-02-08 02:57] bgilbert commented on #373
Awesome, looking forward to it!

[2017-02-08 02:58] bgilbert commented on #373
Awesome, looking forward to it!

[2017-02-08 03:14] kunall17 commented on #357
This can be closed now!

[2017-02-08 03:15] #357 closed

[2017-02-08 18:32] kunall17 commented on #223
Closed via #350

[2017-02-08 18:32] #223 closed

[2017-02-08 18:56] kunall17 commented on #331
Fixed via #341

[2017-02-08 18:56] #331 closed

[2017-02-09 06:06] #369 closed

[2017-02-09 06:13] kunall17 commented on #365
@harshitagupta30 sure go ahead 👍

[2017-02-09 17:15] kunall17 commented on #343
Fixed via #363

[2017-02-09 17:15] #343 closed

[2017-02-09 17:15] kunall17 commented on #324
This can be closed!

[2017-02-09 17:16] kunall17 commented on #315
Can be closed now!

[2017-02-09 17:17] kunall17 commented on #305
#344 is being worked on!

[2017-02-09 17:17] #305 closed

[2017-02-09 17:18] kunall17 commented on #301
Fixed via #279

[2017-02-09 17:18] #301 closed

[2017-02-09 17:18] kunall17 commented on #272
Fixed via #371

[2017-02-09 17:18] #272 closed

[2017-02-09 17:21] kunall17 commented on #13
This is fixed now!

[2017-02-09 17:21] #13 closed

[2017-02-09 17:33] #324 closed

[2017-02-09 18:41] harshitagupta30 commented on #365
@kunall17 The leak in the LoginActivity is due to not closing the dialog box when we've exited the activity. The issue is in Sam1301's local branch and I couldn't reproduce it in master branch. But to avoid this issue we can call dailogbox.dismiss() method on Activity's onDestroy method.
So can I make changes on master branch?

[2017-02-09 19:20] Sam1301 opened #375 "Hide extra "/api" in server url after logout."
After logout, the previously entered server url shows extra "/api".

![g_20170210_0036143](https://cloud.githubusercontent.com/assets/14239866/22799008/30312914-ef2a-11e6-9ac6-b0e76b7b0c1e.gif)

Since the old api.zulip.com doesn't exist anymore, we should hide "/api" from the user and use it in the code instead.

[2017-02-09 19:30] timabbott commented on #375
Agreed!

[2017-02-09 19:36] Sam1301 opened #376 "Background color of compose status in night theme is white."
The background and text color of compose status in chatbox is white under night theme.

![screenshot_20170210-005751](https://cloud.githubusercontent.com/assets/14239866/22799723/d33bc9e6-ef2c-11e6-94bb-3c8981e202f9.png)

[2017-02-09 20:31] Sam1301 opened #377 "Message duplication on narrow after refresh"
Message list is added again after the last message in the home list.

Steps to reproduce the bug:
* press refresh button
* narrow to topic/pm/stream
* press back to come to homelist

This bug is actually in the current release (v1.1.2).

[2017-02-09 21:41] nitish1211 commented on #376
@Sam1301 I'll be working on this.

[2017-02-09 21:47] nitish1211 commented on #375
@Sam1301 @timabbott I'll be working on this.

[2017-02-10 02:20] saketkumar95 opened #381 "Using any one of them Glide or Picasso"
**Actual Behaviour**

Both Glide and picasso is being used for fetching of images or anything.

**Expected Behaviour**

It would be better that any one can be used + apk size will be reduced too.

**Would you like to work on the issue?**

I'm working on this. :)

[2017-02-10 02:21] saketkumar95 commented on #381
I guess it would be better to use Glide as it supports everything that of picasso + picasso doesnot support gifs.
@kunall17 @Sam1301 Any suggestions?

[2017-02-10 02:32] Sam1301 commented on #381
@saketkumar95 yeah glide is better than picasso perf wise, you would prefer Glide for use. @kunall17 thoughts on this?

[2017-02-10 03:51] Sam1301 opened #382 "Make in-app notifications audible"
It would be nice to add sound when in-app notifications come for a stream with [audibleNotifications](https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/models/Stream.java#L48) set as true or any private message.

[2017-02-10 04:11] timabbott opened #383 "Add support for login via web"
We have a few login mechanisms that we're unlikely to want to build into the app natively (both corporate SSO type things like Apache REMOTE_USER and things like GitHub auth).

To support these more unusual login flows, I think maybe we should support "login via web", where basically the app logs into the Zulip website using a web authentication flow, but then rather than loading the website, it i

[2017-02-10 04:17] kunall17 commented on #365
There was no change in the LoginActivity nor in ZulipActivity, so it is not possible that this problem persist in her branch only!
And i remember i got this in some other branch as well, send a PR for this I'll debug!

[2017-02-10 04:19] kunall17 commented on #381
We need to support GIF so we'll have to use glide!

[2017-02-10 04:32] saketkumar95 commented on #381
@kunall17 Yeah. I used Glide only. :)

[2017-02-10 05:28] timabbott opened #385 "Add a floating recipient bar"
Right now, it can sometimes be pretty hard to tell what stream/topic you're looking at in the home view (or which topic in a stream view) that has a lot of messages in a row to the same topic, because we don't have a floating recipient bar showing the stream/topic (or whatever the recipient is) for the messages at the top of the view.  The webapp does this well, as does the React Native iOS app.

[2017-02-10 05:30] timabbott opened #386 "Compose box shouldn't auto-open when narrowing"
When you click on a message header to narrow to a stream/topic pair, the compose box opens automatically, which can be distracting and takes up space.  We probably don't want it to open unless the user has done something that indicates they actually want to compose a reply (such as tapping in the message body rather than the recipient headers).

[2017-02-10 05:33] timabbott commented on #248
@saketkumar95 what's the status on this feature?

I think we could reasonably put the option in a custom keyboard, rather than in the short "what you've typed so far" area, since probably if you're adding emoji, most of the time you will already have the keyboard open to type any text in the message anyway.  (might make sense to move the attach-photo stuff to the keyboard as well, add a mention bu

[2017-02-10 07:59] vishwesh3 commented on #385
I would like to work on this.

[2017-02-10 08:08] Sam1301 commented on #385
@vishwesh3 go for it :+1: :)

[2017-02-10 10:01] timabbott opened #388 "Minor rendering bug for multiline private message at end of feed"
It feels like there's some missing padding in the yellow text at the bottom here:

![screenshot_2017-02-10-01-55-37](https://cloud.githubusercontent.com/assets/2746074/22822538/ba34850c-ef34-11e6-81c8-e3c78dbac230.png)

[2017-02-10 11:01] saketkumar95 commented on #248
@timabbott We can have our own custom keyboard instead of sytem keyboard for the app. And we can add anything what we want there. Adding more options in the system keyboard is i guess not possible.
what say?

[2017-02-10 11:18] saketkumar95 commented on #388
@timabbott As paddingStart is 8dp, i added paddingBottom to also 8dp. It will be  better to see. :)

[2017-02-10 12:31] saketkumar95 commented on #375
@nitish1211 go ahead. :)

[2017-02-10 20:11] timabbott commented on #248
yeah, seems like probably we should do a custom keyboard.

[2017-02-10 20:13] saketkumar95 commented on #248
Cool, then i will add the emoji picker in the keyboard itself. :)

[2017-02-10 23:46] saketkumar95 opened #392 "Make the login flow pretty"
**Actual Behaviour**

Currently the Login flow is quite normal.

**Expected Behaviour**

Re-desiging the login flow along with adding a balloon like this.
![login 1](https://cloud.githubusercontent.com/assets/21558765/22848268/3fc103e6-f019-11e6-8d11-6c9a164c9b1d.jpg)

**Would you like to work on the issue?**

Yes.

[2017-02-12 00:28] timabbott opened #395 "zulipbot test issue"
This issue is for testing the @zulipbot integration.

[2017-02-12 00:28] timabbott commented on #395
@zulipbot claim

[2017-02-12 01:11] synicalsyntax commented on #395
@zulipbot claim-issue

[2017-02-12 01:13] synicalsyntax commented on #395
@zulipbot claim-issue

[2017-02-12 01:20] synicalsyntax commented on #395
@zulipbot claim-issue

[2017-02-12 01:29] timabbott commented on #395
@zulipbot claim-issue

[2017-02-12 01:29] synicalsyntax opened #396 "zulipbot test issue"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Explain what is currently happening.

**Expected Behaviour**

Explain what you expected (unnecessary if it's obviouxly broken, e.g. a crash).

**Would you like to work on the issue?**

Let us know if this issue should be assigned to you.

[2017-02-12 01:29] synicalsyntax commented on #396
@zulipbot claim-issue

[2017-02-12 01:34] timabbott commented on #395
@zulipbot claim-issue

[2017-02-12 01:35] timabbott commented on #396
@zulipbot claim-issue

[2017-02-12 01:35] timabbott commented on #396
@zulipbot claim-issue

[2017-02-12 01:49] #396 closed

[2017-02-12 01:50] synicalsyntax opened #397 "zulipbot test issue (non-collaborator)"
Testing non collaborator issue assigning with @synicaltests

[2017-02-12 01:50] synicaltests commented on #397
@zulipbot claim-issue

[2017-02-12 01:51] #397 closed

[2017-02-12 02:29] saketkumar95 commented on #395
@zulipbot claim-issue

[2017-02-12 02:30] timabbott commented on #395
Success :).

[2017-02-12 02:30] #395 closed

[2017-02-12 02:30] saketkumar95 commented on #395
@timabbott This is simply awesome! :) Loved it. :)

[2017-02-12 02:40] saketkumar95 commented on #388
@zulipbot claim-issue

[2017-02-12 02:41] saketkumar95 commented on #291
@zulipbot claim-issue

[2017-02-12 02:41] saketkumar95 commented on #248
@zulipbot claim-issue

[2017-02-12 02:42] saketkumar95 commented on #230
@zulipbot claim-issue

[2017-02-12 02:42] saketkumar95 commented on #161
@zulipbot claim-issue

[2017-02-12 04:00] Sam1301 opened #398 "Add attachment uploads feature."
**Actual Behaviour**
Currently, we only support sharing images from outside the app using intent filter.

**Expected Behaviour**
Support attachment uploads to share all types of files from within the app.

[2017-02-12 04:00] Sam1301 commented on #398
@zulipbot claim-issue

[2017-02-12 06:38] vishwesh3 commented on #351
@zulipbot claim-issue

[2017-02-12 06:40] vishwesh3 commented on #377
@zulipbot claim-issue

[2017-02-12 10:21] harshitagupta30 commented on #382
@Sam1301 are you working on this?

[2017-02-12 13:16] Sam1301 commented on #382
Nope, you can work on it :) Also since now we use zulipbot to assign ourself issues you can see if an issue is being worked on by viewing its assignments or the in progress label :)

[2017-02-12 14:25] harshitagupta30 commented on #382
@zulipbot claim-issue

[2017-02-12 18:00] vishwesh3 opened #399 "Add custom tabs for legal information page"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Currently WebView is used.

**Expected Behaviour**

As we are already using custom tabs in our project it will be better to use it for legal information page too.

**Would you like to work on the issue?**

Yes

@zulipbot claim-issue

[2017-02-12 18:02] vishwesh3 commented on #399
@zulipbot claim-issue

[2017-02-12 19:35] timabbott commented on #399
@vishwesh3 have you read https://github.com/zulip/zulip-mobile/issues/297?  We probably want to use the same strategy as there.

[2017-02-13 04:18] #388 closed

[2017-02-13 05:33] synicaltests commented on #397
tests

[2017-02-13 05:39] Sam1301 commented on #375
Fixed via #400

[2017-02-13 05:39] #375 closed