[2017-02-13 10:53] vishwesh3 opened #401 "Testing zulipbot"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Explain what is currently happening.

**Expected Behaviour**

Explain what you expected (unnecessary if it's obviouxly broken, e.g. a crash).

**Would you like to work on the issue?**

@zulipbot claim-issue

[2017-02-13 17:54] synicalsyntax commented on #401
@vishwesh3 You have to leave a comment on the issue you want to claim, but I think we can add support for zulipbot in the body of an issue too. What do you think @timabbott ?

[2017-02-14 00:00] synicalsyntax opened #402 "zulipbot test"
Testing issue claims upon creation @zulipbot claim

[2017-02-14 00:01] synicalsyntax commented on #402
@zulipbot claim

[2017-02-14 00:01] synicalsyntax commented on #402
@zulipbot unassign

[2017-02-14 00:06] synicalsyntax commented on #402
@zulipbot claim

[2017-02-14 17:38] #377 closed

[2017-02-14 17:52] kunall17 commented on #386
@timabbott how about if the composeBox is visible and there is some text in the message edit text and then messageHeader is clicked then we display the composeBox otherwise not?

[2017-02-14 18:28] kunall17 opened #403 "Error thrown on switch day/night theme"
On recent changes this weird error is being thrown

`02-14 13:26:47.109 15247-15270/com.zulip.android.dev A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 15270 (RenderThread)`

[2017-02-14 20:25] vishwesh3 commented on #399
Ok Will do in that way. :)
Just want to know whether it is done on server side or not?

[2017-02-15 04:55] timabbott commented on #399
Opened https://github.com/zulip/zulip/issues/3686 for this issue.

[2017-02-15 05:04] timabbott commented on #386
Just to be clear, is the idea that if you've already entered some text in the compose box, and narrow, we shouldn't lose it by leaving the compose box open?  I agree with that.

[2017-02-15 11:38] saketkumar95 commented on #392
@kunall17 @Sam1301 @timabbott I was thinking of adding a option of forgot password too. Same as Register. what do you think about this?

[2017-02-15 11:40] saketkumar95 commented on #403
@kunall17 Can you tell me how to reproduce it? it's working fine in my device.

[2017-02-15 11:51] vishwesh3 commented on #401
Thanks @synicalsyntax
 Just opened this issue to check whether zulipbot works when "@zulipbot claim-issue" is in the body.

[2017-02-15 11:51] #401 closed

[2017-02-15 16:14] timabbott commented on #392
Yeah, that sounds good.

[2017-02-16 00:11] Sam1301 commented on #365
@kunall17 can this be closed? @harshitagupta30 thanks for submitting pr #391 that addresses this issue. I saw that you included "Issue#365" in the commit message. The way we prefer to add issue number in the commit messages is by including "Fixes #365" as the last line of commit messages(I guess you missed the space after "Issue"). That way issue is auto-closed once that commit gets merged. See th

[2017-02-16 09:25] vishwesh3 commented on #315
yeah this can be closed now

[2017-02-16 09:25] #315 closed

[2017-02-16 17:36] #365 closed

[2017-02-16 17:39] saketkumar95 commented on #342
@yadav-rahul any updates?

[2017-02-16 17:56] yadav-rahul commented on #342
@saketkumar95 My MTE's are going on. Will send PR soon after they get over. :)

[2017-02-17 06:37] timabbott opened #405 "Make sure that all of our strings have the standard Zulip capitalization scheme"
Generally, just the first letter of phrases is capitalized in Zulip, even in headings/etc.  E.g.
[code]

[2017-02-17 06:44] saketkumar95 commented on #405
yeah, i will check all the strings, if found such then do the changes. :)

[2017-02-17 06:45] saketkumar95 commented on #405
@timabbott what about the string "Welcome to Zulip!" ? should i change that too?

[2017-02-17 06:51] #402 closed

[2017-02-17 06:56] Sam1301 commented on #405
@saketkumar95 I guess not, proper nouns can be left capitalized.

[2017-02-17 07:15] timabbott commented on #405
Yeah, capital nouns should be left capitalized as normal :).

[2017-02-17 19:01] vishwesh3 opened #406 "Restore current narrow, scroll position after switching Day/night theme"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

1) As of now if we are narrowed to PM/topic/stream/search and we change theme, we again come back to home view.

2) When we have some unread message and switch theme, scroll position is absolutely fine. But if user have read all message and and then scroll top to re-read any topic/message and then switch theme, he/she i

[2017-02-17 19:02] vishwesh3 commented on #406
@timabbott @kunall17 @Sam1301 Your thoughts on this

[2017-02-17 19:05] timabbott commented on #406
Yep, this sounds good.  We actually do this pretty carefully in the webapp for various circumstances (even reloading the browser to get a new version of the JS code) because it really makes the experience nice.

[2017-02-17 19:06] vishwesh3 commented on #406
@zulipbot claim-issue

[2017-02-18 07:09] Sam1301 opened #407 "Stream Topics are case sensitive."
**Actual Behaviour**
The stream topics are case sensitive.
![screenshot_20170218-122306](https://cloud.githubusercontent.com/assets/14239866/23091186/00969dd0-f5d6-11e6-9dac-8391a5ead64d.png)

In this screenshot, "android" and "Android" are being treated as different topics under stream "test here".

**Expected Behaviour**
Stream topics should actually be case insensitive. We can display "android"

[2017-02-18 07:27] vishwesh3 commented on #407
I would like to work on this.
@zulipbot claim-issue

[2017-02-18 07:28] Sam1301 commented on #407
cool @vishwesh3 , go for it :+1:

[2017-02-19 08:38] rhari991 commented on #154
@kunall17 I'd like to work on this, but I can't seem to find a way to open the people drawer. Am I missing something ?

[2017-02-19 08:53] kunall17 commented on #154
Didn't get you?
Not sure if you're asking this, swiping RTL opens the drawer!

[2017-02-19 08:58] rhari991 commented on #154
Got it, I'm new at using this app, so sorry if this is a silly question :)

[2017-02-19 09:03] kunall17 commented on #154
No worries :)

[2017-02-19 09:04] kunall17 commented on #154
Btw @rhari991 do you feel there should be any other docs or some info about how to use the app?

[2017-02-19 09:09] rhari991 commented on #154
@kunall17 Everything seems pretty simple and intuitive, except for the people drawer - there could be a menu item that opens it, just so that people don't miss it.

[2017-02-19 09:09] rhari991 commented on #154
@zulipbot claim-issue

[2017-02-19 09:18] kunall17 commented on #154
@rhari991

This issue is being worked by @Sam1301 for the streams, it would be better if you would start working on this issue after she has posted a PR, as it would be easy for you as well!

After that by similar code you can extend that to private!
So can you work on some other issue for the time being?

[2017-02-19 09:21] rhari991 commented on #154
Will do !

[2017-02-19 09:54] rhari991 commented on #224
@zulipbot claim-issue

[2017-02-19 11:59] rhari991 commented on #155
@zulipbot claim-issue

[2017-02-19 13:51] rhari991 commented on #218
@kunall17 Where should the lock icon be placed ? I cannot seem to find it on the web interface.

[2017-02-19 18:00] kunall17 commented on #218
@rhari991 maybe in the message header!
not sure though, can tell after having a lock at the icon!

[2017-02-19 19:37] timabbott commented on #218
To be clear, you need a **private stream**, not a private message conversation.

In the webapp, we display the lock icon:
* Instead of the color swatch if we're showing a list of streams with their colors
* To the left of the stream name in the main message feed.

[2017-02-20 03:49] saketkumar95 commented on #224
@timabbott @kunall17 we can close this i guess.

[2017-02-22 16:23] #405 closed

[2017-02-25 22:57] vishwesh3 opened #418 "Replace the drawables by their vector counterparts"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Currently we are using png for icons.

**Expected Behaviour**

Use vector icons.
- This will reduce APK size to some extent as it requires only one `xml` file (5 files in case of png hdpi,mdpi,xhdoi,xxhdpi,xxxhdpi)

- They also scale very well which is why we only need to create 1 vector drawable

**Would you like to wo

[2017-02-25 23:50] saketkumar95 commented on #418
@vishwesh3 Nice idea! But the PNGs are in Bytes so it won't matters  much.  +  i don't think it is required right now as checked 1 xml file have size in KBs. Which is equivalent to 5 pngs with size in Bytes.
Don't know much about this. @Sam1301 @kunall17 Whats your thought?

[2017-02-26 18:16] Sam1301 commented on #418
I'd prefer vector drawables since only one xml file will be maintained in the code base for each image.

[2017-02-28 08:00] Asnepra commented on #418
Hi! I am ankit (applying for GSOC 2017)
@vishwesh3  I have used VectorDrawables in my recent android projects using the support library from android and would like to work on this issue.

[2017-02-28 09:47] icancode23 commented on #312
@kunall17 is this issue resolved or can i be of some help here?

[2017-02-28 10:04] vishwesh3 commented on #418
@Asnepra sure go for it :+1:
Just make sure in your PR that it looks nice in night theme too.

[2017-02-28 10:25] abhaymaniyar commented on #406
Has this issue been fixed or not?

[2017-02-28 10:27] vishwesh3 commented on #406
Welcome @abhaymaniyar
Fixed in #414 :)
You can pick up any assigned issue :)

[2017-02-28 10:29] abhaymaniyar commented on #406
Thanks @vishwesh3!

[2017-02-28 10:40] abhaymaniyar commented on #312
@kunall17 @icancode23 I am also in the queue :smile:

[2017-02-28 10:45] nitish1211 commented on #312
Hi @icancode23 @abhaymaniyar I am currently working on this in PR #316 .
Any suggestions you  provide to improve the PR would be appreciated.  :smile:

[2017-02-28 13:03] kunall17 commented on #403
@saketkumar95 Nothing special to reproduce, it sometime occur's !

[2017-02-28 15:51] Sam1301 commented on #418
Hey @Asnepra , thanks for taking this up. Did you know that you could assign yourself issues which you are currently working on by commenting `@zulipbot claim` on the issue?

[2017-02-28 15:54] Asnepra commented on #418
@zulipbot claim

[2017-02-28 17:22] vishwesh3 commented on #407
While working on this found some other issues regarding stream drawer:-
1)  Where last stream in the list is clicked, its topic become visible but there is no  feedback from UI that it is expanded. It will be better to scroll so that user can narrow to topic easily
![ezgif com-video-to-gif 8](https://cloud.githubusercontent.com/assets/18511177/23415714/1a79c460-fe06-11e6-95f2-f0af0fe2c53a.gif)

2)

[2017-02-28 18:50] Sam1301 commented on #224
@saketkumar95 thanks, closing this issue.

[2017-02-28 18:50] #224 closed

[2017-02-28 18:58] Sam1301 commented on #181
@timabbott @kunall17 I believe we are updating the pointer and read flags. Actually whats left is sync up with server for "read" messages (update_message_flags event) and updating the database accordingly which I have incorporated in my unread counts pr work.
Should this be closed?

[2017-02-28 19:19] abhaymaniyar commented on #230
is this still in progress?

[2017-02-28 19:21] abhaymaniyar commented on #302
Has it resolved?

[2017-02-28 19:24] Sam1301 commented on #230
tagging @saketkumar95 :)

[2017-02-28 19:24] abhaymaniyar commented on #381
Is this issue resolved?

[2017-02-28 19:25] Sam1301 commented on #302
nope, its up for grabs! :) (use zulipbot for assignment)

[2017-02-28 19:26] Sam1301 commented on #381
yeah, a pr has been made to address to issue.

[2017-02-28 19:29] nikhilbalyan opened #420 "Application Crash on Selection of server"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Application crash as soon as we enter any server URL without **//** after https like(https:adjd, https:zulip.tabbott.net/ etc)

**Expected Behaviour**

Explain what you expected (unnecessary if it's obviouxly broken, e.g. a crash).

**Would you like to work on the issue?**

Yes i would love to work on this issue

[2017-02-28 19:30] nikhilbalyan commented on #420
I would love to work on this issue
@zulipbot claim

[2017-02-28 19:31] abhaymaniyar commented on #302
I can't see the above attached image.

[2017-02-28 19:34] Sam1301 commented on #302
Didn't understand your question? I am suggesting to use https://github.com/zulip/zulipbot#usage for issue assignment :)

[2017-02-28 19:35] abhaymaniyar commented on #302
@zulipbot claim

[2017-02-28 19:35] nikhilbalyan opened #421 "UI Bug While logging in"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Right now the Sign In and LOG IN text is not center aligned

**Expected Behaviour**

The text of Sign In and LOG IN should be center aligned

**Would you like to work on the issue?**

Yes I would love to work on this issue

[2017-02-28 19:37] abhaymaniyar commented on #302
Thanks @Sam1301 ! :smile:

[2017-02-28 19:37] Sam1301 commented on #421
@nikhilbalyan Actually this will be taken care of in #392

[2017-02-28 19:38] nikhilbalyan commented on #421
@Sam1301 ok closing then my bad

[2017-02-28 19:38] #421 closed

[2017-02-28 19:41] abhaymaniyar commented on #302
The image attached in the issue above is broken. I can't see that image. On clicking, it is giving a 503 connection timed out error. @Sam1301

[2017-02-28 19:47] icancode23 commented on #420
@zulipbot claim-issue

[2017-02-28 20:36] Sam1301 commented on #420
@nikhilbalyan did you get this error on current master? I couldn't reproduce this bug.

[2017-02-28 21:14] abhaymaniyar commented on #302
Is there any particular color I should use or I can choose any bright color?

[2017-02-28 21:28] Sam1301 commented on #302
Yeah, I'd suggest looking at colors.xml for colors which better match the app theme. Once you think a color looks good and matches the overall theme of the app, feel free to send the pr and we can look at it more in the review process.

[2017-02-28 21:30] abhaymaniyar commented on #302
Ok! Thank you!

[2017-02-28 21:31] Sam1301 commented on #382
@harshitagupta30 have you claimed this issue? I can see that nobody is assigned yet. Maybe try again to claim the task.

[2017-02-28 21:35] Sam1301 commented on #376
@nitish1211 thanks for resolving this issue. Did you know that you can include "Fixes #issue-no" in the commit message and the issue will be auto-closed when the commit is merged? You can checkout https://zulip.readthedocs.io/en/latest/version-control.html#commit-messages for more details on this :)

[2017-02-28 21:35] #376 closed

[2017-02-28 21:38] Sam1301 commented on #344
@harshitagupta30 feel free to claim this task using zulipbot. That way it will be helpful for others to skip through issues which are not already worked on :)

[2017-02-28 21:44] Sam1301 commented on #270
Nice! @saketkumar95 can you please claim this task using zulipbot?

[2017-02-28 21:46] Sam1301 commented on #262
Cool! @vishwesh3 can you please claim this task? That way it'd be easy for other contributors to skip through unassigned issues :)

[2017-02-28 21:47] saketkumar95 commented on #270
@zulipbot claim-issue

[2017-02-28 21:47] Sam1301 commented on #261
@saketkumar95 this one too :)

[2017-02-28 21:48] saketkumar95 commented on #261
@zulipbot claim-issue

[2017-02-28 21:54] Sam1301 commented on #126
Nice! @yadav-rahul can you please claim this task using zulipbot? That way it'd be easy for other contributors to search through unassigned issues :)

[2017-02-28 21:57] saketkumar95 commented on #420
Weird! I resolved this here https://github.com/zulip/zulip-android/pull/265 . I don't think this should happen again. Instead it will shows up a invalid url toast.

[2017-02-28 22:00] saketkumar95 commented on #420
@icancode23 @nikhilbalyan already assigned himself this issue. You can check the unassigned issues [here](https://github.com/zulip/zulip-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee)

[2017-02-28 22:00] Sam1301 commented on #135
so this issue has been worked on separately
* we have @-mention autocomplete feature merged
* for file uploads #398
* emoji picker #248

[2017-02-28 22:02] abhaymaniyar commented on #302
![screenshot_2017-03-01-03-08-25-498_com zulip android dev](https://cloud.githubusercontent.com/assets/17759582/23436200/a7f00b00-fe2f-11e6-9f13-3001a99c1502.png)

I believe this should be a suitable color.

[2017-02-28 22:03] saketkumar95 commented on #230
@abhaymaniyar I created the PR here https://github.com/zulip/zulip-android/pull/260 for this. But it's nw outdated and i haven't worked on this , You can take this up and go ahead! :+1:

[2017-02-28 22:04] abhaymaniyar commented on #302
I also noticed that the web links were not visible in night mode. So I also changed that.
![screenshot_2017-03-01-02-54-12-546_com zulip android dev](https://cloud.githubusercontent.com/assets/17759582/23436271/ed022dc2-fe2f-11e6-9f14-5d1fb34ae111.png)
![screenshot_2017-03-01-03-33-49-177_com zulip android dev](https://cloud.githubusercontent.com/assets/17759582/23436281/f510fb9c-fe2f-11e6-9836-95

[2017-02-28 22:06] abhaymaniyar commented on #230
Ok! thanks you @saketkumar95 :smile:

[2017-02-28 22:07] abhaymaniyar commented on #230
@zulipbot claim

[2017-02-28 22:08] Sam1301 commented on #302
Cool :+1: , in the first two screenshots I can see the text color black in night theme. While making these changes just be sure to check your changes in both the themes.

[2017-02-28 22:36] abhaymaniyar commented on #302
Yes I have checked in both the themes and it looks nice.

[2017-02-28 22:38] abhaymaniyar commented on #230
I think I have completed this.

[2017-02-28 22:43] saketkumar95 commented on #230
@abhaymaniyar Kindly create the PR for the same. :)

[2017-03-01 02:02] yadav-rahul commented on #126
@zulipbot claim

[2017-03-01 08:15] abhaymaniyar commented on #302
I don't think the red color of the code text needs to be changed. Its quite visible.

[2017-03-01 08:54] Asnepra commented on #418
Hi! I have been trying to build and run the app from the directory but the app keeps on crashing, I am not able to use app, and therefore not able to enhance
.

[2017-03-01 11:02] kunall17 opened #427 "Fail the travis CI if the code is not formatted"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

It would be great if somehow we can fail the travis CI check if the code is not formatted,
I googled a bit and found these two but for different languages
https://groups.google.com/forum/#!topic/golang-nuts/pdrN4zleUio
https://github.com/sbt/sbt/issues/2657

There can be a possiblity that this is not possible with andro

[2017-03-01 16:40] Sam1301 commented on #344
@harshitagupta30 assigning you for now since you already created a pr for it :+1: :)

[2017-03-01 17:46] Subhankar29 commented on #382
Can I claim this issue and work on it?

[2017-03-01 17:47] harshitagupta30 commented on #382
@Subhankar29 sure! :+1:

[2017-03-01 18:35] Subhankar29 commented on #382
@zulipbot claim-issue

[2017-03-01 20:22] nikhilbalyan commented on #420
@saketkumar95 @Sam1301 Apparently i came across this error while using the app from the play store. No error on the master branch sorry.

[2017-03-01 20:22] #420 closed

[2017-03-01 20:33] saketkumar95 commented on #420
@nikhillbalyan No problem! :)

[2017-03-01 20:34] saketkumar95 commented on #420
@nikhilbalyan  No problem! :)

[2017-03-02 05:11] kunall17 commented on #39
@vishwesh3 you already done this in #297 so I assigned you!

[2017-03-02 17:36] nikhilbalyan opened #428 "Adding the share application option"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Right now we do not have the option to share the application

**Expected Behaviour**

We can add the option to share the application via msg, mail  and all other means of communication

**Would you like to work on the issue?**

Yes i would love to take up this issue and would love to add the sharing option in the overfl

[2017-03-02 17:36] nikhilbalyan commented on #428
@zulipbot claim

[2017-03-02 17:39] nikhilbalyan commented on #428
@Sam1301 please let me know whether i can work on this issue

[2017-03-02 18:02] Sam1301 commented on #428
@nikhilbalyan This feature looks good :+1:
But I am not sure if it can add more to the usability of the app. @kunall17 thoughts on this one?

[2017-03-02 18:09] Sam1301 commented on #302
@abhaymaniyar can you please try again to claim the issue? Somehow zulipbot couldn't assign before.

[2017-03-02 18:32] abhaymaniyar commented on #302
@zulipbot claim

[2017-03-02 19:51] saketkumar95 commented on #428
@nikhilbalyan I think instead of sharing the app option we can have something like "Invite more users" same as on the web.
![invite](https://cloud.githubusercontent.com/assets/21558765/23524167/7ba0fa88-ffaf-11e6-905b-20814a4421c5.jpg)

@timabbott @kunall17 your suggestions?

[2017-03-03 02:04] Sam1301 opened #431 "Crash due to NumberFormatException"
Stacktrace for the bug
[code]

Android version: 4.4.2

[2017-03-03 04:12] nitish1211 commented on #431
@zulipbot claim-issue

[2017-03-03 04:39] saketkumar95 commented on #271
@Sam1301 Kindly assign this issue to yourself.

[2017-03-03 04:40] Sam1301 commented on #271
@zulipbot claim

[2017-03-03 18:16] DravitLochan opened #433 "bug while connection to url"
**Actual Behaviour**

on the very first activity, where a user is asked to enter a url and connect to a server, a progress dialog box appears while a request to the server is made. this progressDialog box should not be cancel able.

**Expected Behaviour**

the progressDialog box should not be cancelable.

**Would you like to work on the issue?**
Yes

[2017-03-03 18:53] DravitLochan commented on #433
@zulipbot claim

[2017-03-03 19:14] apoorvinfo commented on #95
I can Make New Feature Graphic for the Zulip app.

[2017-03-03 19:48] timabbott commented on #95
Yeah that'd be awesome.

[2017-03-03 22:43] dehnert opened #435 "Expose version number in-app"
The app does not currently expose the version number in-app, as far as I can tell. It would be nice to have that (eg, for reporting issues). Perhaps add an about menu? Or even a changelog?

[2017-03-04 11:21] DravitLochan commented on #435
@zulipbot claim

[2017-03-04 12:04] DravitLochan opened #436 "Tutorial on first launch"
**Actual Behaviour**

Similar to the first time tutorial in web client we may implement the same in the android application.

**Expected Behaviour**

User goes through various features of the android application. For those who are reinstalling, we may provide a skip button.

**Would you like to work on the issue?**

Yes

[2017-03-04 12:04] DravitLochan commented on #436
@zulipbot claim

[2017-03-04 14:09] saketkumar95 commented on #436
Already doing in https://github.com/zulip/zulip-android/issues/392

[2017-03-04 14:12] DravitLochan commented on #436
doing an Intro-slider ?

[2017-03-04 14:15] saketkumar95 commented on #436
Yes! :)

[2017-03-04 14:19] nitish1211 commented on #435
@saketkumar95 You can add this to [Issue #291](https://github.com/zulip/zulip-android/issues/291) in the about section.

[2017-03-04 14:33] saketkumar95 commented on #435
That issue is for setting option. This can be also there in overflow menu. why having this in settings?

[2017-03-04 15:08] nitish1211 commented on #435
Usually apps provide Version number in in the **About section** which is present in the **Settings Activity**(for eg :Whastapp, Google Chrome). Well it can be added in the overflow menu for now. :)
But later in time I was thinking it would add to the number of items present in the Settings Activity.

[2017-03-04 15:47] DravitLochan commented on #436
I am looking at a different picture. Intro slider should be made with respect to what the application is all about. Rest should be implemented using tutorials.  this will give you a better picture :)
![tut](https://cloud.githubusercontent.com/assets/14837478/23580047/0477181c-0120-11e7-8b00-2c72c151f6d3.PNG)

[2017-03-04 15:51] DravitLochan commented on #435
well I too support it's presence in overflow menu. @kunall17 @saketkumar95 @nitish1211  where di I add it finally?

[2017-03-04 16:07] nitish1211 commented on #436
I think that's a great idea. You can use the [material ShowCaseView](https://github.com/deano2390/MaterialShowcaseView).
@saketkumar95 @kunall17 Your thoughts on this?

[2017-03-04 16:10] saketkumar95 commented on #436
@nitish1211 @DravitLochan Yeah! This all is already discussed here https://chat.zulip.org/#narrow/stream/android/topic/tutorial.20designs. I'm working on the designs right now, was busy with other assigned issue. We need to have the intro sliders and have the option of help in overflow menu, which will launch this tutorials again. :) We are not planning for the showcase right now.

[2017-03-04 16:27] DravitLochan commented on #436
i see that it has already been discussed. so how do we proceed? are you implementing both of them?

[2017-03-04 16:29] saketkumar95 commented on #436
yeah already done earlier. But now implementing it here https://github.com/zulip/zulip-android/issues/392

[2017-03-04 16:33] DravitLochan commented on #436
ok. please look at #434 and #435 :)

[2017-03-04 16:35] saketkumar95 commented on #436
You can close this issue now!

[2017-03-04 16:35] #436 closed

[2017-03-04 18:34] vishwesh3 commented on #385
Right now if same user send multiple messages continuously then his/her name field is added again along with message. I think it will be better to do something like web

![148865237163881](https://cloud.githubusercontent.com/assets/18511177/23581290/27df9fba-0137-11e7-86a1-13572fc61e25.png)

![screenshot_1488651457](https://cloud.githubusercontent.com/assets/18511177/23581218/131043d8-0136-11e7-94

[2017-03-04 19:02] abhaymaniyar commented on #218
@FleetAdmiral are you working on it?

[2017-03-04 19:14] FleetAdmiral commented on #218
@abhaymaniyar  No, you can go ahead :)

[2017-03-04 19:27] abhaymaniyar commented on #218
Thanks @FleetAdmiral :)

[2017-03-04 19:27] abhaymaniyar commented on #218
@zulipbot claim!

[2017-03-04 19:47] timabbott commented on #435
I think we should replace "Legal information" in the settings menu with "About", and have "About" link to "Legal information", and also contain other information, like what is suggested here:
https://github.com/zulip/zulip-mobile/issues/393

[2017-03-04 20:54] abhaymaniyar opened #439 "Add an arrow in front of ex[andable stream to expand and contract that stream."
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

On clicking a stream it expands but there is no way to contract that stream. Streams with a lot of topics make it hard to switch between different streams.

**Expected Behaviour**

On clicking a stream it should have switched between expansion and contraction.

**Would you like to work on the issue?**

Yes

[2017-03-04 20:54] abhaymaniyar commented on #439
claim @zulipbot

[2017-03-04 20:54] vbNETonIce opened #440 "don't duplicate avatar/name"
**Actual Behaviour**

When typing multiple messages in succession the avatar image and name are repeated with each post.
![20170304_21-50-26_android](https://cloud.githubusercontent.com/assets/26190934/23582193/1df18200-0125-11e7-8d4f-8c9e6eaf4a57.jpg)

**Expected Behaviour**

Same as web behaviour: name and avatar are omitted, only time of message remains.
![20170304_21-50-26_chrome](https://clou

[2017-03-04 21:05] vbNETonIce opened #441 "remove topic indicator for new messages in same topic"
**Actual Behaviour**
This topic indicator/separator appears even when user is already in that topic (not in home) and replies to a message. That gives the impression that one is still in home thread or the text above the indication belongs to a different topic.
Also; three times "android review" on the same page doesn't need to be.
![20170304_22-00-58_paintdotnet](https://cloud.githubusercontent.c

[2017-03-04 21:20] vbNETonIce opened #442 "navigation idea: swipe to go to topic, swipe back to home"
**Actual Behaviour**
When on home thread user has to click on topic indicator to go to the topic.
![image](https://cloud.githubusercontent.com/assets/26190934/23582278/600721f2-0127-11e7-9910-968fcbdd5861.png)

That's fine but feels slow.

**Improved Behaviour**
A swipe on the message from right to left will open it in the topic.
Then the user can reply to msgs in the topic, scroll down etc. do wh

[2017-03-04 21:20] vishwesh3 commented on #440
Working on this https://github.com/zulip/zulip-android/issues/385#issuecomment-284171397

[2017-03-04 21:49] nitish1211 opened #443 "Close stream expansion on clicking on open stream"
**Actual Behavior**
The expansion of a stream in Nav Drawer stays open until another stream is opened.

**Expected Behaviour**
Clicking on an open stream name should close the expanded list.

@kunal17 @saketkumar95 I'll be working on this.

[2017-03-04 21:51] nitish1211 commented on #443
@zulipbot claim-issue

[2017-03-04 21:52] abhaymaniyar commented on #443
I have already started working on it.

[2017-03-04 21:53] abhaymaniyar commented on #443
@nitish1211

[2017-03-04 21:59] abhaymaniyar commented on #443
See #439.

[2017-03-04 22:18] abhaymaniyar commented on #439
claim @zulipbot

[2017-03-04 22:19] abhaymaniyar commented on #439
claim-issue @zulipbot

[2017-03-04 22:19] abhaymaniyar commented on #439
@zulipbot claim-issue

[2017-03-04 22:23] abhaymaniyar commented on #443
Make sure to close this issue :)

[2017-03-04 22:36] abhaymaniyar opened #444 "App goes to Home screen on switching theme in a particular stream."
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

When the user enters a particular stream and then switches theme, the app throws the user to the MainActivity of the app.

Explain what is currently happening.

**Expected Behaviour**

The app should remain to the stream where the user switched the theme.

**Would you like to work on the issue?**

Yes

[2017-03-04 22:36] abhaymaniyar commented on #444
claim-issue @zulipbot

[2017-03-04 22:37] abhaymaniyar commented on #444
@zulipbot claim-issue

[2017-03-04 23:30] vishwesh3 opened #445 "Auto complete emoji list shows .png at the end of emoji name"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

It is showing emoji name along with `.png` extension.

![screenshot_20170305-011553](https://cloud.githubusercontent.com/assets/18511177/23583103/a948adb6-0160-11e7-9eef-f7db302c18ef.jpg)

**Expected Behaviour**

It should only show emoji name.

**Would you like to work on the issue?**

Yes

[2017-03-04 23:31] vishwesh3 commented on #445
@zulipbot claim-issue

[2017-03-04 23:33] vishwesh3 commented on #444
Fixed in https://github.com/zulip/zulip-android/pull/414#issue-208965114 (Switching theme in narrowedView)

[2017-03-05 00:16] timabbott commented on #442
I think this is a really interesting idea -- we'll need to take some care to avoid colliding with the existing sidebar functionality, but I think swiping on the middle is sufficiently different from pulling from the sidebars that this could work...

[2017-03-05 00:20] timabbott commented on #385
Yes, definitely.

[2017-03-05 03:05] Sam1301 commented on #440
@vishwesh3 would be great if you could claim this issue, since #385 doesn't specifically mention this?

[2017-03-05 04:09] Sam1301 commented on #95
this issue has been resolved (https://chat.zulip.org/#narrow/near/162327/stream/android/topic/play.20store.20screenshots)

[2017-03-05 04:09] #95 closed

[2017-03-05 04:41] kunall17 commented on #403
Got this error today as well
[code]

[2017-03-05 04:45] saketkumar95 commented on #403
@kunall17 Will check and update you about this. This seems really naughty  bug.. :grin:

[2017-03-05 04:55] saketkumar95 commented on #403
I got this weird error at runtime. Don't know what exactly it is about.

[code]

[2017-03-05 04:55] kunall17 commented on #403
On the current master?

[2017-03-05 04:56] saketkumar95 commented on #403
yeah!

[2017-03-05 05:02] saketkumar95 commented on #403
I tested in the morning only. I guess https://github.com/zulip/zulip-android/pull/296 this PR  is creating some problem.

[2017-03-05 05:02] kunall17 commented on #403
Test now!

[2017-03-05 05:03] timabbott commented on #181
Yeah, I think so.

[2017-03-05 05:03] #181 closed

[2017-03-05 05:13] saketkumar95 commented on #403
yeah, working fine now. :)

[2017-03-05 06:40] #443 closed

[2017-03-05 06:41] #444 closed

[2017-03-05 09:30] vishwesh3 commented on #440
@zulipbot claim

[2017-03-05 09:31] vishwesh3 commented on #440
@zulipbot claim-issue

[2017-03-05 12:49] DravitLochan commented on #435
@timabbott I've started working on this. As soon as I get a merge on #446 , I'll push it :)

[2017-03-05 13:53] prati0100 commented on #441
I'd like to work on this. Can anyone point me to where I should start looking for this.

@zulipbot claim-issue

[2017-03-05 14:30] vishwesh3 commented on #441
One simple approach:-

Add a  parameter `is instance of TopicFilter` here https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/activities/RecyclerMessageAdapter.java#L97

you can check here https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/activities/MessageListFragment.java#L113
if `filter instance of NarrowFilterStream && sub

[2017-03-05 20:10] abhaymaniyar commented on #439
![screenshot_2017-03-05-04-09-39-887_com zulip android dev](https://cloud.githubusercontent.com/assets/17759582/23590804/a2c763ae-020c-11e7-91dd-ff9067a46a36.png)
I also want to add a unread message counter here.

[2017-03-05 20:43] abhaymaniyar commented on #439
![screenshot_2017-03-06-02-08-51-279_com zulip android dev](https://cloud.githubusercontent.com/assets/17759582/23591153/3ccb5014-0212-11e7-8e40-85b1d6cf96a6.png)
![screenshot_2017-03-06-02-12-00-255_com zulip android dev](https://cloud.githubusercontent.com/assets/17759582/23591161/59f9d804-0212-11e7-94c9-d51f4937fe4b.png)
We can also have the badge of the same colour as the stream color.

[2017-03-05 21:51] Sam1301 commented on #439
@abhaymaniyar So unread counts are hidden for now on master, due to a caching issue which is fixed and a pr already open for it. I think it would be nice to make changes in UI for the unread counts after they are visible.
This looks nice, i think the caret symbol could be of light gray color... it looks too bold now.

[2017-03-05 23:21] timabbott commented on #439
Agreed with the color feedback.  A few more suggestions:
* the vertical alignment of the unread counts seem off
* the unread counts could be bigger

[2017-03-05 23:40] #39 closed

[2017-03-05 23:40] #262 closed

[2017-03-05 23:40] #351 closed

[2017-03-06 03:27] Shailesh351 commented on #445
@zulipbot claim-issue

[2017-03-06 04:13] Sam1301 commented on #445
Oh @Shailesh351 just saw that vishwesh has already claimed this issue, so you can checkout other unassigned issues.

[2017-03-06 04:54] Shailesh351 commented on #445
@Sam1301 I was just going through code and found bug and remembered this issue
So i claimed it .. :sweat_smile:
I will checkout other unassigned issues..

[2017-03-06 05:10] Sam1301 commented on #445
cool, no problem.

[2017-03-06 13:18] vibhav16 commented on #385
i would like to work on this issue.

[2017-03-06 13:21] vishwesh3 commented on #385
@vibhav16 Thanks for your interest in this.
This is already fixed in https://github.com/zulip/zulip-android/pull/437

[2017-03-06 13:22] vishwesh3 commented on #440
@zulipbot claim-issue

[2017-03-06 15:03] abhaymaniyar commented on #439
@Sam1301 @timabbott Thanks for the suggestions. I have implemented them. So should I make the unread message count to be just next to the stream name or intend it to the right?

[2017-03-06 20:23] abhaymaniyar commented on #439
[code]
I am not getting this if block in ZulipActivity.java

[2017-03-06 20:34] abhaymaniyar commented on #439
![ezgif com-optimize 1](https://cloud.githubusercontent.com/assets/17759582/23628360/06b8ae54-02da-11e7-98a0-f92b983c6585.gif)
Clicking a stream again is not collapsing the list. I tried log messages and I think there is some problem with `expandableListView.collapseGroup()` method. Correct me if I am wrong and give a direction to solve this.

[2017-03-06 20:36] nitish1211 commented on #439
@abhaymaniyar That if makes sure to close any expanded group before expanding a new one.
previousClick is used to store the index of the group header last clicked.

[2017-03-06 20:38] nitish1211 commented on #439
To make an already open list collapse check `if (previousClick == position)` if this comes out true then use `expandableListView.collapseGroup(position)`

[2017-03-06 20:47] abhaymaniyar commented on #439
@nitish1211 I did that but its not working.

[2017-03-06 20:56] abhaymaniyar commented on #439
Got the culprit. Thanks @nitish1211 :)

[2017-03-06 22:09] abhaymaniyar commented on #439
![ezgif com-optimize 2](https://cloud.githubusercontent.com/assets/17759582/23632374/a71fe756-02e7-11e7-9102-37a703ab82ff.gif)
Please review :)

[2017-03-06 22:11] abhaymaniyar commented on #439
Clicking on the name of the stream will open the stream. Clicking anywhere else will expand it.

[2017-03-06 23:09] DravitLochan commented on #431
you looking for some sort of help?

[2017-03-06 23:10] timabbott commented on #439
Re; placement, I think indented to the right as you have it is good; that means them easier to scan.

[2017-03-07 12:09] vishwesh3 commented on #406
Created PR #414  :)

[2017-03-07 13:36] nitish1211 commented on #431
Thanks @DravitLochan would appreciate any inputs you have to add to PR #432 . I've been quite busy lately because my mid-semester exams are going on.
I'll be active from next week onward. :)

[2017-03-07 13:41] DravitLochan commented on #431
not an issue. I am just quite eager for this year. in the mean time I'll go through the pr and will do the best I can. All the best! :)

[2017-03-07 14:31] abhaymaniyar commented on #439
So should I remove the unread message count badge from now? @Sam1301

[2017-03-07 14:37] abhaymaniyar commented on #439
And when the user clicks on a stream to expand, the stream automatically opens in background. I think the user should remain on the stream on which he/she opened the stream panel. Views on that please.

[2017-03-07 20:08] Sam1301 commented on #439
you can hide the badge for now, we can use it later :)

I think it makes sense since its useful for navigation. I believe we need to make a distinction between streams opening and narrow to that stream. We could open/close the stream whenever we tap on the caret.

[2017-03-08 03:09] #126 closed

[2017-03-08 09:00] #398 closed

[2017-03-08 09:39] vishwesh3 commented on #407
@zulipbot Thanks for the reminder. I am still working on this.

[2017-03-08 10:10] Asnepra commented on #418
Hello @zulipbot  I am not able to run this app without crashing it. It keeps on crashing even when I haven't made any changes (except in build.gradle files by changing supportLibrary version to the latest One),
even with the previous version the app was crashing, I have all the files and dependencies. I can work on this issue, but I need a working repo.

**Error**
`FATAL EXCEPTION: main

[2017-03-08 10:11] Sam1301 commented on #418
@Asnepra which android version are you using?

[2017-03-08 10:14] Asnepra commented on #418
@Sam1301  I using Samsung Grand 2
Api 19 KitKat

[2017-03-08 10:17] Sam1301 commented on #418
I see, @Asnepra can you rebase your git branch with the changes in this pr #432 ?

[2017-03-08 10:22] Asnepra commented on #418
Actually I haven't used github much, So it may take a while for me to understand and do what you just said....

[2017-03-08 10:29] Sam1301 commented on #418
cool, no problem, this is a great guide for learning git http://zulip.readthedocs.io/en/latest/git-guide.html

[2017-03-08 17:17] iamareebjamal opened #452 "Update SDK version and libaries"
**Actual Behaviour**

Currently, the SDK version is 24 and support libraries are pretty outdated too

**Expected Behaviour**

Compile SDK version should be upgraded to 25 at least and support libraries should be upgraded as well. They are missing out many bug fixes and new features

**Would you like to work on the issue?**

Yes, I would like to work on the issue

[2017-03-08 17:17] iamareebjamal commented on #452
@zulipbot claim

[2017-03-08 17:23] iamareebjamal opened #453 "Add Master Detail layout for tablets"
**Actual Behaviour**

Currently, Tablets or devices with large screen show stretched layout in landscape mode, which can create uneasiness in scanning lines of messages, which is an issue for a chat application

**Expected Behaviour**

A master detail layout should be shown in tablets or large devices so as to utilize the screen space more efficiently and make it a pleasant experience for the user

[2017-03-08 17:24] iamareebjamal commented on #453
@zulipbot claim

[2017-03-08 17:28] iamareebjamal commented on #452
Also, `+` sign is used in many of the dependencies which leads to ambuigity

[2017-03-08 19:25] abhaymaniyar commented on #439
Presently, if the user can narrow to a stream by clicking on the name of the stream and clicking elsewhere will expand the stream.

[2017-03-09 06:44] nikhilbalyan commented on #428
@saketkumar95 you made a good point but as i was searching through other applications following points came to my mind.

- It will be nice if we maintains the consistency like other applications provide options  to share the application.
- Moreover if we gives the option to the user which channel they want to use then that will also be nice.
- According to me here what we can add an enhancement to

[2017-03-09 10:15] vishwesh3 opened #454 "Status not updated "Unknown error""
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Currently status is not updated. Toast is showing **Unknown error**
![screenshot_20170309-145028](https://cloud.githubusercontent.com/assets/18511177/23745601/c5c73044-04de-11e7-89a9-ae74be802d50.jpg)

**Expected Behaviour**

Status should update.

**Reason/error**

`org.json.JSONException: No value for client` caught h

[2017-03-09 10:26] vishwesh3 commented on #454
@zulipbot claim

[2017-03-09 10:37] abhaymaniyar commented on #230
I have put this on hold for a while but I will work on it within few days.

[2017-03-09 15:19] iamareebjamal commented on #452
Should I continue with it? @vishwesh3

[2017-03-09 16:46] iamareebjamal commented on #418
I would like to help if there are any issues :+1:

[2017-03-09 22:08] timabbott opened #456 "Handle errors where someone enters zulipchat.com as their zulip server"
Apparently a super common error when getting started with the mobile app against zulipchat.com is typing in just "zulipchat.com", not e.g. "recurse.zulipchat.com" as the "Server"; the app just gives an "invalid password" error.

This affects anything with settings.REALMS_HAVE_SUBDOMAINS set on the Zulip server, but that's probably basically just zulipchat.com.

I think we can probably hardcode err

[2017-03-09 22:30] nitish1211 commented on #456
@zulipbot-claim

[2017-03-09 22:34] nitish1211 commented on #456
@zulipbot claim-issue

[2017-03-09 22:44] #445 closed

[2017-03-09 22:45] nitish1211 commented on #456
So the hard coding for the error handling has to be done for just _xyz.zulipchat.com_?
So in case the user authentication fails then the app can suggest that they could try logging into a subdomain of the server. That's what to be hard coded right? Later there could be suggestions as to which subdomains they could try logging into.
Please correct me if I've understood it wrong. ☺️

[2017-03-09 23:09] Sam1301 opened #457 "Crash due to NullPointerException"
Stacktrace

[code]

Android version: 6

[2017-03-09 23:12] nitish1211 commented on #457
@zulipbot  claim-issue

[2017-03-09 23:14] nitish1211 commented on #457
@Sam1301 how did you produce the error?

[2017-03-09 23:16] Sam1301 opened #458 "Widget: crash due to messageList null"
Stacktrace

[code]

Android version : 5.1.1

[2017-03-09 23:22] Sam1301 commented on #457
@nitish1211 actually I couldn't reproduce this bug but saw it in the crashylytics log for release v1.2.1. There must be some specific state when the app crashes.

[2017-03-09 23:35] Sam1301 opened #459 "Crash due to ArrayIndexOutOfBoundsException for RecylerMessageAdapter list items"
Stacktrace

[code]

[2017-03-09 23:43] Sam1301 commented on #457
@nitish1211 here is the full stackstrace [com.zulip.android_issue_92_crash_58C094E70123000144F574BF6E44760B_7b5f9b077dcb4d13a5c40e81dd4f08f8_0_v1.txt](https://github.com/zulip/zulip-android/files/832566/com.zulip.android_issue_92_crash_58C094E70123000144F574BF6E44760B_7b5f9b077dcb4d13a5c40e81dd4f08f8_0_v1.txt)
Also checkout the latest release version to investigate `git checkout tags/1.2.1 -b bran

[2017-03-09 23:51] timabbott commented on #456
Well, the point is that just `zulipchat.com` is impossible to login to, but confused users might put it in anyway, when they should have entered `xyz.zulipchat.com`.

We can work on modifying the response to the request to get authentication methods to have some new key on the server for this situation; so I'd write the code in the handler for that request so it's easy to swap in.

[2017-03-10 05:45] timabbott commented on #456
I just merged and deployed everywhere https://github.com/zulip/zulip/commit/c2bee5a89b6ca1a1e3e273b56808289efdb77f1b, which does the server-side changes needed to do this right.  Now the app will get an JSON error returned when trying to connect to the root domain on a subdomains server such as zulipchat.com.

[2017-03-10 12:09] nitish1211 commented on #456
Oh cool, now that would make my job a lot easier. :slightly_smiling_face:

[2017-03-10 15:27] Asnepra commented on #418
@Sam1301  I have replaced most of the icon with their vector drawable counterparts however, there are still few things that I would like to have your attention-
1.  I  have made a few changes to **build.gradle** files for both app module and customLintAAR, so that we have to replace the version only at one place while upgrading to latest sdk.
2.  when clicked on add_btn in **checkbox.xml** file th

[2017-03-10 18:31] iamareebjamal commented on #418
@Asnepra Which branch have you pushed your commits to? I can't see them in your fork

[2017-03-11 01:25] #431 closed

[2017-03-11 06:17] Asnepra commented on #418
@iamareebjamal  I have added to the vectorTest branch, in my repository. Also, I don't know how to use git with GitHub so it took me a while to push the changes.

[2017-03-11 09:20] iamareebjamal commented on #418
@Asnepra No problem. I am looking at it now and will try to see where it is crashing. :smiley:
If you need any help in git, don't hesitate to contact me

[2017-03-11 19:33] vishwesh3 opened #463 "Message automatically starred on selecting edit message from dialog."
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

Explain what is currently happening.
![ezgif com-video-to-gif 10](https://cloud.githubusercontent.com/assets/18511177/23826282/7a076362-06bf-11e7-85d8-1430e6854a2b.gif)

**Expected Behaviour**

It should not star.

**Would you like to work on the issue?**

Yes

[2017-03-11 19:33] vishwesh3 commented on #463
@zulipbot claim

[2017-03-11 20:29] #463 closed

[2017-03-12 12:33] maxymilianz opened #467 "Upgrading from Gradle 2.2.3 to 2.3"
I think we should upgrade to Gradle 2.3.
It brings the ability to access metadata artifacts, which are useful for performing dependency resolution. There are also some improvements in antlr, compare-gradle-builds and application plugins.
More info here: https://docs.gradle.org/2.3/release-notes.html#gsc.tab=0

[2017-03-12 12:33] maxymilianz commented on #467
@zulipbot claim-issue

[2017-03-13 08:47] zeerorg commented on #458
can you tell me how to reproduce this error?

[2017-03-13 09:35] DravitLochan commented on #433
sent the pr

[2017-03-13 12:38] Jonsnow21 commented on #459
@Sam1301 i would like to work on this

[2017-03-13 15:29] vaibhavsingh97 commented on #467
@zulipbot close-issue

[2017-03-14 13:32] zeerorg commented on #442
I think I can help with this one.
1. I'll implement ItemTouchHelper on MessageRecyclerAdapter
2. Call same methods lused in OnItemClickListener.

[2017-03-14 17:08] brainwane commented on #459
@Sam1301 How should a user try to reproduce this error?

[2017-03-14 17:13] timabbott commented on #459
We got this from crash reporting, so I don't think we actually know how to reproduce it.

[2017-03-15 00:20] bengoldstein commented on #226
I'm using the Play Store edition release March 1 , 2017, and having this problem. By "this problem" I mean that the posts I make in a topic frequently do not show up unless I refresh. (I do see what other users post. Also, I do see what I post from my Android in my desktop client.)

It *may* have something to do with my using both the desktop client and the Android app at the same time. I'm not ab

[2017-03-15 06:05] Sam1301 commented on #457
@nitish1211 it might be worth to test on older releases of zulip server (https://github.com/zulip/zulip/releases)

[2017-03-15 06:06] Sam1301 commented on #458
@zeerorg so I couldn't reproduce this error but got this in crashylytics. There must be some state in which the app gets which causes this. Here's the full stacktrace([stacktrace.txt](https://github.com/zulip/zulip-android/files/843534/com.zulip.android_issue_75_crash_58C889580041000113FF2C7B506A3155_3359c2316ca1471b88163a834669ec55_0_v1.txt)) in case you want to investigate. If you still can't re

[2017-03-15 06:06] Sam1301 commented on #459
@Jonsnow21  so I couldn't reproduce this error but got this in crashylytics. There must be some state in which the app gets which causes this. Here's the full stacktrace([stacktrace.txt](https://github.com/zulip/zulip-android/files/843539/stacktrace.txt)) in case you want to investigate. If you still can't reproduce the error, one thing you could try is testing the app on older releases of zulip s

[2017-03-15 07:25] #452 closed

[2017-03-15 08:27] Sam1301 commented on #454
So this is due to a recent change in the server. @timabbott thoughts on this?

[2017-03-15 15:00] vishwesh3 commented on #399
@zulipbot waiting for https://github.com/zulip/zulip/issues/3686 to be done.

[2017-03-15 17:57] iamareebjamal commented on #453
@zulipbot abandon

[2017-03-15 18:33] timabbott commented on #399
@vishwesh3 I think we don't need to wait on that issue; we can work on them in parallel.

[2017-03-15 18:41] timabbott commented on #454
Hrm, yeah, this was an API change in the server designed to support another use case (with the side effect of making this sort of thing a lot easier to do, where clients wouldn't need to iterate through every client).

I think it's probably a bug that no client is listed in the aggregated response, since one might reasonably want to know what the latest one's client was without parsing them all.

[2017-03-15 20:22] meghalagrawal commented on #208
What happened to this issue ?

[2017-03-16 10:44] divs4debu commented on #453
@zulipbot claim

[2017-03-16 20:51] zeerorg commented on #442
@zulipbot claim

[2017-03-17 14:11] divs4debu commented on #453
![ss](https://cloud.githubusercontent.com/assets/9443348/24046669/58c43aca-0b49-11e7-9a1e-91d078c871f2.png)

@Sam1301 @iamareebjamal  i have done this much progress till now.
Suggest some tweaks so that i could look better. I am currently removing some bugs related to toolbar.

[2017-03-17 14:37] iamareebjamal commented on #453
@divs4debu  Looks good. You can also add a layout for 900dp tablets with both navigation views

[2017-03-17 14:40] divs4debu commented on #453
@iamareebjamal thanks, yes I will look after your suggestion as soon as I Complete this particular functionality. Thanks for the suggestion,  sounds good.

[2017-03-17 20:50] nikhilbalyan commented on #428
hi @saketkumar95 @Sam1301 should i go ahead with implementing the sharing option like in normal applications

[2017-03-18 10:02] saketkumar95 commented on #428
@nikhilbalyan Currently No. We are avoiding totally to new features for the Java app now. You can work on [zulip-mobile](https://github.com/zulip/zulip-mobile ) project and add this feature there. :)

[2017-03-18 10:09] #428 closed

[2017-03-18 12:58] divs4debu commented on #453
@Sam1301 @iamareebjamal i have done something like this to avoid hiding of search bar in nav bar by toolbar please suggest.
![appbar layout shift](https://cloud.githubusercontent.com/assets/9443348/24072169/a7dbbb8c-0c08-11e7-8ca7-461f1479b5ce.png)

[2017-03-18 15:23] timabbott commented on #453
Looks nice!

[2017-03-19 03:37] timabbott commented on #454
Merged the server fix, so hopefully this should be good once I deploy to chat.zulip.org (should be tonight).

[2017-03-19 03:37] #454 closed

[2017-03-19 13:47] divs4debu commented on #453
![final-land2](https://cloud.githubusercontent.com/assets/9443348/24081389/927acd98-0cd8-11e7-9f57-43bd95df4ac7.png)
![final-pot](https://cloud.githubusercontent.com/assets/9443348/24081390/927f458a-0cd8-11e7-8157-cf67c4266d36.png)

These are the final look for tablet layout in potrait and landscape mode

[2017-03-19 13:48] divs4debu commented on #453
@timabbott do these look fine ?

[2017-03-20 06:58] divs4debu commented on #407
@zulipbot claim

[2017-03-20 20:02] abdulwd commented on #441
Is this issue resolved?

[2017-03-20 20:03] prati0100 commented on #441
@abdulwd Yeah, I'm almost done. I'll create a PR tomorrow.

[2017-03-20 20:29] abdulwd commented on #435
May I work on this issue?

[2017-03-20 20:56] abdulwd commented on #381
Is this issue still open?

[2017-03-20 21:00] Sam1301 commented on #435
@abdulwd sure.

[2017-03-20 21:06] abdulwd commented on #344
I would like to work on this issue.

[2017-03-21 04:56] kunall17 opened #474 "Messages sent in a group private chat shows in wrong place"
Messages sent in a group private chat often shows under a private chat message header

[2017-03-21 18:01] meghalagrawal commented on #459
Do we have any other Information about this ?

Any other instance of crashing ?

[2017-03-21 18:03] timabbott commented on #459
I think someone will need to read the code around this stack to debug this.

[2017-03-21 18:15] #467 closed

[2017-03-21 18:24] meghalagrawal commented on #459
I investigated and got 1 Thing.

The Lines Number of Methods is Changed.

And this branch has not got any Merge done after 13th.

This suggests that either this is issue on old code. I am looking into previous commits when the Line Numbers are matching the case.

[2017-03-21 18:55] meghalagrawal commented on #381
Is issue still open ?

[2017-03-21 18:56] meghalagrawal commented on #456
What are the updates on this ?

[2017-03-21 18:59] meghalagrawal commented on #456
What do you prefer? Should we just show dialog to user or should we shop a Toast message ?

[2017-03-21 19:06] Sam1301 commented on #381
@meghalagrawal I guess not, a pr has been opened for this.

[2017-03-21 19:09] Sam1301 commented on #459
@meghalagrawal this bug is for release v1.2.1 (https://github.com/zulip/zulip-android/releases/tag/1.2.1) hence the line numbers may have changed.

[2017-03-21 19:42] maxymilianz commented on #459
I think I've found out, what this bug is about. In my opinion, `public boolean scrolledToLastMessage()`, which is in MessageListFragment.java (line 790) should first check, what `linearLayoutManager.findLastVisibleItemPosition()` returns and then, if it != -1, call `adapter.getItem(int position)` method with it as an argument. If it == -1, then we should change it to some default value.
So it shou

[2017-03-21 19:51] meghalagrawal commented on #459
This is a solution but the thing is this is not the real Culprit.

We should know in which case is it Returning -1 ?? and why ?

[2017-03-21 19:59] meghalagrawal commented on #383
Do we need to do this?

As we are moving towards React Native app so What do you suggest ??

[2017-03-21 20:09] meghalagrawal commented on #474
I don't think it's the case!
Can you please tell me in which case this is happening?

[2017-03-21 20:22] meghalagrawal commented on #382
@zulipbot close-issue

[2017-03-21 20:44] timabbott commented on #383
Yeah I think this is a sufficiently marginal feature that we should just skip it.  We just implemented this feature in the RN app.

[2017-03-21 20:44] #383 closed

[2017-03-22 10:34] nitish1211 commented on #456
Hi @meghalagrawal I had been busy lately so coudn't update this. I had started work on this.
I think a dialog box would better explain the thing.

[2017-03-22 13:31] kunall17 commented on #474
@meghalagrawal have a look here!

![ezgif-3-8196a801e1](https://cloud.githubusercontent.com/assets/12700799/24200074/e1446500-0f31-11e7-9986-7ec4591de343.gif)

[2017-03-22 13:34] kunall17 commented on #474
But yeah, I agree it doesn't happen all the time it works for smaller groups, haven't re-checked the code, and yeah the dummy text has nothing to do with how this narrow functions!

[2017-03-22 14:45] divs4debu commented on #407
@Sam1301 @vishwesh3 Sorry i was looking at the problem , i am not sure i completely got it , i need to ask what is the final outcome that we want it to show? Will you please help?

[2017-03-22 15:01] Sam1301 commented on #407
@divs4debu here if the stream names differ only by case, then the two streams are treated as different, which is incorrect (see the web client chat.zulip.org).
So, for eg: if 2 streams are "Android" and "android", the expected outcome would be a single stream named "android" in the streams drawer, which shows all messages from current (buggy behaviour) "Android" and "android" stream when narrowed.

[2017-03-22 15:10] divs4debu commented on #407
@Sam1301 So we want that both  topics should show as one in the stream and as a whole treated as same topic ? i mean to ask that only one should exist ?

[2017-03-22 15:11] Sam1301 commented on #407
yep

[2017-03-22 16:57] divs4debu commented on #458
@Sam1301 @zeerorg
What i think is happening is that
in [https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/widget/ZulipRemoteViewsFactory.java](url)

` try {
            messageList = queryBuilder.query();
        } catch (SQLException e) {
            ZLog.logException(e);
        }`

This particular code is being executed i.e if querybuilder.query() returns a

[2017-03-22 22:40] timabbott opened #476 "Crash in CustomHtmlToSpannedConverter"
This is a crash from crashlytics; it happens on app open reliably for one user against chat.zulip.org (not sure what's special about his data).

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
       at java.io.StringReader.<init>(StringReader.java:47)
       at com.zulip.android.util.CustomHtmlToSpannedCo

[2017-03-23 19:32] prati0100 commented on #441
Okay, so I tried a fix but that produces some bugs elsewhere so I'm not gonna push that. I tried to find where the problem is. Here's what I found:

The method `addNewMessage()` (in RecyclerMessageAdapter.java, line 290) is called when a new message arrives. If the view is narrowed to a stream, it should only show the number of messages in that stream or topic when `getItemCount(false)` is called.

[2017-03-24 14:29] vishwesh3 commented on #441
@prati0100 We have fragments for each view. When app launches `homeList` fragment is set. And on narrow `homeList` fragment is pushed into the stack and another fragment `narrowedList` is set.

Now whenever new message  arrives  [onNewMessages](https://github.com/zulip/zulip-android/blob/master/app/src/main/java/com/zulip/android/activities/ZulipActivity.java#L2584) is called from `ZulipActivity`

[2017-03-24 18:46] abdulwd commented on #435
@Sam1301 @saketkumar95  I think **Legal Information** option should be replaced by **About** or **Settings**. Should I create a Settings activity containing an **About** section only (for the time being) or should I add **About** option to the overflow menu?
The about section in both the cases will contain the following options:

- Name and version of the app
- Copyright notice
- A mention that th

[2017-03-24 21:22] abhaymaniyar commented on #439
I am working on it.

[2017-03-24 21:25] abhaymaniyar opened #479 "No confirmation on logout."
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

When user clicks on the logout option, it logs the user out without any confirmation. So even if user clicks it by mistake, app throws him out on login screen.

**Expected Behaviour**

A confirmation should be there to prevent user from logging out by mistake.

**Would you like to work on the issue?**

Yes

[2017-03-24 21:25] abhaymaniyar commented on #479
@zulipbot claim-issue

[2017-03-26 02:07] synicalsyntax commented on #382
Hello @Subhankar29, @meghalagrawal, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to wo

[2017-03-26 02:07] synicalsyntax commented on #399
Hello @vishwesh3, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something el

[2017-03-26 02:07] synicalsyntax commented on #407
Hello @divs4debu, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something el

[2017-03-26 02:07] synicalsyntax commented on #439
Hello @abhaymaniyar, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #442
Hello @zeerorg, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else

[2017-03-26 02:07] synicalsyntax commented on #453
Hello @divs4debu, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something el

[2017-03-26 02:07] synicalsyntax commented on #456
Hello @nitish1211, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something e

[2017-03-26 02:07] synicalsyntax commented on #479
Hello @abhaymaniyar, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 06:34] willdeed commented on #1
Cheers, Tim!

[2017-03-26 13:44] maxymilianz commented on #476
The following is kind of ad hoc solution, but seems to be working:
`if (mSource != null)
                mReader.parse(new InputSource(new StringReader(mSource)));
            // ELSE HANDLE ERROR`

[2017-03-28 22:34] dehnert commented on #476
FWIW, I just hit the ~"declare bankruptcy" button in the webapp and the Android app seemed to start working again. If you're having trouble reproducing (though it sounds like maybe @maxymilianz did?), it might be worth trying to get a couple thousand unread messages.

[2017-03-29 11:29] #441 closed

[2017-03-29 11:30] kunall17 commented on #441
Thanks for reporting this @vbNETonIce and has been fixed by #477

[2017-04-03 08:25] #230 closed

[2017-04-04 14:09] divs4debu opened #481 ""HomeList" message fragment list dont show messages on back press"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**
The Home fragment appears  empty if pressed back after narrowing the stream and then selecting any sub stream and then pressed back.
![issue_home_list](https://cloud.githubusercontent.com/assets/9443348/24660428/2390e056-196d-11e7-9553-0974a6aa7e1b.png)

Here is the short video too.
[https://drive.google.com/open?id=0BzZ

[2017-04-05 02:39] divs4debu commented on #427
I was trying to solve this issue and in research for this i emailed travis developers. This is the screen shot of their reply
![photo6280457164736800687](https://cloud.githubusercontent.com/assets/9443348/24687382/f1ee56e0-19d6-11e7-9d7c-b014fd4637d4.jpg)

After researching for the solution i found this tool-
https://github.com/checkstyle/checkstyle

I am working on this. I would like to have your

[2017-04-06 16:00] divs4debu commented on #427
@kunall17 any review over this?

[2017-04-07 14:26] divs4debu commented on #407
@zulipbot abandon

[2017-04-07 14:29] divs4debu opened #482 "Appbar layout doest not show back on scrolling down."
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**
The Appbar layout in main.xml hides when scroll up but doesnt shows on scroll down.

**Expected Behaviour**
The expected behaviour would be to show both appbar and fab on scroll down.

**Would you like to work on the issue?**

Let us know if this issue should be assigned to you.
YES

[2017-04-07 14:29] divs4debu commented on #482
@zulipbot claim

[2017-04-07 14:43] divs4debu commented on #482
@kunall17 @Sam1301 Please review this issue

[2017-04-08 11:03] #399 closed

[2017-04-08 11:07] #302 closed

[2017-04-08 13:08] kunall17 commented on #482
Fixed via 855755bb549cac7ebac65236ee61df7fd2253e9a

[2017-04-08 13:08] #482 closed

[2017-04-08 13:08] kunall17 commented on #481
Fixed via 855755bb549cac7ebac65236ee61df7fd2253e9a

[2017-04-08 13:08] #481 closed

[2017-04-10 13:06] divs4debu commented on #440
![dulicateavatar](https://cloud.githubusercontent.com/assets/9443348/24862962/8d9b1bb6-1e1c-11e7-95d9-60818eafbe37.png)
@timabbott Is this you are asking for?

[2017-04-10 14:57] vishwesh3 commented on #440
@divs4debu this is fixed in https://github.com/zulip/zulip-android/pull/437

[2017-04-12 00:17] timabbott commented on #440
@vishwesh3 what is that PR blocked on?  We should try to get it finished.

(Also, that screenshot isn't right, in that we probably don't want the dates in there in every line, either).

[2017-04-12 13:44] vishwesh3 commented on #440
Yes, that is ready for review.

[2017-04-14 06:59] divs4debu commented on #427
@kunall17 Please review.

[2017-04-14 07:07] divs4debu opened #485 "Activity and fragment doesnot retain its state"
**Actual Behaviour**
On rotation or when turning night mode on the activity restarts and starts fresh and donot retain where we left.

**Expected Behaviour**
When activity is rotated or in other circumstances like turning on night mode the resulting state must retain the previous state data bundle.

**Would you like to work on the issue?**
This could be solved using onSavedInstanceState and saving

[2017-04-14 07:08] divs4debu commented on #485
@timabbott @kunall17 @saketkumar95 @Sam1301  Please review this issue.

[2017-04-15 06:32] kunall17 commented on #485
Its already done here, but the PR is WIP https://github.com/zulip/zulip-android/pull/414

[2017-04-16 11:17] kunall17 commented on #427
Awesome, this seems promising! 👍
By any chance you did some testing with the library you mentioned?

Apologies for the late reply!

[2017-04-16 11:36] vishwesh3 commented on #427
(There are some inbuilt code patterns checks in Codacy )
https://support.codacy.com/hc/en-us/articles/207994335-Code-Patterns

[2017-04-16 14:16] divs4debu commented on #427
@kunall17  I was waiting for someone to approve my findings , Now i will start working on it.

[2017-04-16 14:20] divs4debu commented on #427
@vishwesh3 Yup codacy provide that support . I think we can have discussion for integration of codacy too, but if we are able to do that with travis ci that would be better option .

[2017-04-19 11:47] #459 closed

[2017-04-19 18:18] Sam1301 commented on #476
Since `formattedContent` is never set to any value in the existing code except while updating messages in case of update events, I wonder if its possible for `content` field to be null for GET v1/messages or `rendered_content` to be null in case of update_message events? Or perhaps this has been a bug in the past? (cc @timabbott)

[2017-04-19 18:24] timabbott commented on #476
Ahh, yes, in an `update_message` event that only changes the topic (and not the content), `rendered_content` will not be present in the `update_message` event.

[2017-04-19 18:27] Sam1301 commented on #476
oh yeah, thanks, verified 👍

[2017-04-21 14:31] #453 closed

[2017-04-22 07:28] #476 closed

[2017-04-23 12:35] #385 closed

[2017-04-23 12:35] #440 closed

[2017-04-26 18:00] #485 closed

[2017-04-26 18:08] divs4debu commented on #457
@Sam1301  any ways we could reproduce it?

[2017-04-26 18:33] Sam1301 commented on #457
@divs4debu I couldn't reproduce this error, you'd have to look closely at the logs.
Following the previous comments, one could also try to run zulip v1.4.x and run the app against it.

[2017-04-29 14:04] vbNETonIce opened #487 "feature request: make images zoomable"
after clicking on an image it can't be zoomed in on which is unhelpful on a 5-6" screen and a full screen, full HD screenshot for example.

[2017-04-29 17:47] vishwesh3 opened #488 "Person field is not auto filled when message is clicked in self narrow"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

![ezgif com-crop 7](https://cloud.githubusercontent.com/assets/18511177/25557522/b97a1818-2d30-11e7-8539-6f4df0945e9e.gif)

**Expected Behaviour**

Email should auto fill.

**Would you like to work on the issue?**

Yes

[2017-04-29 17:52] vishwesh3 commented on #488
@zulipbot claim

[2017-04-29 22:13] vishwesh3 opened #490 "Floating recipient bar shifts below when chatbox is swiped"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

![ezgif com-crop 8](https://cloud.githubusercontent.com/assets/18511177/25559408/ea8cb49e-2d56-11e7-86c6-b888d5aadbd3.gif)

**Expected Behaviour**

It should not shift.

**Would you like to work on the issue?**

Yes

[2017-04-29 22:14] vishwesh3 commented on #490
@zulipbot claim

[2017-04-29 22:40] vishwesh3 opened #492 "Layout issue: toolbar shifts up when keyboard pop's up && message list is empty."
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

![ezgif com-crop 9](https://cloud.githubusercontent.com/assets/18511177/25559555/7e350612-2d5a-11e7-8345-04f2444ea880.gif)

**Expected Behaviour**

It should not shift.

**Would you like to work on the issue?**

Yes

[2017-04-29 22:41] vishwesh3 commented on #492
@zulipbot claim

[2017-05-04 18:59] #492 closed

[2017-05-04 18:59] #488 closed

[2017-05-04 18:59] #490 closed

[2017-05-04 21:31] Sam1301 opened #494 "Not able to login to chat.zulip.org"
logs
`05-04 17:27:08.480 3502-3687/com.zulip.android.dev D/OkHttp: <-- 405 Method Not Allowed https://chat.zulip.org/api/v1/get_auth_backends (1280ms)`

[2017-05-04 21:34] timabbott commented on #494
This is probably a result of a server-side change I made to require that request be done as a GET.  I take it we're actually doing a POST?  Can you confirm?

I think the fix for compatibility will be to undo that change in the server, but we may also want to switch the app to use POST.

[2017-05-04 21:37] Sam1301 commented on #494
yep, the app does a POST request

[2017-05-04 21:38] timabbott commented on #494
OK, it's a bug in the app but we need to revert the server change.  Thanks for catching this!

[2017-05-04 21:39] timabbott commented on #494
Merged 33ecfd7da40a41a2f7c8192c329c4f50f4460a54; I'll deploy it on chat.zulip.org shortly.

[2017-05-04 21:47] Sam1301 opened #495 "Emoji: Shift from an <img> tag to a new <span class="emoji emoji-1f4a7"> style"

[2017-05-07 17:09] #494 closed

[2017-05-07 17:09] #495 closed

[2017-05-16 19:35] timabbott commented on #112
The server-side work for this was completed just now, and will be in Zulip 1.6.  I'm going to write up some documentation for how it needs to be setup and post it here soon.

[2017-05-16 19:36] timabbott commented on #112
(No client-side changes are needed other than possibly a logout+login, so closing this).

@kunall17 @vishwesh3 can one of you investigate whether one needs to logout and then login again to cause the app to register for GCM, or whether that happens automatically whenever the app is opened?  We'll want to include that detail in the documentation.

[2017-05-16 20:39] #112 closed

[2017-05-19 04:55] Ramkishorevit commented on #487
@zulipbot claim-issue

[2017-05-19 16:26] Ramkishorevit commented on #479
@zulipbot claim-issue

[2017-05-20 22:31] #479 closed

[2017-05-21 18:43] saketkumar95 opened #502 "Better inactive icon"
There should be a better inactive icon same as that on the web.

[2017-05-23 17:32] #487 closed

[2017-05-23 18:37] kunall17 opened #503 "Camera opening on clicking the message push notification"

[2017-05-24 18:05] #503 closed

[2017-05-25 07:44] abhaymaniyar commented on #439
@zulipbot abandon

[2017-06-02 21:16] timabbott opened #505 "Theme is lost when closing/reopening the app"
This is from beta feedback on the app:

Bug: If you select a dark theme and close the application, a light theme will be displayed when you open it.

[2017-06-03 05:39] vishwesh3 commented on #505
@zulipbot claim

[2017-06-03 19:29] kunall17 commented on #502
@saketkumar95 can you fix this issue?

[2017-06-03 19:40] saketkumar95 commented on #502
Sure. :)

[2017-06-04 00:22] #502 closed

[2017-06-04 17:04] timabbott opened #508 "Clicking on a link to an uploaded image 404s in the app"
If you upload an image file in Zulip, there will be 2 ways in the message to see the image.  One is to click on the image preview itself, which opens a lightbox and works great.  The second is to click the link text in the message; that 404s with a totally broken URL.

[2017-06-25 08:03] jsmanrique opened #509 "Reset/resend password option not present"
**Actual Behaviour**

As usual, I have forgotten the password. I don't see an option to reset/send it to my email

**Expected Behaviour**

There is no `forgot password?` checkbox or whatever to ask for resetting or sending it to my email

**Would you like to work on the issue?**

I don't have enough knowledge to do it

[2017-06-26 08:20] kunall17 commented on #509
Thanks for reporting this! :)

We are kinda deprecating this native java app, and focusing on the react native cross platform implementation of the app, its in beta phase right now but will be released in the coming weeks and hopefully we'll include this feature.

Would love to hear feedback from you.

[2017-07-07 17:01] jrowan opened #511 "@-mention suggestions don't keep appearing after hitting space"
**Actual Behaviour**

Suppose I am trying to @-mention "James Rowan." When I type @James, a long list of suggested users to @-mention shows up, sorted in alphabetical order.  I can scroll down to find "James Rowan," but if I type @James R, I no longer get the list of matching usernames.

This was noticed by a couple of prospective users evaluating Zulip at https://chat.zulip.org/#narrow/stream/tes

[2017-07-07 23:35] timabbott commented on #509
@kunall17 do we need a "reset password" option in the new app?  If so, we should transfer this issue to that project and fix it.

[2017-07-07 23:58] saketkumar95 commented on #509
@timabbott Actually I added the forgot password option in the RN app which currently opens up the reset password link. Checkout this : https://github.com/zulip/zulip-mobile/pull/785

[2017-07-08 00:08] timabbott commented on #509
Great!

[2017-07-08 00:15] saketkumar95 commented on #509
I think we need to close this issue ?

[2017-07-08 02:11] kunall17 commented on #511
Thanks for the issue reporting, we are kinda deprecating this project, so most of the developers are working on the new one, So this issue might not be fixed here but will be definitely fixed in the react native app! 👍

[2017-08-09 04:12] #505 closed

[2017-08-31 09:00] #509 closed

[2017-11-30 13:47] Hrily commented on #508
I would like to contribute to this issue.

[2018-01-22 15:19] harsh-2711 commented on #435
Is this issue still open?? I wanna work on this..

[2018-01-22 16:59] kunall17 commented on #435
Hey @harsh-2711 we have deprecated this project and the mobile app is being actively built through react native here https://github.com/zulip/zulip-mobile

[2018-01-23 12:21] matthiasrambow opened #514 "openid authentification not working"
When trying to connect to a Zulip server authenticating via an OpenID Connect service, the user is not forwarded to the service's login page. Instead just the server name and logo is shown. Consequently a log in to this server is impossible. In the browser and in the desktop app everything is working as expected.

[2018-01-23 15:49] timabbott commented on #514
@matthiasrambow is this a report about the legacy Android app, or the current one?  The current one is https://github.com/zulip/zulip-mobile.

[2018-01-24 07:18] matthiasrambow commented on #514
@timabbott I actually wanted to report for the current one, but the legacy app shows similar behavior. The user is stuck in the login screen with no possibility to log in.  I'll copy my issue to the zulip-mobile repo.

[2018-04-02 04:45] ariefmunanzar opened #515 "New Logo Proposal for Zulip"
Hi Author :)
I'm a graphic designer and i'm willing to design an icon and a logo for your application and i need your permission before start .

Thank you.

[2018-04-03 09:40] jainkuniya commented on #515
hi, Thanks for your interest, we are kinda deprecating this project, so most of the developers are working on the new one (https://github.com/zulip/zulip-mobile), So we might need this in the react native app! 👍

Sorry for the delayed reply.

Lets move this discussion to https://chat.zulip.org for faster discussion & feedback from other members of the community.

[2018-05-10 10:48] stiobhan opened #516 "Log in with username impossible"
With version 13.2.86 on Android

**Actual Behaviour**

I start the app and enter our organization's URL, then I see two buttons labeled "Log in with password". If I select the first one, a dialog shows up to enter email and password. If I press the second one a dialog shows up to enter username and password. In *both* dialogs the Log in button is greyed out until I enter a password and something t

[2018-05-10 10:57] stiobhan commented on #516
Sorry, I noticed this is the wrong project. I created a new report under zulip-mobile.

[2018-05-10 10:57] #516 closed

[2018-07-17 15:35] abhigyank commented on #218
@borisyankov I think this is available in the current version of the app and we can close this issue?

[2018-11-12 14:20] 0rmi opened #519 "Custom emoji in the emoji picker and auto complete?"
Unless it's some bug in my app, custom emotes don't show up in the auto complete list when you start typing :emotename and also can't be found in the emoji picker. Any plans to implement this? Alternatively, could someone point me in the direction of the piece of code where the app grabs the list of emotes to display for auto complete, and the emote picker, so maybe i can try to implement it in my

[2018-11-12 15:01] #519 closed

[2018-11-12 19:45] timabbott commented on #519
I assume you moved this issue to zulip/zulip-mobile, the project that is still in use?

[2018-11-13 08:18] 0rmi commented on #519
Yes, i realized i was posting in a depreciated repository

[2018-11-26 18:44] timabbott commented on #398
@davimack this project is for the deprecated Android app, and probably not what you're using.  Check out https://github.com/zulip/zulip-mobile/issues.

[2018-11-26 18:44] timabbott commented on #398
(Thanks for the feedback, BTW)

[2019-01-15 06:29] winmasta opened #520 "New private message is unavailable to read"
[Read our guide on bug reports here](./ISSUES_GUIDE.md)

**Actual Behaviour**

When I got new private message I open chat and can see New message but when I try to reach it by scrolling down I can't see it in chat flow. Message becomes available much later, I can't check any dependoncies about it.

**Expected Behaviour**

Expected to see new message in chat flow as soon as it was recieved.

**Woul

[2019-01-15 19:55] timabbott commented on #520
@winmasta you're almost certainly using https://github.com/zulip/zulip-mobile/issues, not this old project.  In any case, that specific issue is known and will be fixed in a release in the next few days.  Sorry for the confusion!  I've updated the issue template for this project to make clear what's going on for future folks.

[2019-01-15 19:55] #520 closed

[2019-02-01 03:52] gurpreet9001 opened #521 "Cross platform support"
A better cross platform framework such as Flutter should be used because it is blooming and has a great support from google.

[2019-02-04 17:48] jainkuniya commented on #521
Thanks!, we are kinda deprecating this project, so most of the developers are working on the new react-native project, So it will be great to have discussion [there](gtihub.com/zulip/zulip-mobile) or chat.zulip.org.

Thanks again!

[2019-02-18 22:06] noone1337 commented on #245
@timabbott
Is it on you screen that Google deprecated GCM in April 2018 and it will be shutdown on April 11th, 2019.

https://android-developers.googleblog.com/2018/04/time-to-upgrade-from-gcm-to-fcm.html

https://developers.google.com/cloud-messaging/ also shows a red notice

[2019-02-18 23:55] timabbott commented on #245
@noone1337 this repository is stale, for a desupported dead version of the app.  Closing as this has already been fixed for zulip/zulip-mobile, the active app.

[2019-02-18 23:55] #245 closed

[2019-04-12 19:57] #521 closed

[2020-03-30 15:27] hi-ko commented on #47
Is there any progress for multiple accounts / servers in the sampe Andoid App?
Push message should be shown for all accounts configured and clicking on a notification should switch to the correct account in the android app.

[2020-03-30 20:54] timabbott commented on #47
This is the wrong repository for the current Zulip mobile app; see http://github.com/zulip/zulip-mobile.  That project does, as of recently, switch on clicking a notification.

[2020-03-30 20:54] #47 closed